workflows/answer-from-memory.json
{
  "name": "answer-from-memory",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "answer-from-memory",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-answer-from-memory",
      "name": "Answer From Memory Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        300
      ],
      "webhookId": "answer-from-memory"
    },
    {
      "parameters": {
        "jsCode": "const payload = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\nconst query = typeof payload.query === 'string' ? payload.query.trim() : '';\nconst context = typeof payload.context === 'string' ? payload.context.trim() : '';\nconst runId = typeof payload.run_id === 'string' && payload.run_id.trim() !== '' ? payload.run_id.trim() : 'answer-from-memory-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8);\nconst correlationId = typeof payload.correlation_id === 'string' && payload.correlation_id.trim() !== '' ? payload.correlation_id.trim() : runId;\nconst withStage = (trace, stage, status, extra = {}) => {\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (trace.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (trace.error_message ?? null);\n  return {\n    ...trace,\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...(Array.isArray(trace.stage_history) ? trace.stage_history : []),\n      { stage, status, timestamp, error_code: errorCode, error_message: errorMessage },\n    ],\n  };\n};\nconst trace = {\n  run_id: runId,\n  correlation_id: correlationId,\n  workflow_name: 'answer-from-memory',\n  project_slug: typeof payload.project_slug === 'string' && payload.project_slug.trim() ? payload.project_slug.trim() : null,\n  source_type: 'memory_answer_request',\n  filename: null,\n  filepath: null,\n  stage: 'received',\n  status: 'received',\n  error_code: null,\n  error_message: null,\n  timestamp: new Date().toISOString(),\n  workflow_chain: ['answer-from-memory'],\n  stage_history: [],\n};\nif (!query || !context) {\n  return [{ json: { ok: false, error: { code: 'INVALID_INPUT', message: 'Missing query or context', classification: 'validation', retryable: false }, trace: withStage(trace, 'validation', 'rejected', { error_code: 'INVALID_INPUT', error_message: 'Missing query or context' }) } }];\n}\nreturn [{ json: { ok: true, answer: 'Placeholder answer based on provided memory context.', query, context_length: context.length, trace: withStage(trace, 'answer_ready', 'succeeded') } }];"
      },
      "id": "code-validate-and-build-answer",
      "name": "Validate And Build Answer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "respond-answer-from-memory",
      "name": "Respond Answer From Memory",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        860,
        300
      ]
    }
  ],
  "connections": {
    "Answer From Memory Webhook": {
      "main": [
        [
          {
            "node": "Validate And Build Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate And Build Answer": {
      "main": [
        [
          {
            "node": "Respond Answer From Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "versionId": "fe692e06-16dc-4144-84d8-391a06e2da3a",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "answer-from-memory"
}
