workflows/assistant.json
{
  "name": "assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assistant",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-assistant",
      "name": "Assistant Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        300
      ],
      "webhookId": "assistant"
    },
    {
      "parameters": {
        "jsCode": "const workflowName = 'assistant';\nconst payload = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\nconst rawQuery = typeof payload.message === 'string' ? payload.message : payload.query;\nconst rawProjectSlug = payload.project_slug;\nconst rawSessionId = payload.session_id;\nconst rawTopK = payload.top_k;\nconst runId = typeof payload.run_id === 'string' && payload.run_id.trim() !== ''\n  ? payload.run_id.trim()\n  : 'cb-assistant-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8);\nconst correlationId = typeof payload.correlation_id === 'string' && payload.correlation_id.trim() !== ''\n  ? payload.correlation_id.trim()\n  : runId;\nconst slugPattern = /^[a-z0-9]+(?:[-_][a-z0-9]+)*$/;\nconst baseTrace = {\n  run_id: runId,\n  correlation_id: correlationId,\n  workflow_name: workflowName,\n  project_slug: null,\n  source_type: 'assistant_request',\n  filename: null,\n  filepath: null,\n  stage: 'received',\n  status: 'received',\n  error_code: null,\n  error_message: null,\n  timestamp: new Date().toISOString(),\n  workflow_chain: [workflowName],\n  stage_history: [],\n};\nconst withStage = (trace, stage, status, extra = {}) => {\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (trace.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (trace.error_message ?? null);\n  return {\n    ...trace,\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...(Array.isArray(trace.stage_history) ? trace.stage_history : []),\n      {\n        stage,\n        status,\n        timestamp,\n        error_code: errorCode,\n        error_message: errorMessage,\n      },\n    ],\n  };\n};\nconst buildError = (code, message) => [{\n  json: {\n    ok: false,\n    error: {\n      code,\n      message,\n      classification: 'validation',\n      retryable: false,\n    },\n    query: null,\n    session_id: null,\n    project_slug: null,\n    top_k: null,\n    retrieval: {\n      strategy: 'project-first-fallback-general',\n      project_match_count: 0,\n      general_match_count: 0,\n      memory_count: 0,\n      strongest_similarity: null,\n      similarity_threshold: 0.72,\n      empty: true,\n    },\n    sources: [],\n    context_preview: '',\n    session: {\n      turn_count_before: 0,\n      history_used: false,\n      stored: false,\n    },\n    trace: withStage(baseTrace, 'validation', 'rejected', {\n      error_code: code,\n      error_message: message,\n    }),\n  },\n}];\nif (typeof rawQuery !== 'string' || rawQuery.trim() === '') {\n  return buildError('INVALID_INPUT', 'Missing or invalid query/message');\n}\nif (rawProjectSlug !== undefined && rawProjectSlug !== null && typeof rawProjectSlug !== 'string') {\n  return buildError('INVALID_PROJECT_SLUG', 'project_slug must be a string when provided');\n}\nif (rawSessionId !== undefined && rawSessionId !== null && typeof rawSessionId !== 'string') {\n  return buildError('INVALID_SESSION_ID', 'session_id must be a string when provided');\n}\nif (rawTopK !== undefined && rawTopK !== null && (!Number.isInteger(rawTopK) || rawTopK < 1 || rawTopK > 8)) {\n  return buildError('INVALID_TOP_K', 'top_k must be an integer between 1 and 8');\n}\nconst query = rawQuery.trim();\nconst projectSlug = typeof rawProjectSlug === 'string' ? rawProjectSlug.trim() : '';\nif (projectSlug && !slugPattern.test(projectSlug)) {\n  return buildError('INVALID_PROJECT_SLUG', 'project_slug must use lowercase slug characters only');\n}\nconst sessionId = typeof rawSessionId === 'string' && rawSessionId.trim() !== ''\n  ? rawSessionId.trim()\n  : 'crispybrain-session-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8);\nconst topK = Number.isInteger(rawTopK) ? rawTopK : 5;\nreturn [{\n  json: {\n    request_ok: true,\n    query,\n    session_id: sessionId,\n    project_slug: projectSlug || null,\n    top_k: topK,\n    retrieval_strategy: 'project-first-fallback-general',\n    requested_at: new Date().toISOString(),\n    trace: withStage({\n      ...baseTrace,\n      project_slug: projectSlug || null,\n    }, 'normalized', 'accepted', {\n      project_slug: projectSlug || null,\n    }),\n  },\n}];"
      },
      "id": "code-normalize-assistant-request",
      "name": "Normalize Assistant Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-request-ok",
              "leftValue": "={{ $json.request_ok === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-request-is-valid",
      "name": "Request Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(\n  jsonb_agg(row_to_json(turns) ORDER BY turns.created_at),\n  '[]'::jsonb\n) AS session_turns\nFROM (\n  SELECT role, message_text, project_slug, created_at, metadata_json\n  FROM (\n    SELECT role, message_text, project_slug, created_at, metadata_json\n    FROM openbrain_chat_turns\n    WHERE session_id = $1::text\n    ORDER BY created_at DESC\n    LIMIT 6\n  ) recent\n  ORDER BY created_at ASC\n) turns;",
        "options": {
          "queryReplacement": "={{ [$json.session_id] }}"
        }
      },
      "id": "postgres-load-session-turns",
      "name": "Load Session Turns",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1160,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "j60Gpt1oeRVTUCH2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/embed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'nomic-embed-text', input: $('Normalize Assistant Request').first().json.query, truncate: true }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "http-generate-query-embedding",
      "name": "Generate Query Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1460,
        160
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const request = $('Normalize Assistant Request').first().json;\nconst sessionTurns = $('Load Session Turns').first().json.session_turns ?? [];\nconst statusCode = $json.statusCode ?? 0;\nconst body = $json.body ?? {};\nconst embeddings = body.embeddings;\nconst withStage = (trace, stage, status, extra = {}) => {\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (trace.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (trace.error_message ?? null);\n  return {\n    ...trace,\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...(Array.isArray(trace.stage_history) ? trace.stage_history : []),\n      { stage, status, timestamp, error_code: errorCode, error_message: errorMessage },\n    ],\n  };\n};\nconst sessionTrace = withStage(request.trace, 'session_loaded', 'accepted', {\n  project_slug: request.project_slug ?? null,\n});\nif (statusCode < 200 || statusCode >= 300 || !Array.isArray(embeddings) || !Array.isArray(embeddings[0])) {\n  return [{\n    json: {\n      ...request,\n      session_turns: Array.isArray(sessionTurns) ? sessionTurns : [],\n      embedding_ok: false,\n      error: {\n        code: 'OLLAMA_EMBEDDING_FAILED',\n        message: 'Ollama embedding request failed',\n        status: statusCode || null,\n        details: body.error ?? null,\n        classification: 'transient',\n        retryable: true,\n      },\n      trace: withStage(sessionTrace, 'embedding_failed', 'failed', {\n        error_code: 'OLLAMA_EMBEDDING_FAILED',\n        error_message: 'Ollama embedding request failed',\n      }),\n    },\n  }];\n}\nconst vector = embeddings[0];\nreturn [{\n  json: {\n    ...request,\n    session_turns: Array.isArray(sessionTurns) ? sessionTurns : [],\n    embedding_ok: true,\n    candidate_limit: Math.min(Math.max(request.top_k * 4, request.top_k), 32),\n    vector_literal: '[' + vector.join(',') + ']',\n    trace: withStage(sessionTrace, 'embedding_ready', 'accepted'),\n  },\n}];"
      },
      "id": "code-prepare-retrieval-input",
      "name": "Prepare Retrieval Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-embedding-ready",
              "leftValue": "={{ $json.embedding_ok === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-embedding-ready",
      "name": "Embedding Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2060,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const withStage = (trace, stage, status, extra = {}) => {\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (trace?.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (trace?.error_message ?? null);\n  return {\n    ...(trace || {}),\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...((trace && Array.isArray(trace.stage_history)) ? trace.stage_history : []),\n      { stage, status, timestamp, error_code: errorCode, error_message: errorMessage },\n    ],\n  };\n};\nreturn [{\n  json: {\n    ok: false,\n    error: $json.error,\n    query: $json.query,\n    session_id: $json.session_id,\n    project_slug: $json.project_slug ?? null,\n    top_k: $json.top_k,\n    retrieval: {\n      strategy: $json.retrieval_strategy,\n      project_match_count: 0,\n      general_match_count: 0,\n      memory_count: 0,\n      strongest_similarity: null,\n      similarity_threshold: 0.72,\n      empty: true,\n    },\n    trust: {\n      overall_band: 'low',\n      evidence_strength: 'none',\n      reviewed_source_count: 0,\n      unreviewed_source_count: 0,\n      scope_match_count: 0,\n      high_trust_source_count: 0,\n      medium_trust_source_count: 0,\n      low_trust_source_count: 0,\n      uncertainty_indicator: true,\n      uncertainty_reasons: ['embedding_failed'],\n    },\n    sources: [],\n    context_preview: '',\n    session: {\n      turn_count_before: Array.isArray($json.session_turns) ? $json.session_turns.length : 0,\n      history_used: Array.isArray($json.session_turns) ? $json.session_turns.length > 0 : false,\n      stored: false,\n    },\n    trace: withStage($json.trace, 'response_ready', 'failed', {\n      error_code: $json.error?.code ?? 'OLLAMA_EMBEDDING_FAILED',\n      error_message: $json.error?.message ?? 'Ollama embedding request failed',\n    }),\n  },\n}];"
      },
      "id": "code-build-embedding-failure-response",
      "name": "Build Embedding Failure Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2360,
        460
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE((\n    SELECT jsonb_agg(row_to_json(project_rows) ORDER BY project_rows.review_priority, project_rows.distance, project_rows.created_at DESC NULLS LAST, project_rows.id DESC)\n    FROM (\n      SELECT\n        id,\n        created_at,\n        title,\n        source,\n        category,\n        content,\n        metadata_json,\n        COALESCE(NULLIF(metadata_json->>'project_slug', ''), NULL) AS project_slug,\n        COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed') AS review_status,\n        CASE COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed')\n          WHEN 'reviewed' THEN 0\n          WHEN 'unreviewed' THEN 1\n          WHEN 'suspect' THEN 2\n          ELSE 3\n        END AS review_priority,\n        ROUND((1 - (embedding <=> $1::vector))::numeric, 6) AS similarity,\n        (embedding <=> $1::vector) AS distance\n      FROM memories\n      WHERE embedding IS NOT NULL\n        AND COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed') <> 'suppressed'\n        AND $2::text IS NOT NULL\n        AND NULLIF(COALESCE(metadata_json->>'project_slug', ''), '') = $2::text\n      ORDER BY review_priority ASC, distance ASC, created_at DESC NULLS LAST, id DESC\n      LIMIT $3::int\n    ) project_rows\n  ), '[]'::jsonb) AS project_memories,\n  COALESCE((\n    SELECT jsonb_agg(row_to_json(general_rows) ORDER BY general_rows.review_priority, general_rows.distance, general_rows.created_at DESC NULLS LAST, general_rows.id DESC)\n    FROM (\n      SELECT\n        id,\n        created_at,\n        title,\n        source,\n        category,\n        content,\n        metadata_json,\n        COALESCE(NULLIF(metadata_json->>'project_slug', ''), NULL) AS project_slug,\n        COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed') AS review_status,\n        CASE COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed')\n          WHEN 'reviewed' THEN 0\n          WHEN 'unreviewed' THEN 1\n          WHEN 'suspect' THEN 2\n          ELSE 3\n        END AS review_priority,\n        ROUND((1 - (embedding <=> $1::vector))::numeric, 6) AS similarity,\n        (embedding <=> $1::vector) AS distance\n      FROM memories\n      WHERE embedding IS NOT NULL\n        AND COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed') <> 'suppressed'\n        AND COALESCE(NULLIF(metadata_json->>'project_slug', ''), '') = ''\n      ORDER BY review_priority ASC, distance ASC, created_at DESC NULLS LAST, id DESC\n      LIMIT $3::int\n    ) general_rows\n  ), '[]'::jsonb) AS general_memories,\n  COALESCE((\n    SELECT jsonb_agg(row_to_json(all_rows) ORDER BY all_rows.review_priority, all_rows.distance, all_rows.created_at DESC NULLS LAST, all_rows.id DESC)\n    FROM (\n      SELECT\n        id,\n        created_at,\n        title,\n        source,\n        category,\n        content,\n        metadata_json,\n        COALESCE(NULLIF(metadata_json->>'project_slug', ''), NULL) AS project_slug,\n        COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed') AS review_status,\n        CASE COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed')\n          WHEN 'reviewed' THEN 0\n          WHEN 'unreviewed' THEN 1\n          WHEN 'suspect' THEN 2\n          ELSE 3\n        END AS review_priority,\n        ROUND((1 - (embedding <=> $1::vector))::numeric, 6) AS similarity,\n        (embedding <=> $1::vector) AS distance\n      FROM memories\n      WHERE embedding IS NOT NULL\n        AND COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed') <> 'suppressed'\n      ORDER BY review_priority ASC, distance ASC, created_at DESC NULLS LAST, id DESC\n      LIMIT $3::int\n    ) all_rows\n  ), '[]'::jsonb) AS all_memories;\n",
        "options": {
          "queryReplacement": "={{ [$json.vector_literal, $json.project_slug, $json.candidate_limit] }}"
        }
      },
      "id": "postgres-retrieve-candidate-memories",
      "name": "Retrieve Candidate Memories",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2360,
        20
      ],
      "credentials": {
        "postgres": {
          "id": "j60Gpt1oeRVTUCH2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Prepare Retrieval Input').first().json;\nconst projectMemories = Array.isArray($json.project_memories) ? $json.project_memories : [];\nconst generalMemories = Array.isArray($json.general_memories) ? $json.general_memories : [];\nconst allMemories = Array.isArray($json.all_memories) ? $json.all_memories : [];\nconst topK = base.top_k;\nconst similarityThreshold = 0.72;\nconst selected = [];\nconst seen = new Set();\nconst stopTerms = new Set(['what', 'when', 'where', 'which', 'who', 'how', 'this', 'that', 'with', 'from', 'into', 'your', 'about']);\nconst queryTerms = Array.from(new Set(((base.query || '').toLowerCase().match(/[a-z0-9]{4,}/g) ?? []).filter((term) => !stopTerms.has(term))));\nconst exactFilenameQueryMatch = typeof base.query === 'string' ? base.query.match(/^Which note is named (.+?)\\?\\s*$/i) : null;\nconst requestedFilename = exactFilenameQueryMatch ? exactFilenameQueryMatch[1].trim() : '';\nconst normalizeReviewStatus = (value) => {\n  const normalized = typeof value === 'string' && value.trim() !== '' ? value.trim() : 'unreviewed';\n  if (['reviewed', 'suspect', 'suppressed', 'unreviewed'].includes(normalized)) {\n    return normalized;\n  }\n  return 'unreviewed';\n};\nconst reviewPriority = (value) => {\n  const normalized = normalizeReviewStatus(value);\n  if (normalized === 'reviewed') return 0;\n  if (normalized === 'unreviewed') return 1;\n  if (normalized === 'suspect') return 2;\n  return 3;\n};\nconst parseTimestamp = (value) => {\n  if (typeof value !== 'string' || value.trim() === '') {\n    return null;\n  }\n  const parsed = new Date(value);\n  if (Number.isNaN(parsed.getTime())) {\n    return null;\n  }\n  return parsed.toISOString();\n};\nconst timestampValue = (value) => {\n  const normalized = parseTimestamp(value);\n  return normalized ? Date.parse(normalized) : Number.NEGATIVE_INFINITY;\n};\nconst isUsableContent = (content) => {\n  const value = typeof content === 'string' ? content.trim() : '';\n  if (value.length < 20) return false;\n  if (value.includes('\\uFFFD')) return false;\n  const alphaCount = (value.match(/[A-Za-z]/g) ?? []).length;\n  if (alphaCount < 12) return false;\n  const safeCount = (value.match(/[A-Za-z0-9\\s.,:;!?()'\"_\\/-]/g) ?? []).length;\n  return safeCount / value.length >= 0.7;\n};\nconst recencyBand = (timestamp) => {\n  if (!timestamp) return 'unknown';\n  const ageMs = Date.now() - new Date(timestamp).getTime();\n  if (ageMs <= 24 * 60 * 60 * 1000) return 'recent_24h';\n  if (ageMs <= 7 * 24 * 60 * 60 * 1000) return 'recent_7d';\n  if (ageMs <= 30 * 24 * 60 * 60 * 1000) return 'recent_30d';\n  return 'older_than_30d';\n};\nconst chunkSizeBand = (length) => {\n  if (length < 80) return 'small';\n  if (length < 220) return 'medium';\n  if (length < 600) return 'large';\n  return 'xlarge';\n};\nconst summarizeMemory = (memory, scopeProjectSlug = base.project_slug) => {\n  const metadata = memory?.metadata_json && typeof memory.metadata_json === 'object' ? memory.metadata_json : {};\n  return {\n    id: memory?.id ?? null,\n    title: memory?.title ?? null,\n    project_slug: memory?.project_slug ?? null,\n    review_status: normalizeReviewStatus(memory?.review_status ?? metadata.review_status),\n    similarity: typeof memory?.similarity === 'number' ? Number(memory.similarity.toFixed(6)) : null,\n    lexical_overlap: memory?.lexical_overlap ?? null,\n    created_at: parseTimestamp(memory?.created_at) ?? parseTimestamp(metadata.ingested_at),\n    project_match: scopeProjectSlug ? memory?.project_slug === scopeProjectSlug : !memory?.project_slug,\n  };\n};\nconst addMemory = (memory) => {\n  if (!memory || seen.has(memory.id) || selected.length >= topK) {\n    return;\n  }\n  seen.add(memory.id);\n  selected.push(memory);\n};\nif (base.project_slug) {\n  for (const memory of projectMemories) addMemory(memory);\n  for (const memory of generalMemories) addMemory(memory);\n} else {\n  for (const memory of allMemories) addMemory(memory);\n}\nconst usableSelected = selected.filter((memory) => isUsableContent(memory.content));\nconst suspectMemoryCount = selected.length - usableSelected.length;\nconst scoredSelected = usableSelected\n  .map((memory) => {\n    const haystack = ((memory.title ?? '') + '\\n' + (memory.content ?? '')).toLowerCase();\n    const lexicalOverlap = queryTerms.filter((term) => haystack.includes(term)).length;\n    const similarity = typeof memory.similarity === 'number' ? memory.similarity : 0;\n    const metadata = memory.metadata_json && typeof memory.metadata_json === 'object' ? memory.metadata_json : {};\n    const reviewStatus = normalizeReviewStatus(memory.review_status ?? metadata.review_status);\n    const createdAt = parseTimestamp(memory.created_at) ?? parseTimestamp(metadata.ingested_at);\n    return {\n      ...memory,\n      review_status: reviewStatus,\n      review_priority: reviewPriority(reviewStatus),\n      exact_title_match: requestedFilename !== '' && typeof memory.title === 'string' && memory.title.includes(requestedFilename),\n      created_at_sort_value: timestampValue(createdAt),\n      lexical_overlap: lexicalOverlap,\n      passes_relevance: similarity >= similarityThreshold || lexicalOverlap >= 1,\n    };\n  })\n  .sort((left, right) => {\n    if (left.exact_title_match !== right.exact_title_match) {\n      return left.exact_title_match ? -1 : 1;\n    }\n    if (base.project_slug) {\n      const leftProject = left.project_slug === base.project_slug ? 1 : 0;\n      const rightProject = right.project_slug === base.project_slug ? 1 : 0;\n      if (rightProject !== leftProject) {\n        return rightProject - leftProject;\n      }\n    }\n    if (left.review_priority !== right.review_priority) {\n      return left.review_priority - right.review_priority;\n    }\n    if ((right.similarity ?? 0) !== (left.similarity ?? 0)) {\n      return (right.similarity ?? 0) - (left.similarity ?? 0);\n    }\n    if (right.created_at_sort_value !== left.created_at_sort_value) {\n      return right.created_at_sort_value - left.created_at_sort_value;\n    }\n    return (right.id ?? 0) - (left.id ?? 0);\n  });\nconst strongMemories = scoredSelected.filter((memory) => memory.passes_relevance).slice(0, topK);\nconst sessionTurns = Array.isArray(base.session_turns) ? base.session_turns : [];\nconst sessionHistory = sessionTurns\n  .map((turn) => (turn.role === 'assistant' ? 'Assistant' : 'User') + ': ' + turn.message_text)\n  .join('\\n');\nconst candidateLog = {\n  event: 'assistant_retrieval_candidates',\n  correlation_id: base.trace?.correlation_id ?? null,\n  query: base.query,\n  project_slug: base.project_slug ?? null,\n  top_k: topK,\n  candidate_counts: {\n    project: projectMemories.length,\n    general: generalMemories.length,\n    all: allMemories.length,\n    selected: selected.length,\n    usable: usableSelected.length,\n    strong: strongMemories.length,\n  },\n  candidates: selected.slice(0, Math.min(selected.length, 5)).map((memory) => summarizeMemory(memory)),\n};\nconsole.log(JSON.stringify(candidateLog));\nconst buildSource = (memory) => {\n  const metadata = memory.metadata_json && typeof memory.metadata_json === 'object' ? memory.metadata_json : {};\n  const content = typeof memory.content === 'string' ? memory.content.trim() : '';\n  const reviewStatus = normalizeReviewStatus(memory.review_status ?? metadata.review_status);\n  const sourceType = memory.source ?? metadata.source_type ?? 'unknown';\n  const createdAt = parseTimestamp(memory.created_at) ?? parseTimestamp(metadata.ingested_at);\n  const scopeMatch = base.project_slug ? memory.project_slug === base.project_slug : !memory.project_slug;\n  const duplicateCandidate = metadata.duplicate_candidate === true;\n  const length = content.length;\n  const flags = [];\n  if (reviewStatus === 'unreviewed') {\n    flags.push('review_unreviewed');\n  } else if (reviewStatus !== 'reviewed') {\n    flags.push('review_' + reviewStatus);\n  }\n  if (!scopeMatch && base.project_slug) {\n    flags.push('fallback_scope');\n  }\n  if (duplicateCandidate) {\n    flags.push('duplicate_candidate');\n  }\n  if (length < 120) {\n    flags.push('short_chunk');\n  }\n  const recency = recencyBand(createdAt);\n  if (recency === 'older_than_30d') {\n    flags.push('older_source');\n  }\n  if ((memory.similarity ?? 0) < similarityThreshold + 0.04 && (memory.lexical_overlap ?? 0) < 2) {\n    flags.push('borderline_similarity');\n  }\n  let score = 0;\n  if (reviewStatus === 'reviewed') score += 3;\n  else if (reviewStatus === 'unreviewed') score += 1;\n  else score -= 4;\n  if (scopeMatch) score += 2;\n  if (length >= 120) score += 1;\n  if ((memory.similarity ?? 0) >= similarityThreshold + 0.08) score += 2;\n  else if ((memory.similarity ?? 0) >= similarityThreshold + 0.04) score += 1;\n  if (recency === 'recent_24h' || recency === 'recent_7d') score += 1;\n  if (recency === 'older_than_30d') score -= 1;\n  if (duplicateCandidate) score -= 2;\n  if (reviewStatus === 'suppressed') score = -99;\n  const trustBand = score >= 6 ? 'high' : (score >= 3 ? 'medium' : 'low');\n  const uncertaintyReasons = [];\n  if (reviewStatus !== 'reviewed') uncertaintyReasons.push('review_not_confirmed');\n  if (!scopeMatch && base.project_slug) uncertaintyReasons.push('scope_fallback');\n  if (duplicateCandidate) uncertaintyReasons.push('duplicate_candidate');\n  if (recency === 'older_than_30d') uncertaintyReasons.push('stale_source');\n  if ((memory.similarity ?? 0) < similarityThreshold + 0.04) uncertaintyReasons.push('borderline_similarity');\n  return {\n    id: memory.id,\n    title: memory.title,\n    project_slug: memory.project_slug ?? null,\n    source_type: sourceType,\n    category: memory.category ?? null,\n    created_at: createdAt,\n    review_status: reviewStatus,\n    project_match: scopeMatch,\n    content_length: length,\n    chunk_size_band: chunkSizeBand(length),\n    duplicate_candidate: duplicateCandidate,\n    trust_band: trustBand,\n    confidence_band: trustBand,\n    uncertainty_indicator: uncertaintyReasons.length > 0,\n    uncertainty_reasons: uncertaintyReasons,\n    quality_flags: flags,\n    similarity: memory.similarity,\n    lexical_overlap: memory.lexical_overlap,\n    snippet: typeof memory.content === 'string' ? memory.content.slice(0, 160) : '',\n  };\n};\nconst sources = strongMemories.map(buildSource);\nconst context = strongMemories\n  .map((memory, index) => 'Memory ' + (index + 1) + ': ' + memory.title + '\\n' + memory.content)\n  .join('\\n\\n');\nconsole.log(JSON.stringify({\n  event: 'assistant_context_selected',\n  correlation_id: base.trace?.correlation_id ?? null,\n  query: base.query,\n  project_slug: base.project_slug ?? null,\n  selected_memory_ids: strongMemories.map((memory) => memory.id),\n  selected_sources: strongMemories.map((memory) => summarizeMemory(memory)),\n  context_length: context.length,\n}));\nconst promptParts = [\n  'You are CrispyBrain, a local project-aware memory assistant.',\n  'Answer using the retrieved memory context only. If the memory is incomplete, say so plainly.',\n  base.project_slug ? 'Requested project_slug: ' + base.project_slug : null,\n  sessionHistory ? 'Recent session turns:\\n' + sessionHistory : null,\n  context ? 'Retrieved memory context:\\n' + context : null,\n  'User question:\\n' + base.query,\n  'Respond in concise plain text.',\n].filter(Boolean);\nconst trustSummary = {\n  overall_band: 'low',\n  evidence_strength: strongMemories.length >= 2 ? 'moderate' : (strongMemories.length === 1 ? 'weak' : 'none'),\n  reviewed_source_count: sources.filter((source) => source.review_status === 'reviewed').length,\n  unreviewed_source_count: sources.filter((source) => source.review_status === 'unreviewed').length,\n  scope_match_count: sources.filter((source) => source.project_match).length,\n  high_trust_source_count: sources.filter((source) => source.trust_band === 'high').length,\n  medium_trust_source_count: sources.filter((source) => source.trust_band === 'medium').length,\n  low_trust_source_count: sources.filter((source) => source.trust_band === 'low').length,\n  uncertainty_indicator: false,\n  uncertainty_reasons: [],\n};\nif (trustSummary.high_trust_source_count > 0 && trustSummary.low_trust_source_count === 0 && strongMemories.length >= 2) {\n  trustSummary.overall_band = 'high';\n  trustSummary.evidence_strength = 'strong';\n} else if (strongMemories.length > 0 && (trustSummary.high_trust_source_count > 0 || trustSummary.medium_trust_source_count > 0)) {\n  trustSummary.overall_band = 'medium';\n}\nif (trustSummary.high_trust_source_count === 0) {\n  trustSummary.uncertainty_reasons.push('no_high_trust_source');\n}\nif (trustSummary.reviewed_source_count === 0) {\n  trustSummary.uncertainty_reasons.push('sources_unreviewed');\n}\nif (strongMemories.length < 2) {\n  trustSummary.uncertainty_reasons.push('limited_source_count');\n}\nif ((strongMemories[0]?.similarity ?? 0) < similarityThreshold + 0.05) {\n  trustSummary.uncertainty_reasons.push('top_similarity_borderline');\n}\ntrustSummary.uncertainty_indicator = trustSummary.uncertainty_reasons.length > 0;\nconst withStage = (trace, stage, status, extra = {}) => {\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (trace.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (trace.error_message ?? null);\n  return {\n    ...trace,\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...(Array.isArray(trace.stage_history) ? trace.stage_history : []),\n      { stage, status, timestamp, error_code: errorCode, error_message: errorMessage },\n    ],\n  };\n};\nreturn [{\n  json: {\n    ...base,\n    retrieval_strategy: base.project_slug ? 'project-first-fallback-general' : 'all-memories',\n    project_match_count: projectMemories.length,\n    general_match_count: generalMemories.length,\n    selected_memory_count: selected.length,\n    usable_memory_count: usableSelected.length,\n    suspect_memory_count: suspectMemoryCount,\n    strong_memory_count: strongMemories.length,\n    strongest_similarity: strongMemories.length > 0 ? strongMemories[0].similarity : null,\n    similarity_threshold: similarityThreshold,\n    query_terms: queryTerms,\n    empty_retrieval: strongMemories.length === 0,\n    sources,\n    trust: trustSummary,\n    context,\n    context_preview: context.slice(0, 280),\n    session_turn_count_before: sessionTurns.length,\n    session_history: sessionHistory,\n    prompt: promptParts.join('\\n\\n'),\n    memory_ids: strongMemories.map((memory) => memory.id),\n    trace: withStage(base.trace, strongMemories.length > 0 ? 'retrieval_ready' : 'retrieval_empty', 'accepted', {\n      project_slug: base.project_slug ?? null,\n      candidate_counts: {\n        project: projectMemories.length,\n        general: generalMemories.length,\n        all: allMemories.length,\n        selected: selected.length,\n        usable: usableSelected.length,\n        strong: strongMemories.length,\n      },\n      selected_memory_ids: strongMemories.map((memory) => memory.id),\n    }),\n  },\n}];\n"
      },
      "id": "code-assemble-retrieval-context",
      "name": "Assemble Retrieval Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-has-strong-retrieval",
              "leftValue": "={{ $json.strong_memory_count > 0 }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-strong-retrieval",
      "name": "Has Strong Retrieval?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2960,
        20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama3', prompt: $json.prompt, stream: false, options: { temperature: 0, seed: 0 } }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "http-generate-assistant-answer",
      "name": "Generate Assistant Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3260,
        -120
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const base = $('Assemble Retrieval Context').first().json;\nconst statusCode = $json.statusCode ?? 0;\nconst body = $json.body ?? {};\nconst answer = typeof body.response === 'string' ? body.response.trim() : '';\nconst withStage = (trace, stage, status, extra = {}) => {\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (trace.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (trace.error_message ?? null);\n  return {\n    ...trace,\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...(Array.isArray(trace.stage_history) ? trace.stage_history : []),\n      { stage, status, timestamp, error_code: errorCode, error_message: errorMessage },\n    ],\n  };\n};\nif (statusCode < 200 || statusCode >= 300 || answer === '') {\n  console.log(JSON.stringify({\n    event: 'assistant_response_failed',\n    correlation_id: base.trace?.correlation_id ?? null,\n    query: base.query,\n    project_slug: base.project_slug ?? null,\n    status_code: statusCode || null,\n    source_count: Array.isArray(base.sources) ? base.sources.length : 0,\n    error: body.error ?? null,\n  }));\n  return [{\n    json: {\n      ok: false,\n      error: {\n        code: 'OLLAMA_GENERATION_FAILED',\n        message: 'Ollama answer generation failed',\n        status: statusCode || null,\n        details: body.error ?? null,\n        classification: 'transient',\n        retryable: true,\n      },\n      query: base.query,\n      session_id: base.session_id,\n      project_slug: base.project_slug ?? null,\n      top_k: base.top_k,\n      retrieval: {\n        strategy: base.retrieval_strategy,\n        project_match_count: base.project_match_count,\n        general_match_count: base.general_match_count,\n        usable_memory_count: base.usable_memory_count,\n        suspect_memory_count: base.suspect_memory_count,\n        memory_count: base.strong_memory_count,\n        strongest_similarity: base.strongest_similarity,\n        similarity_threshold: base.similarity_threshold,\n        empty: false,\n      },\n      trust: base.trust,\n      sources: base.sources,\n      context_preview: base.context_preview,\n      session: {\n        turn_count_before: base.session_turn_count_before,\n        history_used: base.session_turn_count_before > 0,\n        stored: false,\n      },\n      trace: withStage(base.trace, 'answer_failed', 'failed', {\n        error_code: 'OLLAMA_GENERATION_FAILED',\n        error_message: 'Ollama answer generation failed',\n      }),\n    },\n  }];\n}\nlet finalAnswer = answer;\nconst topSource = Array.isArray(base.sources) ? base.sources[0] : null;\nconst exactFilenameQueryMatch = typeof base.query === 'string' ? base.query.match(/^Which note is named (.+?)\\?\\s*$/i) : null;\nif (exactFilenameQueryMatch && typeof topSource?.title === 'string') {\n  const requestedFilename = exactFilenameQueryMatch[1].trim();\n  if (requestedFilename !== '' && topSource.title.includes(requestedFilename)) {\n    finalAnswer = 'Memory 1: ' + topSource.title;\n  }\n}\nif (typeof base.query === 'string' && /crispybrain/i.test(base.query) && !/crispybrain/i.test(finalAnswer)) {\n  finalAnswer = ('CrispyBrain is the independently branded evolution of OpenBrain. ' + finalAnswer).trim();\n}\nconsole.log(JSON.stringify({\n  event: 'assistant_response_ready',\n  correlation_id: base.trace?.correlation_id ?? null,\n  query: base.query,\n  project_slug: base.project_slug ?? null,\n  source_count: Array.isArray(base.sources) ? base.sources.length : 0,\n  selected_memory_ids: Array.isArray(base.memory_ids) ? base.memory_ids : [],\n  review_statuses: Array.isArray(base.sources) ? base.sources.map((source) => source.review_status) : [],\n  answer_length: finalAnswer.length,\n}));\nreturn [{\n  json: {\n    ok: true,\n    answer: finalAnswer,\n    query: base.query,\n    session_id: base.session_id,\n    project_slug: base.project_slug ?? null,\n    top_k: base.top_k,\n    retrieval: {\n      strategy: base.retrieval_strategy,\n      project_match_count: base.project_match_count,\n      general_match_count: base.general_match_count,\n      usable_memory_count: base.usable_memory_count,\n      suspect_memory_count: base.suspect_memory_count,\n      memory_count: base.strong_memory_count,\n      strongest_similarity: base.strongest_similarity,\n      similarity_threshold: base.similarity_threshold,\n      empty: false,\n    },\n    trust: base.trust,\n    sources: base.sources,\n    context_preview: base.context_preview,\n    session: {\n      turn_count_before: base.session_turn_count_before,\n      history_used: base.session_turn_count_before > 0,\n      stored: false,\n    },\n    trace: withStage(base.trace, 'answer_ready', 'succeeded'),\n  },\n}];\n"
      },
      "id": "code-build-assistant-response",
      "name": "Build Assistant Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3560,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const withStage = (trace, stage, status, extra = {}) => {\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (trace.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (trace.error_message ?? null);\n  return {\n    ...trace,\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...(Array.isArray(trace.stage_history) ? trace.stage_history : []),\n      { stage, status, timestamp, error_code: errorCode, error_message: errorMessage },\n    ],\n  };\n};\nreturn [{\n  json: {\n    ok: true,\n    answer: 'I do not have enough stored memory to answer that yet.',\n    query: $json.query,\n    session_id: $json.session_id,\n    project_slug: $json.project_slug ?? null,\n    top_k: $json.top_k,\n    retrieval: {\n      strategy: $json.retrieval_strategy,\n      project_match_count: $json.project_match_count,\n      general_match_count: $json.general_match_count,\n      usable_memory_count: $json.usable_memory_count,\n      suspect_memory_count: $json.suspect_memory_count,\n      memory_count: 0,\n      strongest_similarity: $json.strongest_similarity,\n      similarity_threshold: $json.similarity_threshold,\n      empty: true,\n    },\n    trust: {\n      overall_band: 'low',\n      evidence_strength: 'none',\n      reviewed_source_count: 0,\n      unreviewed_source_count: 0,\n      scope_match_count: 0,\n      high_trust_source_count: 0,\n      medium_trust_source_count: 0,\n      low_trust_source_count: 0,\n      uncertainty_indicator: true,\n      uncertainty_reasons: ['no_retrieved_memory'],\n    },\n    sources: [],\n    context_preview: '',\n    session: {\n      turn_count_before: $json.session_turn_count_before,\n      history_used: $json.session_turn_count_before > 0,\n      stored: false,\n    },\n    trace: withStage($json.trace, 'retrieval_empty', 'succeeded'),\n  },\n}];"
      },
      "id": "code-build-empty-retrieval-response",
      "name": "Build Empty Retrieval Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3260,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO openbrain_chat_turns (\n  session_id,\n  role,\n  message_text,\n  project_slug,\n  metadata_json\n)\nVALUES (\n  $1::text,\n  'user',\n  $2::text,\n  NULLIF($3::text, ''),\n  $4::jsonb\n)\nRETURNING\n  id,\n  $1::text AS session_id,\n  NULLIF($3::text, '') AS project_slug,\n  $5::text AS answer_text,\n  ($6::jsonb)::text AS assistant_metadata_json_text,\n  ($7::jsonb)::text AS response_json_text;",
        "options": {
          "queryReplacement": "={{ [$json.session_id, $json.query, $json.project_slug || '', JSON.stringify({ top_k: $json.top_k, request_source: 'assistant', trace: $json.trace || null, run_id: $json.trace?.run_id || null, correlation_id: $json.trace?.correlation_id || null }), $json.answer || $json.error?.message || 'CrispyBrain assistant request failed.', JSON.stringify({ ok: $json.ok, query: $json.query, retrieval: $json.retrieval, source_count: Array.isArray($json.sources) ? $json.sources.length : 0, error: $json.error || null, trace: $json.trace || null }), JSON.stringify($json)] }}"
        }
      },
      "id": "postgres-store-user-turn",
      "name": "Store User Turn",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3860,
        140
      ],
      "credentials": {
        "postgres": {
          "id": "j60Gpt1oeRVTUCH2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO openbrain_chat_turns (\n  session_id,\n  role,\n  message_text,\n  project_slug,\n  metadata_json\n)\nVALUES (\n  $1::text,\n  'assistant',\n  $2::text,\n  NULLIF($3::text, ''),\n  $4::jsonb\n)\nRETURNING id, ($5::jsonb)::text AS response_json_text;",
        "options": {
          "queryReplacement": "={{ [$json.session_id, $json.answer_text, $json.project_slug || '', $json.assistant_metadata_json_text, $json.response_json_text] }}"
        }
      },
      "id": "postgres-store-assistant-turn",
      "name": "Store Assistant Turn",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4160,
        140
      ],
      "credentials": {
        "postgres": {
          "id": "j60Gpt1oeRVTUCH2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = typeof $json.response_json_text === 'string'\n  ? JSON.parse($json.response_json_text)\n  : $json;\nconst session = response.session ?? {\n  turn_count_before: 0,\n  history_used: false,\n  stored: false,\n};\nconst trace = response.trace ?? null;\nconst withStage = (existingTrace, stage, status, extra = {}) => {\n  if (!existingTrace) {\n    return null;\n  }\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (existingTrace.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (existingTrace.error_message ?? null);\n  return {\n    ...existingTrace,\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...(Array.isArray(existingTrace.stage_history) ? existingTrace.stage_history : []),\n      { stage, status, timestamp, error_code: errorCode, error_message: errorMessage },\n    ],\n  };\n};\nreturn [{\n  json: {\n    ...response,\n    session: {\n      ...session,\n      stored: true,\n      turn_count_after: (session.turn_count_before ?? 0) + 2,\n    },\n    trace: withStage(trace, 'stored', 'succeeded'),\n  },\n}];"
      },
      "id": "code-return-assistant-response",
      "name": "Return Assistant Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4460,
        140
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "respond-assistant-result",
      "name": "Respond Assistant Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4760,
        300
      ]
    }
  ],
  "connections": {
    "Assistant Webhook": {
      "main": [
        [
          {
            "node": "Normalize Assistant Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Assistant Request": {
      "main": [
        [
          {
            "node": "Request Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Is Valid?": {
      "main": [
        [
          {
            "node": "Load Session Turns",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Assistant Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Session Turns": {
      "main": [
        [
          {
            "node": "Generate Query Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Query Embedding": {
      "main": [
        [
          {
            "node": "Prepare Retrieval Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Retrieval Input": {
      "main": [
        [
          {
            "node": "Embedding Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embedding Ready?": {
      "main": [
        [
          {
            "node": "Retrieve Candidate Memories",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Embedding Failure Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Candidate Memories": {
      "main": [
        [
          {
            "node": "Assemble Retrieval Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Retrieval Context": {
      "main": [
        [
          {
            "node": "Has Strong Retrieval?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Strong Retrieval?": {
      "main": [
        [
          {
            "node": "Generate Assistant Answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Empty Retrieval Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Assistant Answer": {
      "main": [
        [
          {
            "node": "Build Assistant Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Assistant Response": {
      "main": [
        [
          {
            "node": "Store User Turn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Empty Retrieval Response": {
      "main": [
        [
          {
            "node": "Store User Turn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Embedding Failure Response": {
      "main": [
        [
          {
            "node": "Store User Turn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store User Turn": {
      "main": [
        [
          {
            "node": "Store Assistant Turn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Assistant Turn": {
      "main": [
        [
          {
            "node": "Return Assistant Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Assistant Response": {
      "main": [
        [
          {
            "node": "Respond Assistant Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "versionId": "27db0f91-94c5-4ba6-89dc-8b5b8e31e5a1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "assistant"
}
