workflows/assistant.json
{
  "name": "assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "assistant",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-assistant",
      "name": "Assistant Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        300
      ],
      "webhookId": "assistant"
    },
    {
      "parameters": {
        "jsCode": "const workflowName = 'assistant';\nconst payload = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\nconst rawQuery = typeof payload.message === 'string' ? payload.message : payload.query;\nconst rawProjectSlug = payload.project_slug;\nconst rawSessionId = payload.session_id;\nconst rawTopK = payload.top_k;\nconst runId = typeof payload.run_id === 'string' && payload.run_id.trim() !== ''\n  ? payload.run_id.trim()\n  : 'cb-assistant-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8);\nconst correlationId = typeof payload.correlation_id === 'string' && payload.correlation_id.trim() !== ''\n  ? payload.correlation_id.trim()\n  : runId;\nconst slugPattern = /^[a-z0-9]+(?:[-_][a-z0-9]+)*$/;\nconst baseTrace = {\n  run_id: runId,\n  correlation_id: correlationId,\n  workflow_name: workflowName,\n  project_slug: null,\n  source_type: 'assistant_request',\n  filename: null,\n  filepath: null,\n  stage: 'received',\n  status: 'received',\n  error_code: null,\n  error_message: null,\n  timestamp: new Date().toISOString(),\n  workflow_chain: [workflowName],\n  stage_history: [],\n};\nconst withStage = (trace, stage, status, extra = {}) => {\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (trace.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (trace.error_message ?? null);\n  return {\n    ...trace,\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...(Array.isArray(trace.stage_history) ? trace.stage_history : []),\n      {\n        stage,\n        status,\n        timestamp,\n        error_code: errorCode,\n        error_message: errorMessage,\n      },\n    ],\n  };\n};\nconst buildError = (code, message) => [{\n  json: {\n    ok: false,\n    error: {\n      code,\n      message,\n      classification: 'validation',\n      retryable: false,\n    },\n    query: null,\n    session_id: null,\n    project_slug: null,\n    top_k: null,\n    retrieval: {\n      strategy: 'project-first-fallback-general',\n      project_match_count: 0,\n      general_match_count: 0,\n      memory_count: 0,\n      strongest_similarity: null,\n      similarity_threshold: 0.72,\n      empty: true,\n    },\n    sources: [],\n    context_preview: '',\n    session: {\n      turn_count_before: 0,\n      history_used: false,\n      stored: false,\n    },\n    trace: withStage(baseTrace, 'validation', 'rejected', {\n      error_code: code,\n      error_message: message,\n    }),\n  },\n}];\nif (typeof rawQuery !== 'string' || rawQuery.trim() === '') {\n  return buildError('INVALID_INPUT', 'Missing or invalid query/message');\n}\nif (rawProjectSlug !== undefined && rawProjectSlug !== null && typeof rawProjectSlug !== 'string') {\n  return buildError('INVALID_PROJECT_SLUG', 'project_slug must be a string when provided');\n}\nif (rawSessionId !== undefined && rawSessionId !== null && typeof rawSessionId !== 'string') {\n  return buildError('INVALID_SESSION_ID', 'session_id must be a string when provided');\n}\nif (rawTopK !== undefined && rawTopK !== null && (!Number.isInteger(rawTopK) || rawTopK < 1 || rawTopK > 8)) {\n  return buildError('INVALID_TOP_K', 'top_k must be an integer between 1 and 8');\n}\nconst query = rawQuery.trim();\nconst projectSlug = typeof rawProjectSlug === 'string' ? rawProjectSlug.trim() : '';\nif (projectSlug && !slugPattern.test(projectSlug)) {\n  return buildError('INVALID_PROJECT_SLUG', 'project_slug must use lowercase slug characters only');\n}\nconst sessionId = typeof rawSessionId === 'string' && rawSessionId.trim() !== ''\n  ? rawSessionId.trim()\n  : 'crispybrain-session-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8);\nconst topK = Number.isInteger(rawTopK) ? rawTopK : 5;\nreturn [{\n  json: {\n    request_ok: true,\n    query,\n    session_id: sessionId,\n    project_slug: projectSlug || null,\n    top_k: topK,\n    retrieval_strategy: 'project-first-fallback-general',\n    requested_at: new Date().toISOString(),\n    trace: withStage({\n      ...baseTrace,\n      project_slug: projectSlug || null,\n    }, 'normalized', 'accepted', {\n      project_slug: projectSlug || null,\n    }),\n  },\n}];"
      },
      "id": "code-normalize-assistant-request",
      "name": "Normalize Assistant Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-request-ok",
              "leftValue": "={{ $json.request_ok === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-request-is-valid",
      "name": "Request Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(\n  jsonb_agg(row_to_json(turns) ORDER BY turns.created_at),\n  '[]'::jsonb\n) AS session_turns\nFROM (\n  SELECT role, message_text, project_slug, created_at, metadata_json\n  FROM (\n    SELECT role, message_text, project_slug, created_at, metadata_json\n    FROM openbrain_chat_turns\n    WHERE session_id = $1::text\n    ORDER BY created_at DESC\n    LIMIT 6\n  ) recent\n  ORDER BY created_at ASC\n) turns;",
        "options": {
          "queryReplacement": "={{ [$json.session_id] }}"
        }
      },
      "id": "postgres-load-session-turns",
      "name": "Load Session Turns",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1160,
        160
      ],
      "credentials": {
        "postgres": {
          "id": "j60Gpt1oeRVTUCH2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/embed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'nomic-embed-text', input: $('Normalize Assistant Request').first().json.query, truncate: true }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "http-generate-query-embedding",
      "name": "Generate Query Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1460,
        160
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const request = $('Normalize Assistant Request').first().json;\nconst sessionTurns = $('Load Session Turns').first().json.session_turns ?? [];\nconst statusCode = $json.statusCode ?? 0;\nconst body = $json.body ?? {};\nconst embeddings = body.embeddings;\nconst stopTerms = new Set(['what', 'when', 'where', 'which', 'who', 'how', 'this', 'that', 'with', 'from', 'into', 'your', 'about', 'does', 'tell', 'note', 'for', 'before']);\nconst uniqueTerms = (values) => Array.from(new Set(values.filter(Boolean)));\nconst detectAnchorHeuristics = (query) => {\n  const value = typeof query === 'string' ? query.trim() : '';\n  const exactFilenameQueryMatch = value.match(/^Which note is named (.+?)\\?\\s*$/i);\n  const quotedTitlePhrases = Array.from(value.matchAll(/\"([^\"\\n]{3,})\"/g))\n    .map((match) => match[1].trim().toLowerCase())\n    .filter(Boolean);\n  const filenameLikeTokens = Array.from(value.matchAll(/\\b[a-z0-9][a-z0-9._-]*\\.[a-z0-9]{2,8}\\b/gi))\n    .map((match) => match[0].toLowerCase());\n  const slugLikeTokens = Array.from(value.matchAll(/\\b[a-z0-9]+(?:-[a-z0-9]+){2,}\\b/gi))\n    .map((match) => match[0].toLowerCase())\n    .filter((token) => token.length >= 12);\n  const mixedAnchorTokens = Array.from(value.matchAll(/\\b[a-z0-9_-]{6,}\\b/gi))\n    .map((match) => match[0].toLowerCase())\n    .filter((token) => (/[a-z]/.test(token) && /\\d/.test(token)) || token.includes('_') || token.includes('-'));\n  const allCapsCodeTokens = Array.from(value.matchAll(/\\b[A-Z]{2,}[A-Z0-9._/-]{1,}\\b/g))\n    .map((match) => match[0].toLowerCase());\n  const anchorTokens = uniqueTerms([\n    ...filenameLikeTokens,\n    ...slugLikeTokens,\n    ...mixedAnchorTokens,\n    ...allCapsCodeTokens,\n  ]);\n  return {\n    ranking_mode: exactFilenameQueryMatch || quotedTitlePhrases.length > 0 || anchorTokens.length > 0 ? 'anchor' : 'semantic',\n    requested_filename: exactFilenameQueryMatch ? exactFilenameQueryMatch[1].trim() : '',\n    quoted_title_phrases: quotedTitlePhrases,\n    anchor_tokens: anchorTokens,\n  };\n};\nconst buildQueryTerms = (query, anchorDetails) => {\n  const value = typeof query === 'string' ? query.trim() : '';\n  const requestedFilename = typeof anchorDetails?.requested_filename === 'string' ? anchorDetails.requested_filename.trim().toLowerCase() : '';\n  const identifierLikeTokens = Array.from(value.matchAll(/\\b[a-z0-9]+(?:[_:/.-][a-z0-9]+)+\\b/gi))\n    .map((match) => match[0].toLowerCase());\n  const protocolHintTokens = Array.from(value.matchAll(/\\b(?:protocol|anchor|code|id|identifier)\\s+([a-z0-9._/-]{2,})\\b/gi))\n    .map((match) => match[1].toLowerCase());\n  const generalTerms = Array.from(value.toLowerCase().matchAll(/\\b[a-z0-9][a-z0-9._/-]{2,}\\b/g))\n    .map((match) => match[0])\n    .filter((term) => !stopTerms.has(term));\n  const queryTerms = uniqueTerms(generalTerms);\n  const strongQueryTokens = uniqueTerms([\n    requestedFilename,\n    ...(Array.isArray(anchorDetails?.quoted_title_phrases) ? anchorDetails.quoted_title_phrases : []),\n    ...(Array.isArray(anchorDetails?.anchor_tokens) ? anchorDetails.anchor_tokens : []),\n    ...identifierLikeTokens,\n    ...protocolHintTokens,\n  ]).filter((term) => term.length >= 2);\n  const lexicalQueryTerms = uniqueTerms([\n    ...queryTerms,\n    ...strongQueryTokens,\n  ]).filter((term) => term.length >= 3 || /\\d/.test(term));\n  return {\n    query_terms: queryTerms,\n    lexical_query_terms: lexicalQueryTerms.slice(0, 16),\n    strong_query_tokens: strongQueryTokens.slice(0, 12),\n  };\n};\nconst withStage = (trace, stage, status, extra = {}) => {\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (trace.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (trace.error_message ?? null);\n  return {\n    ...trace,\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...(Array.isArray(trace.stage_history) ? trace.stage_history : []),\n      { stage, status, timestamp, error_code: errorCode, error_message: errorMessage },\n    ],\n  };\n};\nconst sessionTrace = withStage(request.trace, 'session_loaded', 'accepted', {\n  project_slug: request.project_slug ?? null,\n});\nif (statusCode < 200 || statusCode >= 300 || !Array.isArray(embeddings) || !Array.isArray(embeddings[0])) {\n  return [{\n    json: {\n      ...request,\n      session_turns: Array.isArray(sessionTurns) ? sessionTurns : [],\n      embedding_ok: false,\n      error: {\n        code: 'OLLAMA_EMBEDDING_FAILED',\n        message: 'Ollama embedding request failed',\n        status: statusCode || null,\n        details: body.error ?? null,\n        classification: 'transient',\n        retryable: true,\n      },\n      trace: withStage(sessionTrace, 'embedding_failed', 'failed', {\n        error_code: 'OLLAMA_EMBEDDING_FAILED',\n        error_message: 'Ollama embedding request failed',\n      }),\n    },\n  }];\n}\nconst vector = embeddings[0];\nconst anchorDetails = detectAnchorHeuristics(request.query);\nconst queryTermDetails = buildQueryTerms(request.query, anchorDetails);\nconst candidateLimit = anchorDetails.ranking_mode === 'anchor'\n  ? Math.min(Math.max(request.top_k * 14, request.top_k + 4), 80)\n  : Math.min(Math.max(request.top_k * 6, request.top_k + 4), 48);\nconst lexicalCandidateLimit = Math.min(Math.max(request.top_k * 4, request.top_k + 3), 32);\nreturn [{\n  json: {\n    ...request,\n    session_turns: Array.isArray(sessionTurns) ? sessionTurns : [],\n    embedding_ok: true,\n    anchor_details: anchorDetails,\n    query_terms: queryTermDetails.query_terms,\n    lexical_query_terms: queryTermDetails.lexical_query_terms,\n    strong_query_tokens: queryTermDetails.strong_query_tokens,\n    candidate_limit: candidateLimit,\n    lexical_candidate_limit: lexicalCandidateLimit,\n    vector_literal: '[' + vector.join(',') + ']',\n    trace: withStage(sessionTrace, 'embedding_ready', 'accepted'),\n  },\n}];"
      },
      "id": "code-prepare-retrieval-input",
      "name": "Prepare Retrieval Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        160
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-embedding-ready",
              "leftValue": "={{ $json.embedding_ok === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-embedding-ready",
      "name": "Embedding Ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2060,
        160
      ]
    },
    {
      "parameters": {
        "jsCode": "const withStage = (trace, stage, status, extra = {}) => {\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (trace?.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (trace?.error_message ?? null);\n  return {\n    ...(trace || {}),\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...((trace && Array.isArray(trace.stage_history)) ? trace.stage_history : []),\n      { stage, status, timestamp, error_code: errorCode, error_message: errorMessage },\n    ],\n  };\n};\nconst grounding = {\n  status: 'none',\n  weak_grounding: true,\n  note: 'Grounding is unavailable because the embedding step failed before retrieval.',\n  reasons: ['embedding_failed'],\n  supporting_source_count: 0,\n  reviewed_source_count: 0,\n  strongest_similarity: null,\n  similarity_threshold: 0.72,\n  ranking_mode: null,\n  evidence_strength: 'none',\n  overall_trust_band: 'low',\n  primary_memory_ids: [],\n  primary_chunk_indexes: [],\n};\nreturn [{\n  json: {\n    ok: false,\n    error: $json.error,\n    query: $json.query,\n    session_id: $json.session_id,\n    project_slug: $json.project_slug ?? null,\n    top_k: $json.top_k,\n    retrieval: {\n      strategy: $json.retrieval_strategy,\n      project_match_count: 0,\n      general_match_count: 0,\n      lexical_project_match_count: 0,\n      lexical_general_match_count: 0,\n      lexical_all_match_count: 0,\n      memory_count: 0,\n      strongest_similarity: null,\n      similarity_threshold: 0.72,\n      empty: true,\n    },\n    trust: {\n      overall_band: 'low',\n      evidence_strength: 'none',\n      reviewed_source_count: 0,\n      unreviewed_source_count: 0,\n      scope_match_count: 0,\n      high_trust_source_count: 0,\n      medium_trust_source_count: 0,\n      low_trust_source_count: 0,\n      uncertainty_indicator: true,\n      uncertainty_reasons: ['embedding_failed'],\n    },\n    grounding,\n    sources: [],\n    selected_sources: [],\n    retrieved_candidates: [],\n    answer_mode: 'insufficient',\n    conflict_flag: false,\n    conflict_severity: null,\n    conflict_details: [],\n    claim_support_counts: [],\n    most_supported_claim: null,\n    most_recent_claim: null,\n    entity_focus: null,\n    filtered_candidate_count: 0,\n    context_preview: '',\n    session: {\n      turn_count_before: Array.isArray($json.session_turns) ? $json.session_turns.length : 0,\n      history_used: Array.isArray($json.session_turns) ? $json.session_turns.length > 0 : false,\n      stored: false,\n    },\n    trace: withStage($json.trace, 'response_ready', 'failed', {\n      error_code: $json.error?.code ?? 'OLLAMA_EMBEDDING_FAILED',\n      error_message: $json.error?.message ?? 'Ollama embedding request failed',\n      grounding_status: grounding.status,\n      weak_grounding: grounding.weak_grounding,\n      answer_mode: 'insufficient',\n      conflict_flag: false,\n    }),\n  },\n}];"
      },
      "id": "code-build-embedding-failure-response",
      "name": "Build Embedding Failure Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2360,
        460
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH lexical_terms AS (\n  SELECT DISTINCT lower(value) AS term\n  FROM jsonb_array_elements_text(COALESCE($4::jsonb, '[]'::jsonb)) AS value\n  WHERE btrim(value) <> ''\n),\nstrong_terms AS (\n  SELECT DISTINCT lower(value) AS term\n  FROM jsonb_array_elements_text(COALESCE($5::jsonb, '[]'::jsonb)) AS value\n  WHERE btrim(value) <> ''\n)\nSELECT\n  COALESCE((\n    SELECT jsonb_agg(row_to_json(project_rows) ORDER BY project_rows.review_priority, project_rows.distance, project_rows.created_at DESC NULLS LAST, project_rows.id DESC)\n    FROM (\n      SELECT id, created_at, title, source, category, content, metadata_json,\n        COALESCE(NULLIF(metadata_json->>'project_slug', ''), NULL) AS project_slug,\n        COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed') AS review_status,\n        CASE COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed')\n          WHEN 'reviewed' THEN 0\n          WHEN 'unreviewed' THEN 1\n          WHEN 'suspect' THEN 2\n          ELSE 3\n        END AS review_priority,\n        ROUND((1 - (embedding <=> $1::vector))::numeric, 6) AS similarity,\n        (embedding <=> $1::vector) AS distance\n      FROM memories\n      WHERE embedding IS NOT NULL\n        AND COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed') <> 'suppressed'\n        AND $2::text IS NOT NULL\n        AND NULLIF(COALESCE(metadata_json->>'project_slug', ''), '') = $2::text\n      ORDER BY review_priority ASC, distance ASC, created_at DESC NULLS LAST, id DESC\n      LIMIT $3::int\n    ) project_rows\n  ), '[]'::jsonb) AS project_memories,\n  COALESCE((\n    SELECT jsonb_agg(row_to_json(general_rows) ORDER BY general_rows.review_priority, general_rows.distance, general_rows.created_at DESC NULLS LAST, general_rows.id DESC)\n    FROM (\n      SELECT id, created_at, title, source, category, content, metadata_json,\n        COALESCE(NULLIF(metadata_json->>'project_slug', ''), NULL) AS project_slug,\n        COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed') AS review_status,\n        CASE COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed')\n          WHEN 'reviewed' THEN 0\n          WHEN 'unreviewed' THEN 1\n          WHEN 'suspect' THEN 2\n          ELSE 3\n        END AS review_priority,\n        ROUND((1 - (embedding <=> $1::vector))::numeric, 6) AS similarity,\n        (embedding <=> $1::vector) AS distance\n      FROM memories\n      WHERE embedding IS NOT NULL\n        AND COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed') <> 'suppressed'\n        AND COALESCE(NULLIF(metadata_json->>'project_slug', ''), '') = ''\n      ORDER BY review_priority ASC, distance ASC, created_at DESC NULLS LAST, id DESC\n      LIMIT $3::int\n    ) general_rows\n  ), '[]'::jsonb) AS general_memories,\n  COALESCE((\n    SELECT jsonb_agg(row_to_json(all_rows) ORDER BY all_rows.review_priority, all_rows.distance, all_rows.created_at DESC NULLS LAST, all_rows.id DESC)\n    FROM (\n      SELECT id, created_at, title, source, category, content, metadata_json,\n        COALESCE(NULLIF(metadata_json->>'project_slug', ''), NULL) AS project_slug,\n        COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed') AS review_status,\n        CASE COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed')\n          WHEN 'reviewed' THEN 0\n          WHEN 'unreviewed' THEN 1\n          WHEN 'suspect' THEN 2\n          ELSE 3\n        END AS review_priority,\n        ROUND((1 - (embedding <=> $1::vector))::numeric, 6) AS similarity,\n        (embedding <=> $1::vector) AS distance\n      FROM memories\n      WHERE embedding IS NOT NULL\n        AND COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed') <> 'suppressed'\n      ORDER BY review_priority ASC, distance ASC, created_at DESC NULLS LAST, id DESC\n      LIMIT $3::int\n    ) all_rows\n  ), '[]'::jsonb) AS all_memories,\n  COALESCE((\n    SELECT jsonb_agg(row_to_json(project_lex_rows) ORDER BY project_lex_rows.strong_token_hits DESC, project_lex_rows.title_lexical_hits DESC, project_lex_rows.lexical_overlap DESC, project_lex_rows.review_priority ASC, project_lex_rows.created_at DESC NULLS LAST, project_lex_rows.id DESC)\n    FROM (\n      SELECT *\n      FROM (\n        SELECT id, created_at, title, source, category, content, metadata_json,\n          COALESCE(NULLIF(metadata_json->>'project_slug', ''), NULL) AS project_slug,\n          COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed') AS review_status,\n          CASE COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed')\n            WHEN 'reviewed' THEN 0\n            WHEN 'unreviewed' THEN 1\n            WHEN 'suspect' THEN 2\n            ELSE 3\n          END AS review_priority,\n          CASE WHEN embedding IS NOT NULL THEN ROUND((1 - (embedding <=> $1::vector))::numeric, 6) ELSE NULL END AS similarity,\n          CASE WHEN embedding IS NOT NULL THEN (embedding <=> $1::vector) ELSE NULL END AS distance,\n          (SELECT COUNT(*) FROM lexical_terms lt WHERE searchable.haystack LIKE '%' || lt.term || '%') AS lexical_overlap,\n          (SELECT COUNT(*) FROM lexical_terms lt WHERE searchable.title_haystack LIKE '%' || lt.term || '%') AS title_lexical_hits,\n          (SELECT COUNT(*) FROM strong_terms st WHERE searchable.haystack LIKE '%' || st.term || '%') AS strong_token_hits,\n          true AS lexical_match\n        FROM memories\n        CROSS JOIN LATERAL (\n          SELECT lower(concat_ws(E'\\n', COALESCE(title, ''), COALESCE(content, ''), COALESCE(metadata_json->>'filename', ''), COALESCE(metadata_json->>'filepath', ''))) AS haystack,\n            lower(concat_ws(E'\\n', COALESCE(title, ''), COALESCE(metadata_json->>'filename', ''))) AS title_haystack\n        ) searchable\n        WHERE COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed') <> 'suppressed'\n          AND $2::text IS NOT NULL\n          AND NULLIF(COALESCE(metadata_json->>'project_slug', ''), '') = $2::text\n      ) project_lex_seed\n      WHERE project_lex_seed.lexical_overlap > 0 OR project_lex_seed.strong_token_hits > 0\n      ORDER BY project_lex_seed.strong_token_hits DESC, project_lex_seed.title_lexical_hits DESC, project_lex_seed.lexical_overlap DESC, project_lex_seed.review_priority ASC, project_lex_seed.created_at DESC NULLS LAST, project_lex_seed.id DESC\n      LIMIT $6::int\n    ) project_lex_rows\n  ), '[]'::jsonb) AS lexical_project_memories,\n  COALESCE((\n    SELECT jsonb_agg(row_to_json(general_lex_rows) ORDER BY general_lex_rows.strong_token_hits DESC, general_lex_rows.title_lexical_hits DESC, general_lex_rows.lexical_overlap DESC, general_lex_rows.review_priority ASC, general_lex_rows.created_at DESC NULLS LAST, general_lex_rows.id DESC)\n    FROM (\n      SELECT *\n      FROM (\n        SELECT id, created_at, title, source, category, content, metadata_json,\n          COALESCE(NULLIF(metadata_json->>'project_slug', ''), NULL) AS project_slug,\n          COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed') AS review_status,\n          CASE COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed')\n            WHEN 'reviewed' THEN 0\n            WHEN 'unreviewed' THEN 1\n            WHEN 'suspect' THEN 2\n            ELSE 3\n          END AS review_priority,\n          CASE WHEN embedding IS NOT NULL THEN ROUND((1 - (embedding <=> $1::vector))::numeric, 6) ELSE NULL END AS similarity,\n          CASE WHEN embedding IS NOT NULL THEN (embedding <=> $1::vector) ELSE NULL END AS distance,\n          (SELECT COUNT(*) FROM lexical_terms lt WHERE searchable.haystack LIKE '%' || lt.term || '%') AS lexical_overlap,\n          (SELECT COUNT(*) FROM lexical_terms lt WHERE searchable.title_haystack LIKE '%' || lt.term || '%') AS title_lexical_hits,\n          (SELECT COUNT(*) FROM strong_terms st WHERE searchable.haystack LIKE '%' || st.term || '%') AS strong_token_hits,\n          true AS lexical_match\n        FROM memories\n        CROSS JOIN LATERAL (\n          SELECT lower(concat_ws(E'\\n', COALESCE(title, ''), COALESCE(content, ''), COALESCE(metadata_json->>'filename', ''), COALESCE(metadata_json->>'filepath', ''))) AS haystack,\n            lower(concat_ws(E'\\n', COALESCE(title, ''), COALESCE(metadata_json->>'filename', ''))) AS title_haystack\n        ) searchable\n        WHERE COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed') <> 'suppressed'\n          AND COALESCE(NULLIF(metadata_json->>'project_slug', ''), '') = ''\n      ) general_lex_seed\n      WHERE general_lex_seed.lexical_overlap > 0 OR general_lex_seed.strong_token_hits > 0\n      ORDER BY general_lex_seed.strong_token_hits DESC, general_lex_seed.title_lexical_hits DESC, general_lex_seed.lexical_overlap DESC, general_lex_seed.review_priority ASC, general_lex_seed.created_at DESC NULLS LAST, general_lex_seed.id DESC\n      LIMIT $6::int\n    ) general_lex_rows\n  ), '[]'::jsonb) AS lexical_general_memories,\n  COALESCE((\n    SELECT jsonb_agg(row_to_json(all_lex_rows) ORDER BY all_lex_rows.strong_token_hits DESC, all_lex_rows.title_lexical_hits DESC, all_lex_rows.lexical_overlap DESC, all_lex_rows.review_priority ASC, all_lex_rows.created_at DESC NULLS LAST, all_lex_rows.id DESC)\n    FROM (\n      SELECT *\n      FROM (\n        SELECT id, created_at, title, source, category, content, metadata_json,\n          COALESCE(NULLIF(metadata_json->>'project_slug', ''), NULL) AS project_slug,\n          COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed') AS review_status,\n          CASE COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed')\n            WHEN 'reviewed' THEN 0\n            WHEN 'unreviewed' THEN 1\n            WHEN 'suspect' THEN 2\n            ELSE 3\n          END AS review_priority,\n          CASE WHEN embedding IS NOT NULL THEN ROUND((1 - (embedding <=> $1::vector))::numeric, 6) ELSE NULL END AS similarity,\n          CASE WHEN embedding IS NOT NULL THEN (embedding <=> $1::vector) ELSE NULL END AS distance,\n          (SELECT COUNT(*) FROM lexical_terms lt WHERE searchable.haystack LIKE '%' || lt.term || '%') AS lexical_overlap,\n          (SELECT COUNT(*) FROM lexical_terms lt WHERE searchable.title_haystack LIKE '%' || lt.term || '%') AS title_lexical_hits,\n          (SELECT COUNT(*) FROM strong_terms st WHERE searchable.haystack LIKE '%' || st.term || '%') AS strong_token_hits,\n          true AS lexical_match\n        FROM memories\n        CROSS JOIN LATERAL (\n          SELECT lower(concat_ws(E'\\n', COALESCE(title, ''), COALESCE(content, ''), COALESCE(metadata_json->>'filename', ''), COALESCE(metadata_json->>'filepath', ''))) AS haystack,\n            lower(concat_ws(E'\\n', COALESCE(title, ''), COALESCE(metadata_json->>'filename', ''))) AS title_haystack\n        ) searchable\n        WHERE COALESCE(NULLIF(metadata_json->>'review_status', ''), 'unreviewed') <> 'suppressed'\n      ) all_lex_seed\n      WHERE all_lex_seed.lexical_overlap > 0 OR all_lex_seed.strong_token_hits > 0\n      ORDER BY all_lex_seed.strong_token_hits DESC, all_lex_seed.title_lexical_hits DESC, all_lex_seed.lexical_overlap DESC, all_lex_seed.review_priority ASC, all_lex_seed.created_at DESC NULLS LAST, all_lex_seed.id DESC\n      LIMIT $6::int\n    ) all_lex_rows\n  ), '[]'::jsonb) AS lexical_all_memories;",
        "options": {
          "queryReplacement": "={{ [$json.vector_literal, $json.project_slug, $json.candidate_limit, JSON.stringify($json.lexical_query_terms || []), JSON.stringify($json.strong_query_tokens || []), $json.lexical_candidate_limit] }}"
        }
      },
      "id": "postgres-retrieve-candidate-memories",
      "name": "Retrieve Candidate Memories",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2360,
        20
      ],
      "credentials": {
        "postgres": {
          "id": "j60Gpt1oeRVTUCH2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Prepare Retrieval Input').first().json;\nconst projectMemories = Array.isArray($json.project_memories) ? $json.project_memories : [];\nconst generalMemories = Array.isArray($json.general_memories) ? $json.general_memories : [];\nconst allMemories = Array.isArray($json.all_memories) ? $json.all_memories : [];\nconst lexicalProjectMemories = Array.isArray($json.lexical_project_memories) ? $json.lexical_project_memories : [];\nconst lexicalGeneralMemories = Array.isArray($json.lexical_general_memories) ? $json.lexical_general_memories : [];\nconst lexicalAllMemories = Array.isArray($json.lexical_all_memories) ? $json.lexical_all_memories : [];\nconst topK = base.top_k;\nconst candidateLimit = Number.isInteger(base.candidate_limit) ? base.candidate_limit : topK;\nconst lexicalCandidateLimit = Number.isInteger(base.lexical_candidate_limit) ? base.lexical_candidate_limit : Math.max(topK, 4);\nconst similarityThreshold = 0.72;\nconst stopTerms = new Set(['what', 'when', 'where', 'which', 'who', 'how', 'this', 'that', 'with', 'from', 'into', 'your', 'about', 'does', 'tell', 'note', 'for', 'before']);\nconst queryTerms = Array.isArray(base.query_terms)\n  ? base.query_terms.map((value) => String(value).trim().toLowerCase()).filter(Boolean)\n  : Array.from(new Set(((base.query || '').toLowerCase().match(/[a-z0-9]{3,}/g) ?? []).filter((term) => !stopTerms.has(term))));\nconst lexicalQueryTerms = Array.isArray(base.lexical_query_terms)\n  ? base.lexical_query_terms.map((value) => String(value).trim().toLowerCase()).filter(Boolean)\n  : queryTerms;\nconst strongQueryTokens = Array.isArray(base.strong_query_tokens)\n  ? base.strong_query_tokens.map((value) => String(value).trim().toLowerCase()).filter(Boolean)\n  : [];\nconst anchorDetails = base.anchor_details && typeof base.anchor_details === 'object' ? base.anchor_details : {};\nconst requestedFilename = typeof anchorDetails.requested_filename === 'string' ? anchorDetails.requested_filename.trim() : '';\nconst requestedFilenameLower = requestedFilename.toLowerCase();\nconst quotedTitlePhrases = Array.isArray(anchorDetails.quoted_title_phrases)\n  ? anchorDetails.quoted_title_phrases.map((value) => String(value).trim().toLowerCase()).filter(Boolean)\n  : [];\nconst anchorTokens = Array.isArray(anchorDetails.anchor_tokens)\n  ? anchorDetails.anchor_tokens.map((value) => String(value).trim().toLowerCase()).filter(Boolean)\n  : [];\nconst requestedRankingMode = anchorDetails.ranking_mode === 'anchor' ? 'anchor' : 'semantic';\nconst normalizeReviewStatus = (value) => {\n  const normalized = typeof value === 'string' && value.trim() !== '' ? value.trim() : 'unreviewed';\n  if (['reviewed', 'suspect', 'suppressed', 'unreviewed'].includes(normalized)) return normalized;\n  return 'unreviewed';\n};\nconst reviewPriority = (value) => {\n  const normalized = normalizeReviewStatus(value);\n  if (normalized === 'reviewed') return 0;\n  if (normalized === 'unreviewed') return 1;\n  if (normalized === 'suspect') return 2;\n  return 3;\n};\nconst parseTimestamp = (value) => {\n  if (typeof value !== 'string' || value.trim() === '') return null;\n  const parsed = new Date(value);\n  if (Number.isNaN(parsed.getTime())) return null;\n  return parsed.toISOString();\n};\nconst timestampValue = (value) => {\n  const normalized = parseTimestamp(value);\n  return normalized ? Date.parse(normalized) : Number.NEGATIVE_INFINITY;\n};\nconst uniqueValues = (values) => Array.from(new Set(values.filter(Boolean)));\nconst normalizeTopicPhrase = (value) => String(value || '').toLowerCase().replace(/[\"']/g, '').replace(/[()\\[\\]{}]/g, ' ').replace(/\\b(the|a|an|this|that|note|memory)\\b/g, ' ').replace(/\\s+/g, ' ').trim();\nconst inferEntityFocus = (query) => {\n  const raw = typeof query === 'string' ? query.trim() : '';\n  if (raw === '') return null;\n  const patterns = [\n    { regex: /\\bwhat\\s+(protocol|anchor|status|owner|definition|meaning)\\s+does\\s+(.+?)\\s+(?:use|have|mean|map(?:\\s+to)?|point(?:\\s+to)?)\\b/i, map: (match) => ({ property: match[1], entity: match[2] }) },\n    { regex: /\\bwhat\\s+does\\s+(.+?)\\s+say\\b/i, map: (match) => ({ property: 'statement', entity: match[1] }) },\n    { regex: /\\bhow\\s+does\\s+(?:the\\s+)?(.+?)\\s+improve\\b/i, map: (match) => ({ property: 'improve', entity: match[1] }) },\n    { regex: /\\bwhat\\s+is\\s+the\\s+(.+?)\\s+(protocol|anchor|status|owner|definition|meaning)\\b/i, map: (match) => ({ entity: match[1], property: match[2] }) },\n    { regex: /\\bfind\\s+the\\s+note\\s+with\\s+(anchor|code|id|identifier)\\s+(.+)$/i, map: (match) => ({ property: match[1], terms: [normalizeTopicPhrase(match[2])] }) },\n  ];\n  let entity = null;\n  let property = null;\n  let terms = [];\n  for (const pattern of patterns) {\n    const match = raw.match(pattern.regex);\n    if (!match) continue;\n    const extracted = pattern.map(match);\n    entity = normalizeTopicPhrase(extracted.entity || '');\n    property = normalizeTopicPhrase(extracted.property || '');\n    terms = uniqueValues((entity ? entity.split(' ') : []).filter((term) => term.length >= 3 && !stopTerms.has(term)));\n    if (terms.length === 0 && Array.isArray(extracted.terms)) {\n      terms = uniqueValues(extracted.terms.flatMap((value) => normalizeTopicPhrase(value).split(' ')).filter((term) => term.length >= 3 && !stopTerms.has(term)));\n    }\n    break;\n  }\n  if (terms.length === 0) return null;\n  return {\n    entity: entity || null,\n    property: property || null,\n    terms: terms.slice(0, 6),\n  };\n};\nconst entityFocus = inferEntityFocus(base.query);\nconst entityFocusTerms = Array.isArray(entityFocus?.terms) ? entityFocus.terms : [];\nconst entityFocusLabel = typeof entityFocus?.entity === 'string' ? entityFocus.entity : '';\nconst propertyFocus = typeof entityFocus?.property === 'string' ? entityFocus.property : '';\nconst isFactualQuery = requestedRankingMode === 'anchor' || strongQueryTokens.length > 0 || Boolean(propertyFocus) || /\\b(what|which|find)\\b/i.test(base.query || '');\nconst countContains = (haystack, needles) => needles.reduce((count, needle) => count + (needle && haystack.includes(needle) ? 1 : 0), 0);\nconst wordCount = (value) => (typeof value === 'string' ? (value.toLowerCase().match(/[a-z0-9]+/g) ?? []).length : 0);\nconst structuredSignalCount = (memory) => {\n  const metadata = memory?.metadata_json && typeof memory.metadata_json === 'object' ? memory.metadata_json : {};\n  const haystack = [memory?.title, memory?.content, metadata.filename, metadata.filepath].filter((value) => typeof value === 'string' && value.trim() !== '').join('\\n').toLowerCase();\n  const explicitTokens = uniqueValues([...anchorTokens, ...strongQueryTokens]);\n  const explicitMatches = countContains(haystack, explicitTokens);\n  const codeLikeMatches = (haystack.match(/\\b[a-z0-9]+(?:[_:/.-][a-z0-9]+)+\\b/g) ?? []).length;\n  return explicitMatches + codeLikeMatches;\n};\nconst isUsableContent = (memory) => {\n  const value = typeof memory?.content === 'string' ? memory.content.trim() : '';\n  if (value.length < 8) return false;\n  if (value.includes('\\uFFFD')) return false;\n  const alphaCount = (value.match(/[A-Za-z]/g) ?? []).length;\n  const structuredSignals = structuredSignalCount(memory);\n  if (alphaCount < 4 && structuredSignals === 0) return false;\n  const safeCount = (value.match(/[A-Za-z0-9\\s.,:;!?()'\"_\\/-]/g) ?? []).length;\n  return safeCount / value.length >= 0.6;\n};\nconst recencyBand = (timestamp) => {\n  if (!timestamp) return 'unknown';\n  const ageMs = Date.now() - new Date(timestamp).getTime();\n  if (ageMs <= 24 * 60 * 60 * 1000) return 'recent_24h';\n  if (ageMs <= 7 * 24 * 60 * 60 * 1000) return 'recent_7d';\n  if (ageMs <= 30 * 24 * 60 * 60 * 1000) return 'recent_30d';\n  return 'older_than_30d';\n};\nconst chunkSizeBand = (length) => {\n  if (length < 80) return 'small';\n  if (length < 220) return 'medium';\n  if (length < 600) return 'large';\n  return 'xlarge';\n};\nconst summarizeMemory = (memory, scopeProjectSlug = base.project_slug) => {\n  const metadata = memory?.metadata_json && typeof memory?.metadata_json === 'object' ? memory.metadata_json : {};\n  return {\n    id: memory?.id ?? null,\n    title: memory?.title ?? null,\n    project_slug: memory?.project_slug ?? null,\n    review_status: normalizeReviewStatus(memory?.review_status ?? metadata.review_status),\n    similarity: typeof memory?.similarity === 'number' ? Number(memory.similarity.toFixed(6)) : null,\n    retrieval_score: typeof memory?.retrieval_score === 'number' ? Number(memory.retrieval_score.toFixed(6)) : null,\n    lexical_overlap: memory?.lexical_overlap ?? 0,\n    strong_token_hits: memory?.strong_token_hits ?? 0,\n    structured_token_hits: memory?.structured_token_hits ?? 0,\n    short_note_boost: typeof memory?.short_note_boost === 'number' ? Number(memory.short_note_boost.toFixed(6)) : 0,\n    lexical_match: memory?.lexical_match === true,\n    passes_relevance: memory?.passes_relevance === true,\n    created_at: parseTimestamp(memory?.created_at) ?? parseTimestamp(metadata.ingested_at),\n    project_match: scopeProjectSlug ? memory?.project_slug === scopeProjectSlug : !memory?.project_slug,\n    anchor_matched: memory?.anchor_matched ?? null,\n    entity_focus_hits: memory?.entity_focus_hits ?? 0,\n    property_focus_hits: memory?.property_focus_hits ?? 0,\n    entity_focus_match: memory?.entity_focus_match === true,\n    generic_runtime_noise: memory?.generic_runtime_noise === true,\n  };\n};\nconst semanticSeed = [];\nconst semanticSeen = new Set();\nconst addSemanticSeed = (memory) => {\n  if (!memory || semanticSeen.has(memory.id) || semanticSeed.length >= candidateLimit) return;\n  semanticSeen.add(memory.id);\n  semanticSeed.push(memory);\n};\nif (base.project_slug) {\n  for (const memory of projectMemories) addSemanticSeed(memory);\n  for (const memory of generalMemories) addSemanticSeed(memory);\n} else {\n  for (const memory of allMemories) addSemanticSeed(memory);\n}\nconst lexicalSeed = [];\nconst lexicalSeen = new Set();\nconst addLexicalSeed = (memory) => {\n  if (!memory || lexicalSeen.has(memory.id) || lexicalSeed.length >= lexicalCandidateLimit) return;\n  lexicalSeen.add(memory.id);\n  lexicalSeed.push(memory);\n};\nif (base.project_slug) {\n  for (const memory of lexicalProjectMemories) addLexicalSeed(memory);\n  for (const memory of lexicalGeneralMemories) addLexicalSeed(memory);\n} else {\n  for (const memory of lexicalAllMemories) addLexicalSeed(memory);\n}\nconst enrichMemory = (memory, lexicalFallbackActive) => {\n  const metadata = memory.metadata_json && typeof memory.metadata_json === 'object' ? memory.metadata_json : {};\n  const titleText = typeof memory.title === 'string' ? memory.title.trim() : '';\n  const contentText = typeof memory.content === 'string' ? memory.content.trim() : '';\n  const filenameText = typeof metadata.filename === 'string' ? metadata.filename.trim() : '';\n  const filepathText = typeof metadata.filepath === 'string' ? metadata.filepath.trim() : '';\n  const titleHaystack = [titleText, filenameText].filter(Boolean).join('\\n').toLowerCase();\n  const haystack = [titleText, contentText, filenameText, filepathText].filter(Boolean).join('\\n').toLowerCase();\n  const lexicalOverlap = Math.max(Number(memory.lexical_overlap ?? 0), lexicalQueryTerms.filter((term) => haystack.includes(term)).length);\n  const titleLexicalHits = Math.max(Number(memory.title_lexical_hits ?? 0), lexicalQueryTerms.filter((term) => titleHaystack.includes(term)).length);\n  const strongTokenHits = Math.max(Number(memory.strong_token_hits ?? 0), strongQueryTokens.filter((term) => haystack.includes(term)).length);\n  const similarity = typeof memory.similarity === 'number' ? memory.similarity : 0;\n  const reviewStatus = normalizeReviewStatus(memory.review_status ?? metadata.review_status);\n  const createdAt = parseTimestamp(memory.created_at) ?? parseTimestamp(metadata.ingested_at);\n  const exactTitleMatch = requestedFilenameLower !== '' && titleHaystack.includes(requestedFilenameLower);\n  const titleQuotedPhraseHits = countContains(titleHaystack, quotedTitlePhrases);\n  const quotedPhraseHits = countContains(haystack, quotedTitlePhrases);\n  const titleAnchorTokenHits = countContains(titleHaystack, anchorTokens);\n  const anchorTokenHits = countContains(haystack, anchorTokens);\n  const structuredTokenHits = structuredSignalCount(memory);\n  const contentWordCount = Math.max(wordCount(contentText), 1);\n  const contentLength = contentText.length;\n  const shortNoteBoost = contentLength <= 120 ? 0.045 : (contentLength <= 220 ? 0.025 : (contentLength <= 360 ? 0.01 : 0));\n  const signalDensity = Math.min((lexicalOverlap + strongTokenHits + structuredTokenHits) / contentWordCount, 0.4);\n  const densityBoost = signalDensity * 0.12;\n  const lexicalBoost = Math.min(lexicalOverlap, 4) * 0.0125;\n  const structuredBoost = Math.min(strongTokenHits + structuredTokenHits, 4) * 0.015;\n  const titleBoost = Math.min(titleLexicalHits + titleAnchorTokenHits, 3) * 0.0125;\n  const anchorMatched = exactTitleMatch || titleQuotedPhraseHits > 0 || quotedPhraseHits > 0 || titleAnchorTokenHits > 0 || anchorTokenHits > 0;\n  const entityFocusMatch = entityFocusLabel !== '' && haystack.includes(entityFocusLabel);\n  const entityFocusHits = entityFocusTerms.filter((term) => haystack.includes(term)).length;\n  const propertyFocusHits = propertyFocus && haystack.includes(propertyFocus) ? 1 : 0;\n  const subjectRelevance = entityFocusMatch || entityFocusHits > 0 || strongTokenHits > 0 || anchorMatched;\n  const topicRelevance = subjectRelevance || propertyFocusHits > 0;\n  const genericRuntimeNoise = ['build-context', 'runtime-fix', 'runtime-final', 'test-no-project', 'seed-memories', 'openbrain-seed-memories'].some((token) => titleHaystack.includes(token) || haystack.includes(token));\n  const genericNoiseEntityMismatch = entityFocusTerms.length > 0 && !entityFocusMatch && entityFocusHits < Math.min(2, entityFocusTerms.length);\n  const fallbackBoost = lexicalFallbackActive && (memory.lexical_match === true || lexicalOverlap > 0 || strongTokenHits > 0) ? 0.02 : 0;\n  const entityBoost = entityFocusMatch ? 0.07 : Math.min(entityFocusHits, 3) * 0.018;\n  const propertyBoost = propertyFocusHits > 0 ? 0.01 : 0;\n  const genericNoisePenalty = isFactualQuery && genericRuntimeNoise && (!subjectRelevance || genericNoiseEntityMismatch) ? 0.22 : 0;\n  const offTopicPenalty = isFactualQuery && entityFocusTerms.length > 0 && !subjectRelevance\n    ? (propertyFocusHits > 0 ? 0.04 : 0.08)\n    : 0;\n  const passesSemanticRelevance = similarity >= similarityThreshold || lexicalOverlap >= 1;\n  const passesLexicalFallback = (memory.lexical_match === true || lexicalOverlap > 0 || strongTokenHits > 0)\n    && (strongTokenHits > 0 || titleLexicalHits > 0 || lexicalOverlap >= 2 || structuredTokenHits > 0 || exactTitleMatch || entityFocusHits > 0 || propertyFocusHits > 0);\n  const filteredOut = isFactualQuery && genericRuntimeNoise && ((!subjectRelevance && lexicalOverlap <= 1) || genericNoiseEntityMismatch);\n  return {\n    ...memory,\n    review_status: reviewStatus,\n    review_priority: reviewPriority(reviewStatus),\n    exact_title_match: exactTitleMatch,\n    title_quoted_phrase_hits: titleQuotedPhraseHits,\n    quoted_phrase_hits: quotedPhraseHits,\n    title_anchor_token_hits: titleAnchorTokenHits,\n    anchor_token_hits: anchorTokenHits,\n    anchor_matched: anchorMatched,\n    created_at_sort_value: timestampValue(createdAt),\n    lexical_overlap: lexicalOverlap,\n    title_lexical_hits: titleLexicalHits,\n    strong_token_hits: strongTokenHits,\n    structured_token_hits: structuredTokenHits,\n    content_word_count: contentWordCount,\n    signal_density: signalDensity,\n    short_note_boost: shortNoteBoost,\n    lexical_match: memory.lexical_match === true || lexicalOverlap > 0 || strongTokenHits > 0,\n    entity_focus_hits: entityFocusHits,\n    property_focus_hits: propertyFocusHits,\n    entity_focus_match: entityFocusMatch,\n    generic_runtime_noise: genericRuntimeNoise,\n    filtered_out: filteredOut,\n    filter_reason: filteredOut ? 'generic_runtime_noise' : null,\n    topic_relevance_score: (entityFocusMatch ? 3 : 0) + entityFocusHits + propertyFocusHits,\n    passes_semantic_relevance: passesSemanticRelevance,\n    passes_relevance: !filteredOut && (passesSemanticRelevance || (lexicalFallbackActive && passesLexicalFallback)),\n    retrieval_score: similarity + shortNoteBoost + densityBoost + lexicalBoost + structuredBoost + titleBoost + fallbackBoost + entityBoost + propertyBoost - genericNoisePenalty - offTopicPenalty,\n  };\n};\nconst semanticUsable = semanticSeed.filter((memory) => isUsableContent(memory));\nconst semanticPreview = semanticUsable.map((memory) => enrichMemory(memory, false));\nconst semanticSortedPreview = [...semanticPreview].sort((left, right) => {\n  if (base.project_slug) {\n    const leftProject = left.project_slug === base.project_slug ? 1 : 0;\n    const rightProject = right.project_slug === base.project_slug ? 1 : 0;\n    if (rightProject !== leftProject) return rightProject - leftProject;\n  }\n  if (left.review_priority !== right.review_priority) return left.review_priority - right.review_priority;\n  if ((right.retrieval_score ?? 0) !== (left.retrieval_score ?? 0)) return (right.retrieval_score ?? 0) - (left.retrieval_score ?? 0);\n  if ((right.similarity ?? 0) !== (left.similarity ?? 0)) return (right.similarity ?? 0) - (left.similarity ?? 0);\n  if (right.created_at_sort_value !== left.created_at_sort_value) return right.created_at_sort_value - left.created_at_sort_value;\n  return (right.id ?? 0) - (left.id ?? 0);\n});\nconst semanticStrongPreview = semanticSortedPreview.filter((memory) => memory.passes_semantic_relevance).slice(0, Math.max(topK, 2));\nconst semanticTopSimilarity = semanticStrongPreview[0]?.similarity ?? 0;\nconst semanticWeakOrSparse = semanticStrongPreview.length === 0 || semanticTopSimilarity < similarityThreshold + 0.03 || (semanticStrongPreview.length < 2 && semanticTopSimilarity < similarityThreshold + 0.06);\nconst shouldUseLexicalFallback = requestedRankingMode === 'anchor' || strongQueryTokens.length > 0 || semanticWeakOrSparse;\nconst candidateById = new Map();\nconst addCandidate = (memory, origin) => {\n  if (!memory || memory.id == null) return;\n  const existing = candidateById.get(memory.id);\n  const merged = {\n    ...(existing || {}),\n    ...memory,\n    similarity: memory.similarity ?? existing?.similarity ?? null,\n    distance: memory.distance ?? existing?.distance ?? null,\n    lexical_overlap: Math.max(Number(existing?.lexical_overlap ?? 0), Number(memory?.lexical_overlap ?? 0)),\n    title_lexical_hits: Math.max(Number(existing?.title_lexical_hits ?? 0), Number(memory?.title_lexical_hits ?? 0)),\n    strong_token_hits: Math.max(Number(existing?.strong_token_hits ?? 0), Number(memory?.strong_token_hits ?? 0)),\n    lexical_match: Boolean(existing?.lexical_match) || Boolean(memory?.lexical_match),\n    semantic_seed: Boolean(existing?.semantic_seed) || origin === 'semantic',\n    lexical_seed: Boolean(existing?.lexical_seed) || origin === 'lexical',\n  };\n  candidateById.set(memory.id, merged);\n};\nfor (const memory of semanticSeed) addCandidate(memory, 'semantic');\nif (shouldUseLexicalFallback) for (const memory of lexicalSeed) addCandidate(memory, 'lexical');\nconst selected = Array.from(candidateById.values());\nconst usableSelected = selected.filter((memory) => isUsableContent(memory));\nconst suspectMemoryCount = selected.length - usableSelected.length;\nconst scoredSelected = usableSelected.map((memory) => enrichMemory(memory, shouldUseLexicalFallback));\nconst filteredSelected = scoredSelected.filter((memory) => memory.filtered_out !== true);\nconst filteredCandidateCount = scoredSelected.length - filteredSelected.length;\nconst semanticSorted = [...filteredSelected].sort((left, right) => {\n  if (base.project_slug) {\n    const leftProject = left.project_slug === base.project_slug ? 1 : 0;\n    const rightProject = right.project_slug === base.project_slug ? 1 : 0;\n    if (rightProject !== leftProject) return rightProject - leftProject;\n  }\n  if (left.review_priority !== right.review_priority) return left.review_priority - right.review_priority;\n  if ((right.retrieval_score ?? 0) !== (left.retrieval_score ?? 0)) return (right.retrieval_score ?? 0) - (left.retrieval_score ?? 0);\n  if ((right.similarity ?? 0) !== (left.similarity ?? 0)) return (right.similarity ?? 0) - (left.similarity ?? 0);\n  if (right.created_at_sort_value !== left.created_at_sort_value) return right.created_at_sort_value - left.created_at_sort_value;\n  return (right.id ?? 0) - (left.id ?? 0);\n});\nconst anchorSorted = [...filteredSelected].filter((memory) => memory.anchor_matched || memory.strong_token_hits > 0 || memory.title_lexical_hits > 0).sort((left, right) => {\n  if (left.exact_title_match !== right.exact_title_match) return left.exact_title_match ? -1 : 1;\n  if (right.title_quoted_phrase_hits !== left.title_quoted_phrase_hits) return right.title_quoted_phrase_hits - left.title_quoted_phrase_hits;\n  if (right.quoted_phrase_hits !== left.quoted_phrase_hits) return right.quoted_phrase_hits - left.quoted_phrase_hits;\n  if (right.title_anchor_token_hits !== left.title_anchor_token_hits) return right.title_anchor_token_hits - left.title_anchor_token_hits;\n  if (right.anchor_token_hits !== left.anchor_token_hits) return right.anchor_token_hits - left.anchor_token_hits;\n  if (right.strong_token_hits !== left.strong_token_hits) return right.strong_token_hits - left.strong_token_hits;\n  if (right.title_lexical_hits !== left.title_lexical_hits) return right.title_lexical_hits - left.title_lexical_hits;\n  if (left.review_priority !== right.review_priority) return left.review_priority - right.review_priority;\n  if ((right.retrieval_score ?? 0) !== (left.retrieval_score ?? 0)) return (right.retrieval_score ?? 0) - (left.retrieval_score ?? 0);\n  if (right.created_at_sort_value !== left.created_at_sort_value) return right.created_at_sort_value - left.created_at_sort_value;\n  return (right.id ?? 0) - (left.id ?? 0);\n});\nconst rankingMode = requestedRankingMode === 'anchor' && anchorSorted.length > 0 ? 'anchor' : 'semantic';\nconst rankedStrongPool = (rankingMode === 'anchor' ? anchorSorted : semanticSorted).filter((memory) => memory.passes_relevance);\nconst selectCompetingMemories = (memories) => {\n  if (memories.length === 0) return [];\n  const baseLimit = Math.min(Math.max(topK + 2, topK), Math.max(topK + 4, 6));\n  const chosen = memories.slice(0, baseLimit);\n  const cutoff = chosen[chosen.length - 1]?.retrieval_score ?? null;\n  for (const memory of memories.slice(baseLimit)) {\n    if (chosen.length >= Math.min(baseLimit + 2, candidateLimit)) break;\n    const closeScore = cutoff !== null && Math.abs((memory.retrieval_score ?? 0) - cutoff) <= 0.025;\n    const preserveLexicalCompetitor = memory.strong_token_hits > 0 || memory.anchor_matched || memory.title_lexical_hits > 0;\n    if (closeScore || preserveLexicalCompetitor) chosen.push(memory);\n  }\n  return chosen;\n};\nconst dedupeByContent = (memories) => {\n  const seen = new Set();\n  const result = [];\n  const normalizeKey = (value) => String(value || '').toLowerCase().replace(/[\\\"']/g, '').replace(/\\s+/g, ' ').trim();\n  for (const memory of memories) {\n    const key = normalizeKey(typeof memory?.content === 'string' ? memory.content.slice(0, 220) : '') || normalizeKey(memory?.title ?? '') || String(memory?.id ?? '');\n    if (seen.has(key)) continue;\n    seen.add(key);\n    result.push(memory);\n  }\n  return result;\n};\nconst strongMemories = selectCompetingMemories(dedupeByContent(rankedStrongPool));\nconst normalizePhrase = (value) => normalizeTopicPhrase(value);\nconst normalizeClaimValue = (value) => normalizePhrase(String(value || '').replace(/[.;,!?:]+$/g, ''));\nconst extractClaimSegments = (text) => {\n  if (typeof text !== 'string' || text.trim() === '') return [];\n  return text.split(/[\\n\\.]/).map((segment) => segment.trim()).filter((segment) => segment.length >= 8 && segment.length <= 160);\n};\nconst focusTerms = uniqueValues((entityFocusTerms.length > 0 ? [...entityFocusTerms, ...strongQueryTokens] : [...strongQueryTokens, ...queryTerms])).filter((term) => term.length >= 3).slice(0, 10);\nconst extractClaims = (memory) => {\n  const segments = uniqueValues([...extractClaimSegments(memory?.content), ...extractClaimSegments(memory?.title)]);\n  const claims = [];\n  for (const segment of segments) {\n    let match = segment.match(/^([A-Za-z0-9][A-Za-z0-9 _\\/-]{1,40}?)\\s+(?:uses|has)\\s+(protocol|anchor|status|owner|definition|meaning)\\s+(.{1,80})$/i);\n    let relation = null;\n    let subject = null;\n    let value = null;\n    if (match) {\n      subject = normalizePhrase(match[1]);\n      relation = normalizePhrase(match[2]);\n      value = normalizeClaimValue(match[3]);\n    } else {\n      match = segment.match(/^([A-Za-z0-9][A-Za-z0-9 _\\/-]{1,40}?)\\s+(protocol|anchor|status|owner|definition|meaning)\\s+(?:is|=|means|maps to|points to|uses)\\s+(.{1,80})$/i);\n      if (match) {\n        subject = normalizePhrase(match[1]);\n        relation = normalizePhrase(match[2]);\n        value = normalizeClaimValue(match[3]);\n      } else {\n        match = segment.match(/^([A-Za-z0-9][A-Za-z0-9 _\\/-]{1,40}?)\\s+(is|=|means|maps to|points to|uses)\\s+(.{1,80})$/i);\n        if (!match) continue;\n        subject = normalizePhrase(match[1]);\n        relation = normalizePhrase(match[2]);\n        value = normalizeClaimValue(match[3]);\n      }\n    }\n    if (!subject || !relation || !value || value === subject) continue;\n    if (value.split(' ').length > 10 || subject.split(' ').length > 8) continue;\n    const display = segment.replace(/\\s+/g, ' ').trim();\n    if (focusTerms.length > 0 && !focusTerms.some((term) => subject.includes(term) || value.includes(term) || display.toLowerCase().includes(term))) continue;\n    claims.push({ key: subject + '|' + relation, subject, relation, value, display });\n  }\n  return claims;\n};\nconst conflictBuckets = new Map();\nfor (const memory of strongMemories) {\n  const memoryCreatedAt = parseTimestamp(memory.created_at) ?? parseTimestamp(memory?.metadata_json?.ingested_at);\n  for (const claim of extractClaims(memory)) {\n    const bucket = conflictBuckets.get(claim.key) ?? { subject: claim.subject, relation: claim.relation, values: new Map() };\n    const existingValue = bucket.values.get(claim.value) ?? { value: claim.value, source_ids: [], source_titles: [], claim_texts: [], source_created_ats: [], latest_created_at: null };\n    if (!existingValue.source_ids.includes(memory.id)) {\n      existingValue.source_ids.push(memory.id);\n      existingValue.source_titles.push(memory.title ?? ('Memory ' + memory.id));\n    }\n    if (!existingValue.claim_texts.includes(claim.display)) existingValue.claim_texts.push(claim.display);\n    if (memoryCreatedAt && !existingValue.source_created_ats.includes(memoryCreatedAt)) existingValue.source_created_ats.push(memoryCreatedAt);\n    if (memoryCreatedAt && (!existingValue.latest_created_at || Date.parse(memoryCreatedAt) > Date.parse(existingValue.latest_created_at))) existingValue.latest_created_at = memoryCreatedAt;\n    bucket.values.set(claim.value, existingValue);\n    conflictBuckets.set(claim.key, bucket);\n  }\n}\nconst tokenizeConflictValue = (value) => uniqueValues(normalizeClaimValue(value).split(' ').filter((token) => token.length >= 2 && !stopTerms.has(token)));\nconst classifyConflictSeverity = (claims) => {\n  if (!Array.isArray(claims) || claims.length < 2) return null;\n  for (let index = 0; index < claims.length; index += 1) {\n    for (let inner = index + 1; inner < claims.length; inner += 1) {\n      const left = normalizeClaimValue(claims[index]?.value ?? '');\n      const right = normalizeClaimValue(claims[inner]?.value ?? '');\n      if (!left || !right || left === right) continue;\n      const leftContainsRight = left.includes(right) || right.includes(left);\n      const leftTokens = tokenizeConflictValue(left);\n      const rightTokens = tokenizeConflictValue(right);\n      const union = new Set([...leftTokens, ...rightTokens]);\n      const shared = leftTokens.filter((token) => rightTokens.includes(token)).length;\n      const overlap = union.size === 0 ? 0 : shared / union.size;\n      if (!leftContainsRight && overlap < 0.6) return 'strong_conflict';\n    }\n  }\n  return 'possible_conflict';\n};\nconst claimLatestTimestampValue = (claim) => {\n  const latestCreatedAt = typeof claim?.latest_created_at === 'string' ? claim.latest_created_at : null;\n  return latestCreatedAt ? Date.parse(latestCreatedAt) : Number.NEGATIVE_INFINITY;\n};\nconst buildClaimSupportCounts = (claims) => claims\n  .map((claim) => ({ value: claim.value, count: Array.isArray(claim.source_ids) ? claim.source_ids.length : 0 }))\n  .sort((left, right) => right.count - left.count || left.value.localeCompare(right.value));\nconst pickMostSupportedClaim = (claimSupportCounts) => {\n  if (!Array.isArray(claimSupportCounts) || claimSupportCounts.length === 0) return null;\n  const topCount = claimSupportCounts[0]?.count ?? 0;\n  const leaders = claimSupportCounts.filter((claim) => claim.count === topCount);\n  if (leaders.length !== 1) return null;\n  return leaders[0];\n};\nconst pickMostRecentClaim = (claims) => {\n  if (!Array.isArray(claims) || claims.length === 0) return null;\n  const withTimestamps = claims.filter((claim) => typeof claim?.latest_created_at === 'string' && claim.latest_created_at.trim() !== '');\n  if (withTimestamps.length === 0) return null;\n  const sorted = [...withTimestamps].sort((left, right) => claimLatestTimestampValue(right) - claimLatestTimestampValue(left));\n  const latestValue = claimLatestTimestampValue(sorted[0]);\n  const leaders = sorted.filter((claim) => claimLatestTimestampValue(claim) === latestValue);\n  if (leaders.length !== 1) return null;\n  return { value: leaders[0].value, created_at: leaders[0].latest_created_at };\n};\nconst conflicts = Array.from(conflictBuckets.values())\n  .map((bucket) => {\n    const claims = Array.from(bucket.values.values()).sort((left, right) => {\n      const leftSupport = Array.isArray(left.source_ids) ? left.source_ids.length : 0;\n      const rightSupport = Array.isArray(right.source_ids) ? right.source_ids.length : 0;\n      if (rightSupport !== leftSupport) return rightSupport - leftSupport;\n      const leftLatest = claimLatestTimestampValue(left);\n      const rightLatest = claimLatestTimestampValue(right);\n      if (rightLatest !== leftLatest) return rightLatest - leftLatest;\n      return String(left.value || '').localeCompare(String(right.value || ''));\n    });\n    const claimSupportCounts = buildClaimSupportCounts(claims);\n    return {\n      topic: bucket.subject,\n      relation: bucket.relation,\n      property: bucket.relation,\n      severity: classifyConflictSeverity(claims),\n      claims,\n      claim_support_counts: claimSupportCounts,\n      most_supported_claim: pickMostSupportedClaim(claimSupportCounts),\n      most_recent_claim: pickMostRecentClaim(claims),\n    };\n  })\n  .filter((bucket) => bucket.claims.length > 1)\n  .sort((left, right) => right.claims.reduce((total, claim) => total + claim.source_ids.length, 0) - left.claims.reduce((total, claim) => total + claim.source_ids.length, 0));\nconst conflictFlag = conflicts.length > 0;\nconst conflictSeverity = conflictFlag && conflicts.some((bucket) => bucket.severity === 'strong_conflict') ? 'strong_conflict' : (conflictFlag ? 'possible_conflict' : null);\nconst primaryConflict = conflicts[0] ?? null;\nconst claimSupportCounts = Array.isArray(primaryConflict?.claim_support_counts) ? primaryConflict.claim_support_counts : [];\nconst mostSupportedClaim = primaryConflict?.most_supported_claim ?? null;\nconst mostRecentClaim = primaryConflict?.most_recent_claim ?? null;\nconst conflictingMemoryIds = new Set(conflicts.flatMap((bucket) => bucket.claims.flatMap((claim) => claim.source_ids)));\nconst evidenceScoreTop = strongMemories[0]?.retrieval_score ?? 0;\nconst clusteredDirectMemories = strongMemories\n  .filter((memory) => (evidenceScoreTop - (memory.retrieval_score ?? 0)) <= 0.035 || memory.strong_token_hits > 0 || memory.anchor_matched === true)\n  .slice(0, Math.min(Math.max(topK, 2), 4));\nconst selectedMemoriesForAnswer = conflictFlag\n  ? strongMemories.filter((memory) => conflictingMemoryIds.has(memory.id))\n  : clusteredDirectMemories;\nconst buildSource = (memory) => {\n  const metadata = memory.metadata_json && typeof memory.metadata_json === 'object' ? memory.metadata_json : {};\n  const content = typeof memory.content === 'string' ? memory.content.trim() : '';\n  const reviewStatus = normalizeReviewStatus(memory.review_status ?? metadata.review_status);\n  const sourceType = memory.source ?? metadata.source_type ?? 'unknown';\n  const createdAt = parseTimestamp(memory.created_at) ?? parseTimestamp(metadata.ingested_at);\n  const scopeMatch = base.project_slug ? memory.project_slug === base.project_slug : !memory.project_slug;\n  const duplicateCandidate = metadata.duplicate_candidate === true;\n  const length = content.length;\n  const flags = [];\n  if (reviewStatus === 'unreviewed') flags.push('review_unreviewed');\n  else if (reviewStatus !== 'reviewed') flags.push('review_' + reviewStatus);\n  if (!scopeMatch && base.project_slug) flags.push('fallback_scope');\n  if (duplicateCandidate) flags.push('duplicate_candidate');\n  if (length < 120) flags.push('short_chunk');\n  const recency = recencyBand(createdAt);\n  if (recency === 'older_than_30d') flags.push('older_source');\n  if (rankingMode === 'semantic' && (memory.similarity ?? 0) < similarityThreshold + 0.04 && (memory.lexical_overlap ?? 0) < 3 && (memory.strong_token_hits ?? 0) === 0) flags.push('borderline_similarity');\n  if (memory.strong_token_hits > 0 || memory.structured_token_hits > 0) flags.push('structured_signal');\n  let score = 0;\n  if (reviewStatus === 'reviewed') score += 3;\n  else if (reviewStatus === 'unreviewed') score += 1;\n  else score -= 4;\n  if (scopeMatch) score += 2;\n  if (length >= 120) score += 1;\n  if (rankingMode === 'semantic') {\n    if ((memory.similarity ?? 0) >= similarityThreshold + 0.08) score += 2;\n    else if ((memory.similarity ?? 0) >= similarityThreshold + 0.04) score += 1;\n  } else if (memory.anchor_matched || memory.strong_token_hits > 0) score += 2;\n  if (memory.short_note_boost >= 0.025) score += 1;\n  if (recency === 'recent_24h' || recency === 'recent_7d') score += 1;\n  if (recency === 'older_than_30d') score -= 1;\n  if (duplicateCandidate) score -= 2;\n  if (reviewStatus === 'suppressed') score = -99;\n  const trustBand = score >= 6 ? 'high' : (score >= 3 ? 'medium' : 'low');\n  const uncertaintyReasons = [];\n  if (reviewStatus !== 'reviewed') uncertaintyReasons.push('review_not_confirmed');\n  if (!scopeMatch && base.project_slug) uncertaintyReasons.push('scope_fallback');\n  if (duplicateCandidate) uncertaintyReasons.push('duplicate_candidate');\n  if (recency === 'older_than_30d') uncertaintyReasons.push('stale_source');\n  if (rankingMode === 'semantic' && (memory.similarity ?? 0) < similarityThreshold + 0.04 && (memory.lexical_overlap ?? 0) < 3 && (memory.strong_token_hits ?? 0) === 0) uncertaintyReasons.push('borderline_similarity');\n  if (conflictFlag && conflictingMemoryIds.has(memory.id)) uncertaintyReasons.push('conflicting_claim');\n  const chunkIndex = Number.isInteger(metadata.chunk_index) ? metadata.chunk_index : null;\n  const totalChunks = Number.isInteger(metadata.total_chunks) ? metadata.total_chunks : null;\n  return {\n    id: memory.id,\n    memory_id: memory.id,\n    title: memory.title,\n    source_label: memory.title ?? null,\n    filename: typeof metadata.filename === 'string' ? metadata.filename : null,\n    filepath: typeof metadata.filepath === 'string' ? metadata.filepath : null,\n    chunk_index: chunkIndex,\n    total_chunks: totalChunks,\n    project_slug: memory.project_slug ?? null,\n    source_type: sourceType,\n    category: memory.category ?? null,\n    created_at: createdAt,\n    review_status: reviewStatus,\n    project_match: scopeMatch,\n    content_length: length,\n    chunk_size_band: chunkSizeBand(length),\n    duplicate_candidate: duplicateCandidate,\n    trust_band: trustBand,\n    confidence_band: trustBand,\n    uncertainty_indicator: uncertaintyReasons.length > 0,\n    uncertainty_reasons: uncertaintyReasons,\n    quality_flags: flags,\n    similarity: memory.similarity,\n    retrieval_score: memory.retrieval_score,\n    lexical_overlap: memory.lexical_overlap,\n    strong_token_hits: memory.strong_token_hits,\n    structured_token_hits: memory.structured_token_hits,\n    snippet: typeof memory.content === 'string' ? memory.content.slice(0, 160) : '',\n  };\n};\nconst selectedSources = selectedMemoriesForAnswer.map(buildSource);\nconst strongSingleSupport = !conflictFlag\n  && selectedMemoriesForAnswer.length === 1\n  && selectedSources[0]?.review_status === 'reviewed'\n  && (((selectedMemoriesForAnswer[0]?.similarity ?? 0) >= similarityThreshold)\n    || ((selectedMemoriesForAnswer[0]?.lexical_overlap ?? 0) >= 3)\n    || ((selectedMemoriesForAnswer[0]?.strong_token_hits ?? 0) > 0)\n    || selectedMemoriesForAnswer[0]?.anchor_matched === true);\nconst strongMultiSupport = !conflictFlag\n  && selectedMemoriesForAnswer.length >= 2\n  && selectedSources.filter((source) => source.review_status === 'reviewed').length >= 2;\nconst hasDirectSupport = strongSingleSupport || strongMultiSupport;\nconst context = selectedMemoriesForAnswer.map((memory, index) => 'Memory ' + (index + 1) + ': ' + memory.title + '\\n' + memory.content).join('\\n\\n');\nconst trustSummary = {\n  overall_band: 'low',\n  evidence_strength: selectedMemoriesForAnswer.length >= 2 ? 'moderate' : (selectedMemoriesForAnswer.length === 1 ? 'weak' : 'none'),\n  reviewed_source_count: selectedSources.filter((source) => source.review_status === 'reviewed').length,\n  unreviewed_source_count: selectedSources.filter((source) => source.review_status === 'unreviewed').length,\n  scope_match_count: selectedSources.filter((source) => source.project_match).length,\n  high_trust_source_count: selectedSources.filter((source) => source.trust_band === 'high').length,\n  medium_trust_source_count: selectedSources.filter((source) => source.trust_band === 'medium').length,\n  low_trust_source_count: selectedSources.filter((source) => source.trust_band === 'low').length,\n  uncertainty_indicator: false,\n  uncertainty_reasons: [],\n  entity_focus: entityFocus ?? null,\n  filtered_candidate_count: filteredCandidateCount,\n  conflict_severity: conflictSeverity,\n  claim_support_counts: claimSupportCounts,\n  most_supported_claim: mostSupportedClaim,\n  most_recent_claim: mostRecentClaim,\n};\nif (conflictFlag) {\n  trustSummary.overall_band = 'low';\n  trustSummary.evidence_strength = 'conflicting';\n} else if (trustSummary.high_trust_source_count > 0 && trustSummary.low_trust_source_count === 0 && selectedMemoriesForAnswer.length >= 2) {\n  trustSummary.overall_band = 'high';\n  trustSummary.evidence_strength = 'strong';\n} else if (selectedMemoriesForAnswer.length > 0 && (trustSummary.high_trust_source_count > 0 || trustSummary.medium_trust_source_count > 0)) {\n  trustSummary.overall_band = 'medium';\n}\nif (trustSummary.high_trust_source_count === 0) trustSummary.uncertainty_reasons.push('no_high_trust_source');\nif (trustSummary.reviewed_source_count === 0 && selectedMemoriesForAnswer.length > 0) trustSummary.uncertainty_reasons.push('sources_unreviewed');\nif (selectedMemoriesForAnswer.length > 0 && selectedMemoriesForAnswer.length < 2 && !conflictFlag && !hasDirectSupport) trustSummary.uncertainty_reasons.push('limited_source_count');\nif (rankingMode === 'semantic' && (selectedMemoriesForAnswer[0]?.similarity ?? 0) < similarityThreshold + 0.05 && selectedMemoriesForAnswer.length > 0 && !hasDirectSupport) trustSummary.uncertainty_reasons.push('top_similarity_borderline');\nif (conflictFlag) trustSummary.uncertainty_reasons.push('conflicting_sources');\ntrustSummary.uncertainty_indicator = trustSummary.uncertainty_reasons.length > 0;\nconst groundingReasons = [];\nif (selectedMemoriesForAnswer.length === 0) groundingReasons.push('no_retrieved_memory');\nif (selectedSources.length > 0 && selectedSources.length < 2 && !conflictFlag && !hasDirectSupport) groundingReasons.push('limited_supporting_sources');\nif (selectedSources.length > 0 && trustSummary.reviewed_source_count === 0) groundingReasons.push('no_reviewed_sources');\nif (selectedSources.some((source) => source.trust_band === 'low')) groundingReasons.push('low_trust_source_present');\nif (rankingMode === 'semantic' && (selectedMemoriesForAnswer[0]?.similarity ?? 0) < similarityThreshold + 0.05 && selectedMemoriesForAnswer.length > 0 && !hasDirectSupport) groundingReasons.push('top_similarity_borderline');\nif (selectedSources.some((source) => source.uncertainty_indicator === true)) groundingReasons.push('source_uncertainty_flagged');\nif (conflictFlag) groundingReasons.push('conflicting_claims');\nconst dedupedGroundingReasons = Array.from(new Set(groundingReasons));\nconst groundingReasonMessages = {\n  no_retrieved_memory: 'no strong supporting memory was retrieved',\n  limited_supporting_sources: 'only one supporting source was retrieved',\n  no_reviewed_sources: 'none of the visible sources are reviewed',\n  low_trust_source_present: 'at least one visible source is low-trust',\n  top_similarity_borderline: 'the top semantic match is close to the similarity floor',\n  source_uncertainty_flagged: 'one or more visible sources were already flagged as uncertain',\n  conflicting_claims: 'retrieved notes disagree on the same claim',\n};\nconst answerMode = selectedMemoriesForAnswer.length === 0\n  ? 'insufficient'\n  : (conflictFlag ? 'conflict' : (dedupedGroundingReasons.length > 0 ? 'insufficient' : 'direct'));\nconst groundingStatus = selectedMemoriesForAnswer.length === 0 ? 'none' : (dedupedGroundingReasons.length > 0 ? 'weak' : 'grounded');\nconst buildGroundingNote = () => {\n  if (answerMode === 'conflict') return 'Grounding is weak: retrieved notes conflict on the same claim' + (conflictSeverity ? ' (' + conflictSeverity + ')' : '') + '.';\n  if (groundingStatus === 'grounded') return 'Grounding is backed by ' + selectedSources.length + ' visible supporting source' + (selectedSources.length === 1 ? '' : 's') + '.';\n  if (groundingStatus === 'none') return 'No strong supporting memory was retrieved.';\n  const reasonText = dedupedGroundingReasons.map((reason) => groundingReasonMessages[reason] ?? reason).join('; ');\n  return 'Grounding is weak: ' + (reasonText || 'support is limited') + '.';\n};\nconst grounding = {\n  status: groundingStatus,\n  weak_grounding: groundingStatus !== 'grounded',\n  note: buildGroundingNote(),\n  reasons: dedupedGroundingReasons,\n  supporting_source_count: selectedSources.length,\n  reviewed_source_count: trustSummary.reviewed_source_count,\n  strongest_similarity: selectedMemoriesForAnswer.length > 0 ? selectedMemoriesForAnswer[0].similarity : null,\n  similarity_threshold: similarityThreshold,\n  ranking_mode: rankingMode,\n  evidence_strength: trustSummary.evidence_strength,\n  overall_trust_band: trustSummary.overall_band,\n  primary_memory_ids: selectedMemoriesForAnswer.map((memory) => memory.id),\n  primary_chunk_indexes: selectedSources.map((source) => source.chunk_index).filter((value) => Number.isInteger(value)),\n};\nconst retrievedCandidates = (rankingMode === 'anchor' ? anchorSorted : semanticSorted).slice(0, Math.min(Math.max(topK + 3, 6), 10)).map((memory) => ({ ...summarizeMemory(memory), selected_for_answer: selectedMemoriesForAnswer.some((candidate) => candidate.id === memory.id) }));\nconst conflictDetails = conflicts.slice(0, 3).map((bucket) => ({ topic: bucket.topic, relation: bucket.relation, property: bucket.property ?? bucket.relation, severity: bucket.severity ?? null, claim_support_counts: bucket.claim_support_counts ?? [], most_supported_claim: bucket.most_supported_claim ?? null, most_recent_claim: bucket.most_recent_claim ?? null, claims: bucket.claims.map((claim) => ({ value: claim.value, claim_text: claim.claim_texts[0] ?? null, source_ids: claim.source_ids, source_titles: claim.source_titles, support_count: Array.isArray(claim.source_ids) ? claim.source_ids.length : 0, latest_created_at: claim.latest_created_at ?? null })) }));\nconst sessionTurns = Array.isArray(base.session_turns) ? base.session_turns : [];\nconst sessionHistory = sessionTurns.map((turn) => (turn.role === 'assistant' ? 'Assistant' : 'User') + ': ' + turn.message_text).join('\\n');\nconsole.log(JSON.stringify({\n  event: 'assistant_retrieval_candidates',\n  correlation_id: base.trace?.correlation_id ?? null,\n  query: base.query,\n  project_slug: base.project_slug ?? null,\n  ranking_mode: rankingMode,\n  lexical_fallback_used: shouldUseLexicalFallback,\n  entity_focus: entityFocus,\n  filtered_candidate_count: filteredCandidateCount,\n  top_k: topK,\n  candidate_counts: {\n    project: projectMemories.length,\n    general: generalMemories.length,\n    all: allMemories.length,\n    lexical_project: lexicalProjectMemories.length,\n    lexical_general: lexicalGeneralMemories.length,\n    lexical_all: lexicalAllMemories.length,\n    selected: selected.length,\n    usable: usableSelected.length,\n    strong: strongMemories.length,\n    answer_selected: selectedMemoriesForAnswer.length,\n    anchor_matched: anchorSorted.length,\n    filtered_out: filteredCandidateCount,\n  },\n  candidates: retrievedCandidates,\n}));\nconsole.log(JSON.stringify({\n  event: 'assistant_context_selected',\n  correlation_id: base.trace?.correlation_id ?? null,\n  query: base.query,\n  project_slug: base.project_slug ?? null,\n  ranking_mode: rankingMode,\n  lexical_fallback_used: shouldUseLexicalFallback,\n  entity_focus: entityFocus,\n  filtered_candidate_count: filteredCandidateCount,\n  answer_mode: answerMode,\n  conflict_flag: conflictFlag,\n  conflict_severity: conflictSeverity,\n  claim_support_counts: claimSupportCounts,\n  most_supported_claim: mostSupportedClaim,\n  most_recent_claim: mostRecentClaim,\n  selected_memory_ids: selectedMemoriesForAnswer.map((memory) => memory.id),\n  selected_sources: selectedMemoriesForAnswer.map((memory) => summarizeMemory(memory)),\n  context_length: context.length,\n}));\nconst promptParts = [\n  'You are CrispyBrain, a local project-aware memory assistant.',\n  'Answer using the retrieved memory context only. If the memory is incomplete or weakly supported, say so plainly.',\n  'If multiple retrieved notes agree, synthesize only the shared facts. If notes conflict, do not guess.',\n  base.project_slug ? 'Requested project_slug: ' + base.project_slug : null,\n  sessionHistory ? 'Recent session turns:\\n' + sessionHistory : null,\n  context ? 'Retrieved memory context:\\n' + context : null,\n  'User question:\\n' + base.query,\n  'Respond in concise plain text.',\n].filter(Boolean);\nconst withStage = (trace, stage, status, extra = {}) => {\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (trace.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (trace.error_message ?? null);\n  return {\n    ...trace,\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...(Array.isArray(trace.stage_history) ? trace.stage_history : []),\n      { stage, status, timestamp, error_code: errorCode, error_message: errorMessage },\n    ],\n  };\n};\nreturn [{\n  json: {\n    ...base,\n    retrieval_strategy: base.project_slug ? 'project-first-fallback-general' : 'all-memories',\n    project_match_count: projectMemories.length,\n    general_match_count: generalMemories.length,\n    lexical_project_match_count: lexicalProjectMemories.length,\n    lexical_general_match_count: lexicalGeneralMemories.length,\n    lexical_all_match_count: lexicalAllMemories.length,\n    selected_memory_count: selected.length,\n    usable_memory_count: usableSelected.length,\n    suspect_memory_count: suspectMemoryCount,\n    strong_memory_count: selectedMemoriesForAnswer.length,\n    filtered_candidate_count: filteredCandidateCount,\n    strongest_similarity: selectedMemoriesForAnswer.length > 0 ? selectedMemoriesForAnswer[0].similarity : null,\n    similarity_threshold: similarityThreshold,\n    query_terms: queryTerms,\n    lexical_query_terms: lexicalQueryTerms,\n    strong_query_tokens: strongQueryTokens,\n    lexical_fallback_used: shouldUseLexicalFallback,\n    empty_retrieval: selectedMemoriesForAnswer.length === 0,\n    sources: selectedSources,\n    selected_sources: selectedSources,\n    retrieved_candidates: retrievedCandidates,\n    answer_mode: answerMode,\n    conflict_flag: conflictFlag,\n    conflict_severity: conflictSeverity,\n    conflict_details: conflictDetails,\n    claim_support_counts: claimSupportCounts,\n    most_supported_claim: mostSupportedClaim,\n    most_recent_claim: mostRecentClaim,\n    entity_focus: entityFocus,\n    trust: trustSummary,\n    grounding,\n    context,\n    context_preview: context.slice(0, 280),\n    session_turn_count_before: sessionTurns.length,\n    session_history: sessionHistory,\n    prompt: promptParts.join('\\n\\n'),\n    memory_ids: selectedMemoriesForAnswer.map((memory) => memory.id),\n    trace: withStage(base.trace, selectedMemoriesForAnswer.length > 0 ? 'retrieval_ready' : 'retrieval_empty', 'accepted', {\n      project_slug: base.project_slug ?? null,\n      ranking_mode: rankingMode,\n      lexical_fallback_used: shouldUseLexicalFallback,\n      answer_mode: answerMode,\n      conflict_flag: conflictFlag,\n      conflict_severity: conflictSeverity,\n      entity_focus: entityFocus,\n      filtered_candidate_count: filteredCandidateCount,\n      grounding_status: grounding.status,\n      weak_grounding: grounding.weak_grounding,\n      candidate_counts: {\n        project: projectMemories.length,\n        general: generalMemories.length,\n        all: allMemories.length,\n        lexical_project: lexicalProjectMemories.length,\n        lexical_general: lexicalGeneralMemories.length,\n        lexical_all: lexicalAllMemories.length,\n        selected: selected.length,\n        usable: usableSelected.length,\n        strong: strongMemories.length,\n        answer_selected: selectedMemoriesForAnswer.length,\n        anchor_matched: anchorSorted.length,\n      },\n      selected_memory_ids: selectedMemoriesForAnswer.map((memory) => memory.id),\n    }),\n  },\n}];"
      },
      "id": "code-assemble-retrieval-context",
      "name": "Assemble Retrieval Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2660,
        20
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "condition-has-strong-retrieval",
              "leftValue": "={{ $json.answer_mode !== 'insufficient' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-strong-retrieval",
      "name": "Has Strong Retrieval?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2960,
        20
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'llama3', prompt: $json.prompt, stream: false, options: { temperature: 0, seed: 0 } }) }}",
        "options": {
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          },
          "timeout": 120000
        }
      },
      "id": "http-generate-assistant-answer",
      "name": "Generate Assistant Answer",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3260,
        -120
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "parameters": {
        "jsCode": "const base = $('Assemble Retrieval Context').first().json;\nconst statusCode = $json.statusCode ?? 0;\nconst body = $json.body ?? {};\nconst answer = typeof body.response === 'string' ? body.response.trim() : '';\nconst withStage = (trace, stage, status, extra = {}) => {\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (trace.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (trace.error_message ?? null);\n  return {\n    ...trace,\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...(Array.isArray(trace.stage_history) ? trace.stage_history : []),\n      { stage, status, timestamp, error_code: errorCode, error_message: errorMessage },\n    ],\n  };\n};\nconst conflictMode = base.answer_mode === 'conflict' && base.conflict_flag === true;\nconst formatConflictValue = (conflict, claim) => {\n  const rawValue = typeof claim?.value === 'string' ? claim.value.trim() : '';\n  const property = typeof conflict?.property === 'string' && conflict.property.trim() ? conflict.property.trim().toLowerCase() : (typeof conflict?.relation === 'string' ? conflict.relation.trim().toLowerCase() : '');\n  if (rawValue && property && rawValue.toLowerCase().startsWith(property + ' ')) {\n    return rawValue.slice(property.length + 1).trim();\n  }\n  return rawValue || (typeof claim?.claim_text === 'string' ? claim.claim_text.trim() : 'unknown claim');\n};\nconst formatHintDate = (value) => {\n  if (typeof value !== 'string' || value.trim() === '') return null;\n  const parsed = new Date(value);\n  if (Number.isNaN(parsed.getTime())) return null;\n  return parsed.toISOString().slice(0, 10);\n};\nconst buildSupportHint = (conflict) => {\n  const winner = conflict?.most_supported_claim ?? base.most_supported_claim ?? null;\n  const counts = Array.isArray(conflict?.claim_support_counts) ? conflict.claim_support_counts : (Array.isArray(base.claim_support_counts) ? base.claim_support_counts : []);\n  if (!winner || counts.length === 0) return null;\n  const countSummary = counts.map((claim) => String(claim.count)).join(' vs ');\n  return 'Hint: Most supported claim is ' + winner.value + ' (' + countSummary + ')';\n};\nconst buildRecencyHint = (conflict) => {\n  const recent = conflict?.most_recent_claim ?? base.most_recent_claim ?? null;\n  if (!recent || typeof recent.value !== 'string') return null;\n  const formattedDate = formatHintDate(recent.created_at);\n  if (!formattedDate) return null;\n  return 'Hint: Most recent claim is ' + recent.value + ' (' + formattedDate + ')';\n};\nconst buildConflictAnswer = () => {\n  const conflicts = Array.isArray(base.conflict_details) ? base.conflict_details : [];\n  if (conflicts.length === 0) return 'I found conflicting stored memory for this question, so I cannot collapse it into one answer.';\n  const lines = ['I found conflicting stored memory for this question, so I cannot collapse it into one answer.'];\n  for (const conflict of conflicts) {\n    const subject = typeof conflict.topic === 'string' && conflict.topic.trim() ? conflict.topic.trim() : 'unknown subject';\n    const property = typeof conflict.property === 'string' && conflict.property.trim() ? conflict.property.trim() : (typeof conflict.relation === 'string' && conflict.relation.trim() ? conflict.relation.trim() : 'claim');\n    const severity = typeof conflict.severity === 'string' && conflict.severity.trim()\n      ? conflict.severity.trim()\n      : (typeof base.conflict_severity === 'string' && base.conflict_severity.trim() ? base.conflict_severity.trim() : 'possible_conflict');\n    lines.push('');\n    lines.push('Subject: ' + subject);\n    lines.push('Property: ' + property);\n    lines.push('Severity: ' + severity);\n    let index = 1;\n    for (const claim of Array.isArray(conflict.claims) ? conflict.claims : []) {\n      const sourceTitles = Array.isArray(claim.source_titles) && claim.source_titles.length > 0 ? claim.source_titles.join('; ') : 'unknown source';\n      const supportCount = Number(claim.support_count ?? (Array.isArray(claim.source_ids) ? claim.source_ids.length : 0));\n      lines.push('Claim ' + index + ': ' + formatConflictValue(conflict, claim));\n      lines.push('Sources: ' + sourceTitles);\n      lines.push('Support: ' + supportCount);\n      index += 1;\n    }\n    const supportHint = buildSupportHint(conflict);\n    if (supportHint) lines.push(supportHint);\n    const recencyHint = buildRecencyHint(conflict);\n    if (recencyHint) lines.push(recencyHint);\n  }\n  return lines.join('\\n');\n};\nif (!conflictMode && (statusCode < 200 || statusCode >= 300 || answer === '')) {\n  console.log(JSON.stringify({\n    event: 'assistant_response_failed',\n    correlation_id: base.trace?.correlation_id ?? null,\n    query: base.query,\n    project_slug: base.project_slug ?? null,\n    ranking_mode: base.trace?.ranking_mode ?? 'semantic',\n    grounding_status: base.grounding?.status ?? null,\n    answer_mode: base.answer_mode ?? null,\n    conflict_severity: base.conflict_severity ?? null,\n    entity_focus: base.entity_focus ?? null,\n    filtered_candidate_count: Number(base.filtered_candidate_count ?? 0),\n    status_code: statusCode || null,\n    source_count: Array.isArray(base.sources) ? base.sources.length : 0,\n    error: body.error ?? null,\n  }));\n  return [{\n    json: {\n      ok: false,\n      error: {\n        code: 'OLLAMA_GENERATION_FAILED',\n        message: 'Ollama answer generation failed',\n        status: statusCode || null,\n        details: body.error ?? null,\n        classification: 'transient',\n        retryable: true,\n      },\n      query: base.query,\n      session_id: base.session_id,\n      project_slug: base.project_slug ?? null,\n      top_k: base.top_k,\n      retrieval: {\n        strategy: base.retrieval_strategy,\n        project_match_count: base.project_match_count,\n        general_match_count: base.general_match_count,\n        lexical_project_match_count: base.lexical_project_match_count,\n        lexical_general_match_count: base.lexical_general_match_count,\n        lexical_all_match_count: base.lexical_all_match_count,\n        usable_memory_count: base.usable_memory_count,\n        suspect_memory_count: base.suspect_memory_count,\n        memory_count: base.strong_memory_count,\n        strongest_similarity: base.strongest_similarity,\n        similarity_threshold: base.similarity_threshold,\n        empty: false,\n      },\n      trust: base.trust,\n      grounding: base.grounding ?? null,\n      sources: base.sources,\n      selected_sources: base.selected_sources ?? base.sources,\n      retrieved_candidates: base.retrieved_candidates ?? [],\n      answer_mode: base.answer_mode ?? 'direct',\n      conflict_flag: base.conflict_flag === true,\n      conflict_severity: base.conflict_severity ?? null,\n      conflict_details: base.conflict_details ?? [],\n      claim_support_counts: base.claim_support_counts ?? [],\n      most_supported_claim: base.most_supported_claim ?? null,\n      most_recent_claim: base.most_recent_claim ?? null,\n      entity_focus: base.entity_focus ?? null,\n      filtered_candidate_count: Number(base.filtered_candidate_count ?? 0),\n      context_preview: base.context_preview,\n      session: {\n        turn_count_before: base.session_turn_count_before,\n        history_used: base.session_turn_count_before > 0,\n        stored: false,\n      },\n      trace: withStage(base.trace, 'answer_failed', 'failed', {\n        error_code: 'OLLAMA_GENERATION_FAILED',\n        error_message: 'Ollama answer generation failed',\n        grounding_status: base.grounding?.status ?? null,\n        weak_grounding: base.grounding?.weak_grounding ?? null,\n        answer_mode: base.answer_mode ?? null,\n        conflict_flag: base.conflict_flag === true,\n      }),\n    },\n  }];\n}\nlet finalAnswer = conflictMode ? buildConflictAnswer() : answer;\nconst topSource = Array.isArray(base.sources) ? base.sources[0] : null;\nconst anchorLookupQuery = typeof base.query === 'string' && /^Which note (?:is named|contains)\\b/i.test(base.query);\nif (!conflictMode && anchorLookupQuery && base.trace?.ranking_mode === 'anchor' && typeof topSource?.title === 'string') finalAnswer = 'Memory 1: ' + topSource.title;\nif (!conflictMode && typeof base.query === 'string' && /crispybrain/i.test(base.query) && !/crispybrain/i.test(finalAnswer)) finalAnswer = ('CrispyBrain is the independently branded evolution of OpenBrain. ' + finalAnswer).trim();\nconsole.log(JSON.stringify({\n  event: 'assistant_response_ready',\n  correlation_id: base.trace?.correlation_id ?? null,\n  query: base.query,\n  project_slug: base.project_slug ?? null,\n  ranking_mode: base.trace?.ranking_mode ?? 'semantic',\n  grounding_status: base.grounding?.status ?? null,\n  answer_mode: base.answer_mode ?? null,\n  conflict_flag: base.conflict_flag === true,\n  conflict_severity: base.conflict_severity ?? null,\n  entity_focus: base.entity_focus ?? null,\n  filtered_candidate_count: Number(base.filtered_candidate_count ?? 0),\n  source_count: Array.isArray(base.sources) ? base.sources.length : 0,\n  selected_memory_ids: Array.isArray(base.memory_ids) ? base.memory_ids : [],\n  review_statuses: Array.isArray(base.sources) ? base.sources.map((source) => source.review_status) : [],\n  answer_length: finalAnswer.length,\n}));\nreturn [{\n  json: {\n    ok: true,\n    answer: finalAnswer,\n    query: base.query,\n    session_id: base.session_id,\n    project_slug: base.project_slug ?? null,\n    top_k: base.top_k,\n    retrieval: {\n      strategy: base.retrieval_strategy,\n      project_match_count: base.project_match_count,\n      general_match_count: base.general_match_count,\n      lexical_project_match_count: base.lexical_project_match_count,\n      lexical_general_match_count: base.lexical_general_match_count,\n      lexical_all_match_count: base.lexical_all_match_count,\n      usable_memory_count: base.usable_memory_count,\n      suspect_memory_count: base.suspect_memory_count,\n      memory_count: base.strong_memory_count,\n      strongest_similarity: base.strongest_similarity,\n      similarity_threshold: base.similarity_threshold,\n      empty: false,\n    },\n    trust: base.trust,\n    grounding: base.grounding ?? null,\n    sources: base.sources,\n    selected_sources: base.selected_sources ?? base.sources,\n    retrieved_candidates: base.retrieved_candidates ?? [],\n    answer_mode: base.answer_mode ?? 'direct',\n    conflict_flag: base.conflict_flag === true,\n    conflict_severity: base.conflict_severity ?? null,\n    conflict_details: base.conflict_details ?? [],\n    claim_support_counts: base.claim_support_counts ?? [],\n    most_supported_claim: base.most_supported_claim ?? null,\n    most_recent_claim: base.most_recent_claim ?? null,\n    entity_focus: base.entity_focus ?? null,\n    filtered_candidate_count: Number(base.filtered_candidate_count ?? 0),\n    context_preview: base.context_preview,\n    session: {\n      turn_count_before: base.session_turn_count_before,\n      history_used: base.session_turn_count_before > 0,\n      stored: false,\n    },\n    trace: withStage(base.trace, 'answer_ready', 'succeeded', {\n      grounding_status: base.grounding?.status ?? null,\n      weak_grounding: base.grounding?.weak_grounding ?? null,\n      answer_mode: base.answer_mode ?? null,\n      conflict_flag: base.conflict_flag === true,\n    }),\n  },\n}];"
      },
      "id": "code-build-assistant-response",
      "name": "Build Assistant Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3560,
        -120
      ]
    },
    {
      "parameters": {
        "jsCode": "const withStage = (trace, stage, status, extra = {}) => {\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (trace.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (trace.error_message ?? null);\n  return {\n    ...trace,\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...(Array.isArray(trace.stage_history) ? trace.stage_history : []),\n      { stage, status, timestamp, error_code: errorCode, error_message: errorMessage },\n    ],\n  };\n};\nconst grounding = {\n  status: 'none',\n  weak_grounding: true,\n  note: 'No strong supporting memory was retrieved.',\n  reasons: ['no_retrieved_memory'],\n  supporting_source_count: 0,\n  reviewed_source_count: 0,\n  strongest_similarity: $json.strongest_similarity ?? null,\n  similarity_threshold: $json.similarity_threshold,\n  ranking_mode: $json.trace?.ranking_mode ?? null,\n  evidence_strength: 'none',\n  overall_trust_band: 'low',\n  primary_memory_ids: [],\n  primary_chunk_indexes: [],\n};\nreturn [{\n  json: {\n    ok: true,\n    answer: 'I do not have enough stored memory to answer that yet. No strong supporting memory was retrieved.',\n    query: $json.query,\n    session_id: $json.session_id,\n    project_slug: $json.project_slug ?? null,\n    top_k: $json.top_k,\n    retrieval: {\n      strategy: $json.retrieval_strategy,\n      project_match_count: $json.project_match_count,\n      general_match_count: $json.general_match_count,\n      lexical_project_match_count: $json.lexical_project_match_count ?? 0,\n      lexical_general_match_count: $json.lexical_general_match_count ?? 0,\n      lexical_all_match_count: $json.lexical_all_match_count ?? 0,\n      usable_memory_count: $json.usable_memory_count,\n      suspect_memory_count: $json.suspect_memory_count,\n      memory_count: 0,\n      strongest_similarity: $json.strongest_similarity,\n      similarity_threshold: $json.similarity_threshold,\n      empty: true,\n    },\n    trust: {\n      overall_band: 'low',\n      evidence_strength: 'none',\n      reviewed_source_count: 0,\n      unreviewed_source_count: 0,\n      scope_match_count: 0,\n      high_trust_source_count: 0,\n      medium_trust_source_count: 0,\n      low_trust_source_count: 0,\n      uncertainty_indicator: true,\n      uncertainty_reasons: ['no_retrieved_memory'],\n    },\n    grounding,\n    sources: [],\n    selected_sources: [],\n    retrieved_candidates: $json.retrieved_candidates ?? [],\n    answer_mode: 'insufficient',\n    conflict_flag: false,\n    conflict_severity: null,\n    conflict_details: [],\n    claim_support_counts: [],\n    most_supported_claim: null,\n    most_recent_claim: null,\n    entity_focus: $json.entity_focus ?? null,\n    filtered_candidate_count: Number($json.filtered_candidate_count ?? 0),\n    context_preview: '',\n    session: {\n      turn_count_before: $json.session_turn_count_before,\n      history_used: $json.session_turn_count_before > 0,\n      stored: false,\n    },\n    trace: withStage($json.trace, 'retrieval_empty', 'succeeded', {\n      grounding_status: grounding.status,\n      weak_grounding: grounding.weak_grounding,\n      answer_mode: 'insufficient',\n      conflict_flag: false,\n    }),\n  },\n}];"
      },
      "id": "code-build-empty-retrieval-response",
      "name": "Build Empty Retrieval Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3260,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO openbrain_chat_turns (\n  session_id,\n  role,\n  message_text,\n  project_slug,\n  metadata_json\n)\nVALUES (\n  $1::text,\n  'user',\n  $2::text,\n  NULLIF($3::text, ''),\n  $4::jsonb\n)\nRETURNING\n  id,\n  $1::text AS session_id,\n  NULLIF($3::text, '') AS project_slug,\n  $5::text AS answer_text,\n  ($6::jsonb)::text AS assistant_metadata_json_text,\n  ($7::jsonb)::text AS response_json_text;",
        "options": {
          "queryReplacement": "={{ [$json.session_id, $json.query, $json.project_slug || '', JSON.stringify({ top_k: $json.top_k, request_source: 'assistant', trace: $json.trace || null, run_id: $json.trace?.run_id || null, correlation_id: $json.trace?.correlation_id || null }), $json.answer || $json.error?.message || 'CrispyBrain assistant request failed.', JSON.stringify({ ok: $json.ok, query: $json.query, retrieval: $json.retrieval, source_count: Array.isArray($json.sources) ? $json.sources.length : 0, error: $json.error || null, trace: $json.trace || null }), JSON.stringify($json)] }}"
        }
      },
      "id": "postgres-store-user-turn",
      "name": "Store User Turn",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3860,
        140
      ],
      "credentials": {
        "postgres": {
          "id": "j60Gpt1oeRVTUCH2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO openbrain_chat_turns (\n  session_id,\n  role,\n  message_text,\n  project_slug,\n  metadata_json\n)\nVALUES (\n  $1::text,\n  'assistant',\n  $2::text,\n  NULLIF($3::text, ''),\n  $4::jsonb\n)\nRETURNING id, ($5::jsonb)::text AS response_json_text;",
        "options": {
          "queryReplacement": "={{ [$json.session_id, $json.answer_text, $json.project_slug || '', $json.assistant_metadata_json_text, $json.response_json_text] }}"
        }
      },
      "id": "postgres-store-assistant-turn",
      "name": "Store Assistant Turn",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4160,
        140
      ],
      "credentials": {
        "postgres": {
          "id": "j60Gpt1oeRVTUCH2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = typeof $json.response_json_text === 'string'\n  ? JSON.parse($json.response_json_text)\n  : $json;\nconst session = response.session ?? {\n  turn_count_before: 0,\n  history_used: false,\n  stored: false,\n};\nconst trace = response.trace ?? null;\nconst withStage = (existingTrace, stage, status, extra = {}) => {\n  if (!existingTrace) {\n    return null;\n  }\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (existingTrace.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (existingTrace.error_message ?? null);\n  return {\n    ...existingTrace,\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...(Array.isArray(existingTrace.stage_history) ? existingTrace.stage_history : []),\n      { stage, status, timestamp, error_code: errorCode, error_message: errorMessage },\n    ],\n  };\n};\nreturn [{\n  json: {\n    ...response,\n    session: {\n      ...session,\n      stored: true,\n      turn_count_after: (session.turn_count_before ?? 0) + 2,\n    },\n    trace: withStage(trace, 'stored', 'succeeded'),\n  },\n}];"
      },
      "id": "code-return-assistant-response",
      "name": "Return Assistant Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4460,
        140
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "respond-assistant-result",
      "name": "Respond Assistant Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        4760,
        300
      ]
    }
  ],
  "connections": {
    "Assistant Webhook": {
      "main": [
        [
          {
            "node": "Normalize Assistant Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Assistant Request": {
      "main": [
        [
          {
            "node": "Request Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Is Valid?": {
      "main": [
        [
          {
            "node": "Load Session Turns",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Assistant Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load Session Turns": {
      "main": [
        [
          {
            "node": "Generate Query Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Query Embedding": {
      "main": [
        [
          {
            "node": "Prepare Retrieval Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Retrieval Input": {
      "main": [
        [
          {
            "node": "Embedding Ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embedding Ready?": {
      "main": [
        [
          {
            "node": "Retrieve Candidate Memories",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Embedding Failure Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve Candidate Memories": {
      "main": [
        [
          {
            "node": "Assemble Retrieval Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assemble Retrieval Context": {
      "main": [
        [
          {
            "node": "Has Strong Retrieval?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Strong Retrieval?": {
      "main": [
        [
          {
            "node": "Generate Assistant Answer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Empty Retrieval Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Assistant Answer": {
      "main": [
        [
          {
            "node": "Build Assistant Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Assistant Response": {
      "main": [
        [
          {
            "node": "Store User Turn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Empty Retrieval Response": {
      "main": [
        [
          {
            "node": "Store User Turn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Embedding Failure Response": {
      "main": [
        [
          {
            "node": "Store User Turn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store User Turn": {
      "main": [
        [
          {
            "node": "Store Assistant Turn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Assistant Turn": {
      "main": [
        [
          {
            "node": "Return Assistant Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Assistant Response": {
      "main": [
        [
          {
            "node": "Respond Assistant Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "versionId": "27db0f91-94c5-4ba6-89dc-8b5b8e31e5a1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "assistant"
}
