workflows/auto-ingest-watch.json
{
  "name": "auto-ingest-watch",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "auto-ingest-watch",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-auto-ingest-watch",
      "name": "Auto Ingest Watch Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        300
      ],
      "webhookId": "auto-ingest-watch"
    },
    {
      "parameters": {
        "jsCode": "const payload = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\nconst filepath = typeof payload.filepath === 'string' ? payload.filepath.trim() : '';\nconst filename = typeof payload.filename === 'string' ? payload.filename.trim() : '';\nconst projectSlug = typeof payload.project_slug === 'string' ? payload.project_slug.trim() : '';\n\nif (filepath === '' || filename === '' || projectSlug === '') {\n  return [{\n    json: {\n      is_valid: false,\n      error: 'Missing or invalid filepath, filename, or project_slug'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    is_valid: true,\n    filepath,\n    filename,\n    project_slug: projectSlug\n  }\n}];"
      },
      "id": "code-validate-auto-ingest-request",
      "name": "Validate Watch Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.is_valid !== true) {\n  return [{\n    json: {\n      ok: false,\n      error: $json.error\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ok: true,\n    filepath: $json.filepath,\n    filename: $json.filename,\n    project_slug: $json.project_slug,\n    next_workflow: 'ingest'\n  }\n}];"
      },
      "id": "code-build-auto-ingest-response",
      "name": "Build Handoff Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "respond-auto-ingest-watch",
      "name": "Respond Auto Ingest Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1160,
        300
      ]
    }
  ],
  "connections": {
    "Auto Ingest Watch Webhook": {
      "main": [
        [
          {
            "node": "Validate Watch Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Watch Request": {
      "main": [
        [
          {
            "node": "Build Handoff Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Handoff Payload": {
      "main": [
        [
          {
            "node": "Respond Auto Ingest Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "versionId": "40de1208-1315-428b-b137-68f6b84ee2f6",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "auto-ingest-watch"
}
