workflows/auto-ingest-watch.json
{
  "name": "auto-ingest-watch",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/home/node/.n8n-files/crispybrain/inbox",
        "events": [
          "add"
        ],
        "options": {
          "awaitWriteFinish": true,
          "followSymlinks": true,
          "ignored": "**/.DS_Store",
          "ignoreInitial": true,
          "depth": 2,
          "usePolling": true,
          "ignoreMode": "match"
        }
      },
      "id": "trigger-auto-ingest-watch-local-file",
      "name": "Watch CrispyBrain Inbox",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const watchedRoot = '/home/node/.n8n-files/crispybrain/inbox';\nconst eventName = typeof $json.event === 'string' ? $json.event : '';\nconst containerPath = typeof $json.path === 'string' ? $json.path : '';\nconst slugPattern = /^[a-z0-9]+(?:[-_][a-z0-9]+)*$/;\nif (eventName !== 'add') {\n  return [];\n}\nif (!containerPath.startsWith(watchedRoot + '/')) {\n  return [];\n}\nconst relativePath = containerPath.slice(watchedRoot.length + 1);\nconst segments = relativePath.split('/').filter(Boolean);\nif (segments.length < 2) {\n  return [];\n}\nconst projectSlug = segments[0];\nconst filename = segments[segments.length - 1];\nif (!slugPattern.test(projectSlug)) {\n  return [];\n}\nif (!/\\.txt$/i.test(filename)) {\n  return [];\n}\nconst runId = 'auto-ingest-watch-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8);\nconst trace = {\n  run_id: runId,\n  correlation_id: runId,\n  workflow_name: 'auto-ingest-watch',\n  project_slug: projectSlug,\n  source_type: 'file_watch',\n  filename,\n  filepath: containerPath,\n  stage: 'detected',\n  status: 'accepted',\n  error_code: null,\n  error_message: null,\n  timestamp: new Date().toISOString(),\n  workflow_chain: ['auto-ingest-watch'],\n  stage_history: [\n    {\n      stage: 'detected',\n      status: 'accepted',\n      timestamp: new Date().toISOString(),\n      error_code: null,\n      error_message: null\n    }\n  ]\n};\nreturn [{\n  json: {\n    event: eventName,\n    container_path: containerPath,\n    relative_path: relativePath,\n    filename,\n    project_slug: projectSlug,\n    source_type: 'file_watch',\n    trace,\n  },\n}];"
      },
      "id": "code-auto-ingest-watch-normalize",
      "name": "Normalize Watch Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ $json.container_path }}",
        "options": {
          "mimeType": "text/plain",
          "fileExtension": "txt",
          "putOutputFileInField": "data"
        }
      },
      "id": "read-auto-ingest-watch-file",
      "name": "Read Watched File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const base = $('Normalize Watch Event').first().json;\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst content = buffer.toString('utf8').replace(/\\r\\n/g, '\\n');\nconst withStage = (trace, stage, status, extra = {}) => {\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (trace.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (trace.error_message ?? null);\n  return {\n    ...trace,\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...(Array.isArray(trace.stage_history) ? trace.stage_history : []),\n      { stage, status, timestamp, error_code: errorCode, error_message: errorMessage },\n    ],\n  };\n};\nreturn [{\n  json: {\n    filepath: base.container_path,\n    filename: base.filename,\n    content,\n    project_slug: base.project_slug,\n    source_type: base.source_type,\n    trace: withStage(base.trace, 'payload_ready', 'accepted'),\n  },\n}];"
      },
      "id": "code-auto-ingest-watch-build-payload",
      "name": "Build Ingest Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5678/webhook/ingest",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ filepath: $json.filepath, filename: $json.filename, content: $json.content, project_slug: $json.project_slug, source_type: $json.source_type, run_id: $json.trace?.run_id || null, correlation_id: $json.trace?.correlation_id || null }) }}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "http-auto-ingest-watch-call-ingest",
      "name": "Call Canonical Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const request = $('Build Ingest Payload').first().json;\nconst statusCode = $json.statusCode ?? 0;\nconst body = $json.body ?? {};\nconst ok = statusCode >= 200 && statusCode < 300 && body.ok === true;\nreturn [{\n  json: {\n    ok,\n    statusCode,\n    watched_path: request.filepath,\n    filename: request.filename,\n    project_slug: request.project_slug,\n    ingest_response_ok: body.ok ?? null,\n    ingest_workflow: body.trace?.workflow_name ?? null,\n    ingest_stage: body.trace?.stage ?? null,\n    error: ok ? null : (body.error ?? { code: 'UPSTREAM_HTTP_ERROR', message: 'Canonical ingest webhook failed' }),\n  },\n}];"
      },
      "id": "code-auto-ingest-watch-summarize",
      "name": "Summarize Watch Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        300
      ]
    }
  ],
  "connections": {
    "Watch CrispyBrain Inbox": {
      "main": [
        [
          {
            "node": "Normalize Watch Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Watch Event": {
      "main": [
        [
          {
            "node": "Read Watched File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Watched File": {
      "main": [
        [
          {
            "node": "Build Ingest Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Ingest Payload": {
      "main": [
        [
          {
            "node": "Call Canonical Ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Canonical Ingest": {
      "main": [
        [
          {
            "node": "Summarize Watch Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "versionId": "40de1208-1315-428b-b137-68f6b84ee2f6",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "auto-ingest-watch"
}
