workflows/build-context.json
{
  "name": "build-context",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "build-context",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-build-context",
      "name": "Build Context Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        300
      ],
      "webhookId": "build-context"
    },
    {
      "parameters": {
        "jsCode": "const payload = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\nconst memories = payload.memories;\nconst runId = typeof payload.run_id === 'string' && payload.run_id.trim() !== '' ? payload.run_id.trim() : 'build-context-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8);\nconst correlationId = typeof payload.correlation_id === 'string' && payload.correlation_id.trim() !== '' ? payload.correlation_id.trim() : runId;\nconst withStage = (trace, stage, status, extra = {}) => {\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (trace.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (trace.error_message ?? null);\n  return {\n    ...trace,\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...(Array.isArray(trace.stage_history) ? trace.stage_history : []),\n      { stage, status, timestamp, error_code: errorCode, error_message: errorMessage },\n    ],\n  };\n};\nconst trace = {\n  run_id: runId,\n  correlation_id: correlationId,\n  workflow_name: 'build-context',\n  project_slug: null,\n  source_type: 'build_context_request',\n  filename: null,\n  filepath: null,\n  stage: 'received',\n  status: 'received',\n  error_code: null,\n  error_message: null,\n  timestamp: new Date().toISOString(),\n  workflow_chain: ['build-context'],\n  stage_history: [],\n};\nif (!Array.isArray(memories) || memories.length === 0) {\n  return [{ json: { ok: false, error: { code: 'INVALID_MEMORIES', message: 'Missing or invalid memories array', classification: 'validation', retryable: false }, trace: withStage(trace, 'validation', 'rejected', { error_code: 'INVALID_MEMORIES', error_message: 'Missing or invalid memories array' }) } }];\n}\nconst usableMemories = memories.filter((memory) => typeof memory?.content === 'string' && memory.content.trim() !== '');\nif (usableMemories.length === 0) {\n  return [{ json: { ok: false, error: { code: 'EMPTY_MEMORIES', message: 'memories array did not contain usable content', classification: 'validation', retryable: false }, trace: withStage(trace, 'validation', 'rejected', { error_code: 'EMPTY_MEMORIES', error_message: 'memories array did not contain usable content' }) } }];\n}\nconst context = usableMemories.map((memory, index) => {\n  const title = typeof memory?.title === 'string' ? memory.title : '';\n  const content = typeof memory?.content === 'string' ? memory.content : '';\n  return 'Memory ' + (index + 1) + ': ' + title + '\\n' + content;\n}).join('\\n\\n');\nreturn [{ json: { ok: true, context, memory_count: usableMemories.length, trace: withStage(trace, 'context_ready', 'succeeded') } }];"
      },
      "id": "code-validate-and-format-context",
      "name": "Validate And Format Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "respond-build-context",
      "name": "Respond Build Context",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        860,
        300
      ]
    }
  ],
  "connections": {
    "Build Context Webhook": {
      "main": [
        [
          {
            "node": "Validate And Format Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate And Format Context": {
      "main": [
        [
          {
            "node": "Respond Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "versionId": "4d328b14-7159-48dc-aea1-f7a7d394d6c7",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "build-context"
}
