workflows/build-context.json
{
  "name": "build-context",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "build-context",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-build-context",
      "name": "Build Context Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        300
      ],
      "webhookId": "build-context"
    },
    {
      "parameters": {
        "jsCode": "const payload = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\nconst memories = payload.memories;\n\nif (!Array.isArray(memories) || memories.length === 0) {\n  return [{\n    json: {\n      ok: false,\n      error: 'Missing or invalid memories array'\n    }\n  }];\n}\n\nconst context = memories.map((memory, index) => {\n  const title = typeof memory?.title === 'string' ? memory.title : '';\n  const content = typeof memory?.content === 'string' ? memory.content : '';\n  return `Memory ${index + 1}: ${title}\\n${content}`;\n}).join('\\n\\n');\n\nreturn [{\n  json: {\n    ok: true,\n    context\n  }\n}];"
      },
      "id": "code-validate-and-format-context",
      "name": "Validate And Format Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "respond-build-context",
      "name": "Respond Build Context",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        860,
        300
      ]
    }
  ],
  "connections": {
    "Build Context Webhook": {
      "main": [
        [
          {
            "node": "Validate And Format Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate And Format Context": {
      "main": [
        [
          {
            "node": "Respond Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "versionId": "4d328b14-7159-48dc-aea1-f7a7d394d6c7",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "build-context"
}
