workflows/crispybrain-demo.json
{
  "id": "crispybrain-demo",
  "name": "crispybrain-demo",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-crispybrain-demo",
      "name": "Demo Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -620,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "crispybrain-demo",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "crispybrain-demo"
    },
    {
      "id": "code-normalize-demo-request",
      "name": "Normalize Demo Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -380,
        0
      ],
      "parameters": {
        "jsCode": "const workflowName = 'crispybrain-demo';\nconst payload = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\nconst rawQuestion = typeof payload.question === 'string' ? payload.question : (typeof payload.message === 'string' ? payload.message : payload.query);\nconst rawProjectSlug = payload.project_slug;\nconst rawSessionId = payload.session_id;\nconst runId = typeof payload.run_id === 'string' && payload.run_id.trim() !== ''\n  ? payload.run_id.trim()\n  : 'cb-demo-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8);\nconst correlationId = typeof payload.correlation_id === 'string' && payload.correlation_id.trim() !== ''\n  ? payload.correlation_id.trim()\n  : runId;\nconst slugPattern = /^[a-z0-9]+(?:[-_][a-z0-9]+)*$/;\nconst withStage = (trace, stage, status, extra = {}) => {\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (trace.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (trace.error_message ?? null);\n  return {\n    ...trace,\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...(Array.isArray(trace.stage_history) ? trace.stage_history : []),\n      { stage, status, timestamp, error_code: errorCode, error_message: errorMessage },\n    ],\n  };\n};\nconst baseTrace = {\n  run_id: runId,\n  correlation_id: correlationId,\n  workflow_name: workflowName,\n  project_slug: null,\n  source_type: 'demo_request',\n  filename: null,\n  filepath: null,\n  stage: 'received',\n  status: 'received',\n  error_code: null,\n  error_message: null,\n  timestamp: new Date().toISOString(),\n  workflow_chain: [workflowName],\n  stage_history: [],\n};\nconst buildError = (code, message) => [{\n  json: {\n    ok: false,\n    question: null,\n    project_slug: 'alpha',\n    answer: null,\n    sources: [],\n    error: { code, message, classification: 'validation', retryable: false },\n    debug: {\n      workflow: workflowName,\n      upstream_workflow: 'assistant',\n      teacher_used: false,\n      retrieval_count: 0,\n      defaulted_project_slug: true,\n      session_id: null,\n    },\n    trace: withStage(baseTrace, 'validation', 'rejected', { error_code: code, error_message: message }),\n  },\n}];\nif (typeof rawQuestion !== 'string' || rawQuestion.trim() === '') {\n  return buildError('INVALID_QUESTION', 'Please enter a question before submitting the demo.');\n}\nif (rawProjectSlug !== undefined && rawProjectSlug !== null && typeof rawProjectSlug !== 'string') {\n  return buildError('INVALID_PROJECT_SLUG', 'project_slug must be a string when provided.');\n}\nif (rawSessionId !== undefined && rawSessionId !== null && typeof rawSessionId !== 'string') {\n  return buildError('INVALID_SESSION_ID', 'session_id must be a string when provided.');\n}\nconst trimmedProjectSlug = typeof rawProjectSlug === 'string' ? rawProjectSlug.trim() : '';\nif (trimmedProjectSlug && !slugPattern.test(trimmedProjectSlug)) {\n  return buildError('INVALID_PROJECT_SLUG', 'project_slug must use lowercase slug characters only.');\n}\nconst projectSlug = trimmedProjectSlug || 'alpha';\nconst sessionId = typeof rawSessionId === 'string' && rawSessionId.trim() !== ''\n  ? rawSessionId.trim()\n  : 'crispybrain-demo-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8);\nreturn [{\n  json: {\n    request_ok: true,\n    question: rawQuestion.trim(),\n    project_slug: projectSlug,\n    session_id: sessionId,\n    defaulted_project_slug: trimmedProjectSlug === '',\n    trace: withStage({ ...baseTrace, project_slug: projectSlug }, 'normalized', 'accepted', { project_slug: projectSlug }),\n  },\n}];"
      }
    },
    {
      "id": "if-demo-request-ok",
      "name": "Request Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -140,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-demo-request-ok",
              "leftValue": "={{ $json.request_ok === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "http-call-crispybrain-assistant",
      "name": "Call Assistant Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        110,
        -80
      ],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5678/webhook/assistant",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.question, project_slug: $json.project_slug, session_id: $json.session_id, run_id: $json.trace?.run_id || null, correlation_id: $json.trace?.correlation_id || null }) }}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "code-build-demo-response",
      "name": "Build Demo Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        0
      ],
      "parameters": {
        "jsCode": "const request = $('Normalize Demo Request').first().json;\nconst statusCode = $json.statusCode ?? 0;\nconst body = $json.body ?? {};\nconst sources = Array.isArray(body.sources) ? body.sources : [];\nconst withStage = (trace, stage, status, extra = {}) => {\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (trace.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (trace.error_message ?? null);\n  return {\n    ...trace,\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...(Array.isArray(trace.stage_history) ? trace.stage_history : []),\n      { stage, status, timestamp, error_code: errorCode, error_message: errorMessage },\n    ],\n  };\n};\nconst upstreamTrace = body.trace ?? null;\nconst workflowChain = [\n  'crispybrain-demo',\n  ...(Array.isArray(upstreamTrace?.workflow_chain)\n    ? upstreamTrace.workflow_chain.filter((name) => name !== 'crispybrain-demo')\n    : (upstreamTrace?.workflow_name ? [upstreamTrace.workflow_name] : [])),\n];\nconst mergedTrace = withStage({\n  ...(request.trace ?? {}),\n  ...(upstreamTrace ?? {}),\n  run_id: request.trace?.run_id ?? upstreamTrace?.run_id ?? null,\n  correlation_id: request.trace?.correlation_id ?? upstreamTrace?.correlation_id ?? null,\n  workflow_name: 'crispybrain-demo',\n  project_slug: body.project_slug ?? request.project_slug,\n  source_type: 'demo_request',\n  workflow_chain: workflowChain,\n}, 'assistant_result', statusCode >= 200 && statusCode < 300 ? 'accepted' : 'failed');\nconst debug = {\n  workflow: 'crispybrain-demo',\n  upstream_workflow: 'assistant',\n  teacher_used: workflowChain.includes('answer-from-memory') || (typeof body.answer === 'string' && body.answer.trim() !== ''),\n  retrieval_count: Number(body.retrieval?.memory_count ?? sources.length ?? 0),\n  defaulted_project_slug: request.defaulted_project_slug === true,\n  session_id: body.session_id ?? request.session_id,\n  upstream_status: statusCode || null,\n  trace_stage: body.trace?.stage ?? mergedTrace.stage ?? null,\n};\nconst operator = {\n  inspection_tool_supported: true,\n  health_summary_supported: true,\n  suspect_export_supported: true,\n  review_state_supported: true,\n  deferred_operator_page: true,\n  inspection_tool_hint: 'node scripts/inspect-crispybrain-memory.js --mode project-health --project-slug ' + (body.project_slug ?? request.project_slug),\n};\nif (statusCode < 200 || statusCode >= 300) {\n  return [{\n    json: {\n      ok: false,\n      question: request.question,\n      project_slug: request.project_slug,\n      answer: null,\n      retrieval: body.retrieval ?? null,\n      trust: body.trust ?? null,\n      sources: [],\n      operator,\n      error: {\n        code: 'UPSTREAM_HTTP_ERROR',\n        message: 'The CrispyBrain demo workflow could not reach the assistant path successfully.',\n        status: statusCode || null,\n        classification: 'transient',\n        retryable: true,\n      },\n      debug,\n      trace: withStage(mergedTrace, 'upstream_http_error', 'failed', { error_code: 'UPSTREAM_HTTP_ERROR', error_message: 'The CrispyBrain demo workflow could not reach the assistant path successfully.' }),\n    },\n  }];\n}\nif (body.ok !== true) {\n  return [{\n    json: {\n      ok: false,\n      question: request.question,\n      project_slug: request.project_slug,\n      answer: typeof body.answer === 'string' && body.answer.trim() ? body.answer : null,\n      retrieval: body.retrieval ?? null,\n      trust: body.trust ?? null,\n      sources,\n      operator,\n      error: body.error ?? {\n        code: 'UPSTREAM_DEMO_FAILURE',\n        message: 'The CrispyBrain assistant did not return a successful answer.',\n        classification: 'upstream',\n        retryable: false,\n      },\n      debug: {\n        ...debug,\n        retrieval_empty: body.retrieval?.empty === true,\n      },\n      trace: withStage(mergedTrace, 'demo_failed', 'failed', { error_code: body.error?.code ?? 'UPSTREAM_DEMO_FAILURE', error_message: body.error?.message ?? 'The CrispyBrain assistant did not return a successful answer.' }),\n    },\n  }];\n}\nreturn [{\n  json: {\n    ok: true,\n    question: request.question,\n    project_slug: body.project_slug ?? request.project_slug,\n    answer: body.answer,\n    retrieval: body.retrieval ?? null,\n    trust: body.trust ?? null,\n    sources,\n    operator,\n    debug,\n    trace: withStage(mergedTrace, 'demo_response_ready', 'succeeded'),\n  },\n}];"
      }
    },
    {
      "id": "respond-demo-result",
      "name": "Respond Demo Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        610,
        0
      ],
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      }
    }
  ],
  "connections": {
    "Demo Webhook": {
      "main": [
        [
          {
            "node": "Normalize Demo Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Demo Request": {
      "main": [
        [
          {
            "node": "Request Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Is Valid?": {
      "main": [
        [
          {
            "node": "Call Assistant Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Demo Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Assistant Workflow": {
      "main": [
        [
          {
            "node": "Build Demo Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Demo Response": {
      "main": [
        [
          {
            "node": "Respond Demo Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "0a307fa1-2a0b-4a13-b8c4-98b218f3a001",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
