workflows/crispybrain-demo.json
{
  "id": "crispybrain-demo",
  "name": "crispybrain-demo",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "webhook-crispybrain-demo",
      "name": "Demo Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -620,
        0
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "crispybrain-demo",
        "responseMode": "responseNode",
        "options": {}
      },
      "webhookId": "crispybrain-demo"
    },
    {
      "id": "code-normalize-demo-request",
      "name": "Normalize Demo Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -380,
        0
      ],
      "parameters": {
        "jsCode": "const workflowName = 'crispybrain-demo';\nconst payload = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\nconst rawQuestion = typeof payload.question === 'string' ? payload.question : (typeof payload.message === 'string' ? payload.message : payload.query);\nconst rawProjectSlug = payload.project_slug;\nconst rawSessionId = payload.session_id;\nconst runId = typeof payload.run_id === 'string' && payload.run_id.trim() !== ''\n  ? payload.run_id.trim()\n  : 'cb-demo-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8);\nconst correlationId = typeof payload.correlation_id === 'string' && payload.correlation_id.trim() !== ''\n  ? payload.correlation_id.trim()\n  : runId;\nconst slugPattern = /^[a-z0-9]+(?:[-_][a-z0-9]+)*$/;\nconst withStage = (trace, stage, status, extra = {}) => {\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (trace.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (trace.error_message ?? null);\n  return {\n    ...trace,\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...(Array.isArray(trace.stage_history) ? trace.stage_history : []),\n      { stage, status, timestamp, error_code: errorCode, error_message: errorMessage },\n    ],\n  };\n};\nconst baseTrace = {\n  run_id: runId,\n  correlation_id: correlationId,\n  workflow_name: workflowName,\n  project_slug: null,\n  source_type: 'demo_request',\n  filename: null,\n  filepath: null,\n  stage: 'received',\n  status: 'received',\n  error_code: null,\n  error_message: null,\n  timestamp: new Date().toISOString(),\n  workflow_chain: [workflowName],\n  stage_history: [],\n};\nconst buildError = (code, message) => [{\n  json: {\n    ok: false,\n    question: null,\n    project_slug: 'alpha',\n    answer: null,\n    sources: [],\n    error: { code, message, classification: 'validation', retryable: false },\n    debug: {\n      workflow: workflowName,\n      upstream_workflow: 'assistant',\n      teacher_used: false,\n      retrieval_count: 0,\n      defaulted_project_slug: true,\n      session_id: null,\n    },\n    trace: withStage(baseTrace, 'validation', 'rejected', { error_code: code, error_message: message }),\n  },\n}];\nif (typeof rawQuestion !== 'string' || rawQuestion.trim() === '') {\n  return buildError('INVALID_QUESTION', 'Please enter a question before submitting the demo.');\n}\nif (rawProjectSlug !== undefined && rawProjectSlug !== null && typeof rawProjectSlug !== 'string') {\n  return buildError('INVALID_PROJECT_SLUG', 'project_slug must be a string when provided.');\n}\nif (rawSessionId !== undefined && rawSessionId !== null && typeof rawSessionId !== 'string') {\n  return buildError('INVALID_SESSION_ID', 'session_id must be a string when provided.');\n}\nconst trimmedProjectSlug = typeof rawProjectSlug === 'string' ? rawProjectSlug.trim() : '';\nif (trimmedProjectSlug && !slugPattern.test(trimmedProjectSlug)) {\n  return buildError('INVALID_PROJECT_SLUG', 'project_slug must use lowercase slug characters only.');\n}\nconst projectSlug = trimmedProjectSlug || 'alpha';\nconst sessionId = typeof rawSessionId === 'string' && rawSessionId.trim() !== ''\n  ? rawSessionId.trim()\n  : 'crispybrain-demo-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8);\nreturn [{\n  json: {\n    request_ok: true,\n    question: rawQuestion.trim(),\n    project_slug: projectSlug,\n    session_id: sessionId,\n    defaulted_project_slug: trimmedProjectSlug === '',\n    trace: withStage({ ...baseTrace, project_slug: projectSlug }, 'normalized', 'accepted', { project_slug: projectSlug }),\n  },\n}];"
      }
    },
    {
      "id": "if-demo-request-ok",
      "name": "Request Is Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -140,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cond-demo-request-ok",
              "leftValue": "={{ $json.request_ok === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "http-call-crispybrain-assistant",
      "name": "Call Assistant Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        110,
        -80
      ],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:5678/webhook/assistant",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ message: $json.question, project_slug: $json.project_slug, session_id: $json.session_id, run_id: $json.trace?.run_id || null, correlation_id: $json.trace?.correlation_id || null }) }}",
        "options": {
          "timeout": 300000,
          "response": {
            "response": {
              "fullResponse": true,
              "neverError": true,
              "responseFormat": "json"
            }
          }
        }
      },
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000
    },
    {
      "id": "code-build-demo-response",
      "name": "Build Demo Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        0
      ],
      "parameters": {
        "jsCode": "const request = $('Normalize Demo Request').first().json;\nconst statusCode = $json.statusCode ?? 0;\nconst body = $json.body ?? {};\nconst sources = Array.isArray(body.sources) ? body.sources : [];\nconst selectedSources = Array.isArray(body.selected_sources) ? body.selected_sources : sources;\nconst retrievedCandidates = Array.isArray(body.retrieved_candidates) ? body.retrieved_candidates : [];\nconst grounding = body.grounding ?? {\n  status: body.retrieval?.empty === true ? 'none' : 'weak',\n  weak_grounding: body.retrieval?.empty !== false,\n  note: body.retrieval?.empty === true ? 'No strong supporting memory was retrieved.' : 'Grounding details were not returned by the assistant workflow.',\n  reasons: Array.isArray(body.trust?.uncertainty_reasons) ? body.trust.uncertainty_reasons : [],\n  supporting_source_count: selectedSources.length,\n  reviewed_source_count: Number(body.trust?.reviewed_source_count ?? 0),\n  strongest_similarity: body.retrieval?.strongest_similarity ?? null,\n  similarity_threshold: body.retrieval?.similarity_threshold ?? null,\n  ranking_mode: body.trace?.ranking_mode ?? null,\n  evidence_strength: body.trust?.evidence_strength ?? null,\n  overall_trust_band: body.trust?.overall_band ?? null,\n  primary_memory_ids: selectedSources.map((source) => source?.id).filter((value) => value !== null && value !== undefined),\n  primary_chunk_indexes: selectedSources.map((source) => source?.chunk_index).filter((value) => Number.isInteger(value)),\n};\nconst withStage = (trace, stage, status, extra = {}) => {\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (trace.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (trace.error_message ?? null);\n  return {\n    ...trace,\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...(Array.isArray(trace.stage_history) ? trace.stage_history : []),\n      { stage, status, timestamp, error_code: errorCode, error_message: errorMessage },\n    ],\n  };\n};\nconst upstreamTrace = body.trace ?? null;\nconst workflowChain = ['crispybrain-demo', ...(Array.isArray(upstreamTrace?.workflow_chain) ? upstreamTrace.workflow_chain.filter((name) => name !== 'crispybrain-demo') : (upstreamTrace?.workflow_name ? [upstreamTrace.workflow_name] : []))];\nconst mergedTrace = withStage({\n  ...(request.trace ?? {}),\n  ...(upstreamTrace ?? {}),\n  run_id: request.trace?.run_id ?? upstreamTrace?.run_id ?? null,\n  correlation_id: request.trace?.correlation_id ?? upstreamTrace?.correlation_id ?? null,\n  workflow_name: 'crispybrain-demo',\n  project_slug: body.project_slug ?? request.project_slug,\n  source_type: 'demo_request',\n  workflow_chain: workflowChain,\n}, 'assistant_result', statusCode >= 200 && statusCode < 300 ? 'accepted' : 'failed', {\n  grounding_status: grounding.status,\n  weak_grounding: grounding.weak_grounding,\n  answer_mode: body.answer_mode ?? null,\n  conflict_flag: body.conflict_flag === true,\n  conflict_severity: body.conflict_severity ?? null,\n  claim_support_counts: Array.isArray(body.claim_support_counts) ? body.claim_support_counts : [],\n  claim_support_counts_raw: Array.isArray(body.claim_support_counts_raw) ? body.claim_support_counts_raw : [],\n  claim_support_counts_deduped: Array.isArray(body.claim_support_counts_deduped) ? body.claim_support_counts_deduped : [],\n  claim_weighted_support: Array.isArray(body.claim_weighted_support) ? body.claim_weighted_support : [],\n  claim_independent_support: Array.isArray(body.claim_independent_support) ? body.claim_independent_support : [],\n  claim_independence_adjusted_support: Array.isArray(body.claim_independence_adjusted_support) ? body.claim_independence_adjusted_support : [],\n  dominant_claim_status: body.dominant_claim_status ?? null,\n  dominant_claim_basis: body.dominant_claim_basis ?? null,\n  claim_confidence: body.claim_confidence ?? null,\n  conflict_summary_hint: body.conflict_summary_hint ?? null,\n  most_supported_claim: body.most_supported_claim ?? null,\n  most_recent_claim: body.most_recent_claim ?? null,\n  source_quality_breakdown: Array.isArray(body.source_quality_breakdown) ? body.source_quality_breakdown : [],\n  source_independence_breakdown: Array.isArray(body.source_independence_breakdown) ? body.source_independence_breakdown : [],\n  evidence_clusters: Array.isArray(body.evidence_clusters) ? body.evidence_clusters : [],\n  entity_focus: body.entity_focus ?? null,\n  filtered_candidate_count: Number(body.filtered_candidate_count ?? 0),\n});\nconst debug = {\n  workflow: 'crispybrain-demo',\n  upstream_workflow: 'assistant',\n  teacher_used: workflowChain.includes('answer-from-memory') || (typeof body.answer === 'string' && body.answer.trim() !== ''),\n  retrieval_count: Number(body.retrieval?.memory_count ?? selectedSources.length ?? 0),\n  defaulted_project_slug: request.defaulted_project_slug === true,\n  session_id: body.session_id ?? request.session_id,\n  upstream_status: statusCode || null,\n  trace_stage: body.trace?.stage ?? mergedTrace.stage ?? null,\n  grounding_status: grounding.status,\n  weak_grounding: grounding.weak_grounding,\n  supporting_source_count: grounding.supporting_source_count,\n  reviewed_source_count: grounding.reviewed_source_count,\n  grounding_note: grounding.note,\n  answer_mode: body.answer_mode ?? 'direct',\n  conflict_flag: body.conflict_flag === true,\n  conflict_severity: body.conflict_severity ?? null,\n  claim_support_counts: Array.isArray(body.claim_support_counts) ? body.claim_support_counts : [],\n  claim_support_counts_raw: Array.isArray(body.claim_support_counts_raw) ? body.claim_support_counts_raw : [],\n  claim_support_counts_deduped: Array.isArray(body.claim_support_counts_deduped) ? body.claim_support_counts_deduped : [],\n  claim_weighted_support: Array.isArray(body.claim_weighted_support) ? body.claim_weighted_support : [],\n  dominant_claim_status: body.dominant_claim_status ?? null,\n  dominant_claim_basis: body.dominant_claim_basis ?? null,\n  claim_confidence: body.claim_confidence ?? null,\n  conflict_summary_hint: body.conflict_summary_hint ?? null,\n  most_supported_claim: body.most_supported_claim ?? null,\n  most_recent_claim: body.most_recent_claim ?? null,\n  source_quality_breakdown: Array.isArray(body.source_quality_breakdown) ? body.source_quality_breakdown : [],\n  entity_focus: body.entity_focus ?? null,\n  filtered_candidate_count: Number(body.filtered_candidate_count ?? 0),\n};\nconst operator = {\n  inspection_tool_supported: true,\n  health_summary_supported: true,\n  suspect_export_supported: true,\n  review_state_supported: true,\n  deferred_operator_page: true,\n  inspection_tool_hint: 'node scripts/inspect-crispybrain-memory.js --mode project-health --project-slug ' + (body.project_slug ?? request.project_slug),\n  evaluation_pack_hint: './scripts/test-crispybrain-v0_9_5.sh',\n};\nif (statusCode < 200 || statusCode >= 300) {\n  return [{\n    json: {\n      ok: false,\n      question: request.question,\n      project_slug: request.project_slug,\n      answer: null,\n      retrieval: body.retrieval ?? null,\n      trust: body.trust ?? null,\n      grounding,\n      sources: [],\n      selected_sources: [],\n      retrieved_candidates: [],\n      answer_mode: body.answer_mode ?? 'insufficient',\n      conflict_flag: false,\n      conflict_severity: null,\n      conflict_details: [],\n      claim_support_counts: [],\n      claim_support_counts_raw: [],\n      claim_support_counts_deduped: [],\n      claim_weighted_support: [],\n      claim_independent_support: [],\n      claim_independence_adjusted_support: [],\n      dominant_claim_status: null,\n      dominant_claim_basis: null,\n      claim_confidence: null,\n      conflict_summary_hint: null,\n      most_supported_claim: null,\n      most_recent_claim: null,\n      source_quality_breakdown: [],\n      source_independence_breakdown: [],\n      evidence_clusters: [],\n      entity_focus: body.entity_focus ?? null,\n      filtered_candidate_count: Number(body.filtered_candidate_count ?? 0),\n      operator,\n      error: {\n        code: 'UPSTREAM_HTTP_ERROR',\n        message: 'The CrispyBrain demo workflow could not reach the assistant path successfully.',\n        status: statusCode || null,\n        classification: 'transient',\n        retryable: true,\n      },\n      debug,\n      trace: withStage(mergedTrace, 'upstream_http_error', 'failed', {\n        error_code: 'UPSTREAM_HTTP_ERROR',\n        error_message: 'The CrispyBrain demo workflow could not reach the assistant path successfully.',\n        grounding_status: grounding.status,\n        weak_grounding: grounding.weak_grounding,\n        answer_mode: body.answer_mode ?? null,\n        conflict_flag: body.conflict_flag === true,\n      }),\n    },\n  }];\n}\nif (body.ok !== true) {\n  return [{\n    json: {\n      ok: false,\n      question: request.question,\n      project_slug: request.project_slug,\n      answer: typeof body.answer === 'string' && body.answer.trim() ? body.answer : null,\n      retrieval: body.retrieval ?? null,\n      trust: body.trust ?? null,\n      grounding,\n      sources,\n      selected_sources: selectedSources,\n      retrieved_candidates: retrievedCandidates,\n      answer_mode: body.answer_mode ?? 'direct',\n      conflict_flag: body.conflict_flag === true,\n      conflict_severity: body.conflict_severity ?? null,\n      conflict_details: Array.isArray(body.conflict_details) ? body.conflict_details : [],\n      claim_support_counts: Array.isArray(body.claim_support_counts) ? body.claim_support_counts : [],\n      claim_support_counts_raw: Array.isArray(body.claim_support_counts_raw) ? body.claim_support_counts_raw : [],\n      claim_support_counts_deduped: Array.isArray(body.claim_support_counts_deduped) ? body.claim_support_counts_deduped : [],\n      claim_weighted_support: Array.isArray(body.claim_weighted_support) ? body.claim_weighted_support : [],\n      claim_independent_support: Array.isArray(body.claim_independent_support) ? body.claim_independent_support : [],\n      claim_independence_adjusted_support: Array.isArray(body.claim_independence_adjusted_support) ? body.claim_independence_adjusted_support : [],\n      dominant_claim_status: body.dominant_claim_status ?? null,\n      dominant_claim_basis: body.dominant_claim_basis ?? null,\n      claim_confidence: body.claim_confidence ?? null,\n      conflict_summary_hint: body.conflict_summary_hint ?? null,\n      most_supported_claim: body.most_supported_claim ?? null,\n      most_recent_claim: body.most_recent_claim ?? null,\n      source_quality_breakdown: Array.isArray(body.source_quality_breakdown) ? body.source_quality_breakdown : [],\n      source_independence_breakdown: Array.isArray(body.source_independence_breakdown) ? body.source_independence_breakdown : [],\n      evidence_clusters: Array.isArray(body.evidence_clusters) ? body.evidence_clusters : [],\n      entity_focus: body.entity_focus ?? null,\n      filtered_candidate_count: Number(body.filtered_candidate_count ?? 0),\n      operator,\n      error: body.error ?? {\n        code: 'UPSTREAM_DEMO_FAILURE',\n        message: 'The CrispyBrain assistant did not return a successful answer.',\n        classification: 'upstream',\n        retryable: false,\n      },\n      debug: { ...debug, retrieval_empty: body.retrieval?.empty === true },\n      trace: withStage(mergedTrace, 'demo_failed', 'failed', {\n        error_code: body.error?.code ?? 'UPSTREAM_DEMO_FAILURE',\n        error_message: body.error?.message ?? 'The CrispyBrain assistant did not return a successful answer.',\n        grounding_status: grounding.status,\n        weak_grounding: grounding.weak_grounding,\n        answer_mode: body.answer_mode ?? null,\n        conflict_flag: body.conflict_flag === true,\n      }),\n    },\n  }];\n}\nreturn [{\n  json: {\n    ok: true,\n    question: request.question,\n    project_slug: body.project_slug ?? request.project_slug,\n    answer: body.answer,\n    retrieval: body.retrieval ?? null,\n    trust: body.trust ?? null,\n    grounding,\n    sources,\n    selected_sources: selectedSources,\n    retrieved_candidates: retrievedCandidates,\n    answer_mode: body.answer_mode ?? 'direct',\n    conflict_flag: body.conflict_flag === true,\n    conflict_severity: body.conflict_severity ?? null,\n    conflict_details: Array.isArray(body.conflict_details) ? body.conflict_details : [],\n    claim_support_counts: Array.isArray(body.claim_support_counts) ? body.claim_support_counts : [],\n    claim_support_counts_raw: Array.isArray(body.claim_support_counts_raw) ? body.claim_support_counts_raw : [],\n    claim_support_counts_deduped: Array.isArray(body.claim_support_counts_deduped) ? body.claim_support_counts_deduped : [],\n    claim_weighted_support: Array.isArray(body.claim_weighted_support) ? body.claim_weighted_support : [],\n    claim_independent_support: Array.isArray(body.claim_independent_support) ? body.claim_independent_support : [],\n    claim_independence_adjusted_support: Array.isArray(body.claim_independence_adjusted_support) ? body.claim_independence_adjusted_support : [],\n    dominant_claim_status: body.dominant_claim_status ?? null,\n    dominant_claim_basis: body.dominant_claim_basis ?? null,\n    claim_confidence: body.claim_confidence ?? null,\n    conflict_summary_hint: body.conflict_summary_hint ?? null,\n    most_supported_claim: body.most_supported_claim ?? null,\n    most_recent_claim: body.most_recent_claim ?? null,\n    source_quality_breakdown: Array.isArray(body.source_quality_breakdown) ? body.source_quality_breakdown : [],\n    source_independence_breakdown: Array.isArray(body.source_independence_breakdown) ? body.source_independence_breakdown : [],\n    evidence_clusters: Array.isArray(body.evidence_clusters) ? body.evidence_clusters : [],\n    entity_focus: body.entity_focus ?? null,\n    filtered_candidate_count: Number(body.filtered_candidate_count ?? 0),\n    operator,\n    debug,\n    trace: withStage(mergedTrace, 'demo_response_ready', 'succeeded', {\n      grounding_status: grounding.status,\n      weak_grounding: grounding.weak_grounding,\n      answer_mode: body.answer_mode ?? null,\n      conflict_flag: body.conflict_flag === true,\n    }),\n  },\n}];"
      }
    },
    {
      "id": "respond-demo-result",
      "name": "Respond Demo Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        610,
        0
      ],
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      }
    }
  ],
  "connections": {
    "Demo Webhook": {
      "main": [
        [
          {
            "node": "Normalize Demo Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Demo Request": {
      "main": [
        [
          {
            "node": "Request Is Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Request Is Valid?": {
      "main": [
        [
          {
            "node": "Call Assistant Workflow",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond Demo Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Assistant Workflow": {
      "main": [
        [
          {
            "node": "Build Demo Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Demo Response": {
      "main": [
        [
          {
            "node": "Respond Demo Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {},
  "versionId": "0a307fa1-2a0b-4a13-b8c4-98b218f3a001",
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
