workflows/openbrain-validation-and-errors.json
{
  "name": "validation-and-errors",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "validation-and-errors",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-validation-and-errors",
      "name": "Validation Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        300
      ],
      "webhookId": "validation-and-errors"
    },
    {
      "parameters": {
        "jsCode": "const payload = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\nconst rawQuery = payload.query;\nconst rawProjectSlug = payload.project_slug;\n\nif (typeof rawQuery !== 'string' || rawQuery.trim() === '') {\n  return [{\n    json: {\n      is_valid: false,\n      error: 'Missing or invalid query'\n    }\n  }];\n}\n\nif (rawProjectSlug !== undefined && typeof rawProjectSlug !== 'string') {\n  return [{\n    json: {\n      is_valid: false,\n      error: 'Invalid project_slug'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    is_valid: true,\n    query: rawQuery.trim(),\n    project_slug: typeof rawProjectSlug === 'string' ? rawProjectSlug.trim() : ''\n  }\n}];"
      },
      "id": "code-validate-validation-request",
      "name": "Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "if ($json.is_valid !== true) {\n  return [{\n    json: {\n      ok: false,\n      error: $json.error\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ok: true,\n    message: 'Validation passed',\n    query: $json.query,\n    project_slug: $json.project_slug\n  }\n}];"
      },
      "id": "code-build-validation-response",
      "name": "Build Validation Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "respond-validation-and-errors",
      "name": "Respond Validation Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1160,
        300
      ]
    }
  ],
  "connections": {
    "Validation Webhook": {
      "main": [
        [
          {
            "node": "Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request": {
      "main": [
        [
          {
            "node": "Build Validation Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Validation Response": {
      "main": [
        [
          {
            "node": "Respond Validation Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "versionId": "6540836d-11ca-451a-a2d5-6d8ff6ed93df",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "validation-and-errors"
}
