workflows/openbrain-answer-from-memory.json
{
  "name": "answer-from-memory",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "answer-from-memory",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-answer-from-memory",
      "name": "Answer From Memory Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        300
      ],
      "webhookId": "answer-from-memory"
    },
    {
      "parameters": {
        "jsCode": "const payload = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\nconst query = typeof payload.query === 'string' ? payload.query : '';\nconst context = typeof payload.context === 'string' ? payload.context : '';\n\nif (query.trim() === '' || context.trim() === '') {\n  return [{\n    json: {\n      ok: false,\n      error: 'Missing query or context'\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ok: true,\n    answer: 'Placeholder answer based on provided memory context.',\n    query,\n    context_length: context.length\n  }\n}];"
      },
      "id": "code-validate-and-build-answer",
      "name": "Validate And Build Answer",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "respond-answer-from-memory",
      "name": "Respond Answer From Memory",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        860,
        300
      ]
    }
  ],
  "connections": {
    "Answer From Memory Webhook": {
      "main": [
        [
          {
            "node": "Validate And Build Answer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate And Build Answer": {
      "main": [
        [
          {
            "node": "Respond Answer From Memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "versionId": "fe692e06-16dc-4144-84d8-391a06e2da3a",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "answer-from-memory"
}
