workflows/openbrain-insert.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "openbrain-note",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        48,
        -64
      ],
      "id": "651c6ad8-2c42-493a-87b1-35e0e6a12eae",
      "name": "Webhook",
      "webhookId": "4d7c5572-7363-4917-a096-146322cd23ef"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2b0185ae-5ef5-4660-b6ba-53d453d99d30",
              "name": "source",
              "value": "={{$json.body.source}}",
              "type": "string"
            },
            {
              "id": "842ef2a7-dad6-4ab3-8289-2e2ed63ef296",
              "name": "category",
              "value": "={{$json.body.category || \"project_note\"}}",
              "type": "string"
            },
            {
              "id": "e338ef63-3ef8-4358-9e6b-0bc06dead4cd",
              "name": "title",
              "value": "={{ $json.body.title }}",
              "type": "string"
            },
            {
              "id": "2e76da82-c3f2-4dec-9a25-7215945beee5",
              "name": "content",
              "value": "={{ $json.body.content }}",
              "type": "string"
            },
            {
              "id": "c3fe8d9f-be9b-4a7a-ba69-3b71d73674e4",
              "name": "text_for_embedding",
              "value": "={{$json.body.title + \"\\n\\n\" + $json.body.content}}",
              "type": "string"
            },
            {
              "id": "42140d4d-08d0-434e-b44e-4d2d8a7a1685",
              "name": "tags",
              "value": "={{[]}}",
              "type": "array"
            },
            {
              "id": "bac2aa2a-5f44-41b3-8b4e-82539f03a62a",
              "name": "metadata_json",
              "value": "={{ {\"embedding_model\": \"nomic-embed-text\"} }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        -64
      ],
      "id": "ef352bcc-1344-4e88-95c3-c12574fecc2f",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "jsCode": "const note = $('Edit Fields').first().json;\nconst embedding = $json.embeddings?.[0];\n\nif (!embedding) {\n  throw new Error('No embedding returned from Ollama');\n}\n\nif (embedding.length !== 768) {\n  throw new Error(`Expected 768 dimensions, got ${embedding.length}`);\n}\n\nreturn [\n  {\n    json: {\n      source: note.source,\n      category: note.category,\n      title: note.title,\n      content: note.content,\n      tags_pg: '{}',\n      metadata_json_string: JSON.stringify(note.metadata_json || {}),\n      embedding_vector: `[${embedding.join(',')}]`\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        -64
      ],
      "id": "b74271e1-3021-4b66-81f2-8d6b11d6fc80",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/embed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nomic-embed-text\",\n  \"input\": {{$json.text_for_embedding.toJsonString()}}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        496,
        -64
      ],
      "id": "5e08daa8-6f5a-4772-a872-011816e48bf7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO memories (\n  source,\n  category,\n  title,\n  content,\n  tags,\n  metadata_json,\n  embedding\n)\nVALUES (\n  $1,\n  $2,\n  $3,\n  $4,\n  $5::text[],\n  $6::jsonb,\n  $7::vector\n)\nRETURNING id, title, category, created_at;",
        "options": {
          "queryReplacement": "{{$json.source}}, {{$json.category}}, {{$json.title}}, {{$json.content}}, {{$json.tags_pg}}, {{$json.metadata_json_string}}, {{$json.embedding_vector}}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        944,
        -64
      ],
      "id": "492e5dfb-3a8b-4c91-9348-fe263395c34b",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "j60Gpt1oeRVTUCH2",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "56b92b9ea61be735ca16935ff625239de8741419435cb59d1644bfb7ca65070f"
  }
}