workflows/openbrain-insert-embedding-full-workflow-fixed-v3.json
{
  "name": "insert-embedding-fixed-v3",
  "nodes": [
    {
      "parameters": {},
      "id": "b6f0f727-32ca-4d5f-8f7f-4cfe8097e9f1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "/home/node/.n8n-files/crispybrain/inbox/2026-04-14-openbrain-multi-chunk-test.txt",
        "options": {}
      },
      "id": "7b5c7078-fccf-4d83-b2c1-f6f23e254ea9",
      "name": "Read this text file from disk",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        440,
        300
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "d8a3ef8f-e5a6-4d8d-a6d6-f7ab2adf4828",
      "name": "Extract Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const text = $json.text ?? $json.data ?? '';\nconst fileName = '2026-04-14-openbrain-multi-chunk-test.txt';\nconst titleBase = fileName.replace(/\\.[^.]+$/, '');\nconst maxChars = 1200;\n\nfunction chunkText(input, size) {\n  const normalized = String(input).trim();\n  if (!normalized) return [];\n  const chunks = [];\n  let index = 0;\n  while (index < normalized.length) {\n    chunks.push(normalized.slice(index, index + size).trim());\n    index += size;\n  }\n  return chunks.filter(Boolean);\n}\n\nconst chunks = chunkText(text, maxChars);\nconst total = chunks.length || 1;\nconst ingestedAt = new Date().toISOString();\n\nreturn chunks.map((chunk, i) => ({\n  json: {\n    source: 'file_ingest',\n    category: 'project_note',\n    title: `${titleBase} :: chunk ${String(i + 1).padStart(2, '0')}`,\n    content: chunk,\n    tags: [],\n    metadata_json: {\n      filename: fileName,\n      chunk_index: i + 1,\n      total_chunks: total,\n      ingested_at: ingestedAt\n    }\n  }\n}));"
      },
      "id": "c3b2252d-e4a1-4a2c-9c17-a3fc17ea6713",
      "name": "Prepare Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/embed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"nomic-embed-text\", \"input\": $json.content } }}",
        "options": {}
      },
      "id": "f9f3e1c4-2d6d-4ab6-91f6-06069bc386fa",
      "name": "Generate Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO memories (source, category, title, content, tags, metadata_json, embedding)\nVALUES (\n  '{{ $json.source.replace(/'/g, \"''\") }}',\n  '{{ $json.category.replace(/'/g, \"''\") }}',\n  '{{ $json.title.replace(/'/g, \"''\") }}',\n  '{{ $json.content.replace(/'/g, \"''\") }}',\n  ARRAY[]::text[],\n  '{{ JSON.stringify($json.metadata_json).replace(/'/g, \"''\") }}'::jsonb,\n  '[{{ $json.embeddings[0].join(\",\") }}]'::vector\n);",
        "options": {}
      },
      "id": "f0f6c32b-e2d7-4d99-b0d1-f645dd5ba80d",
      "name": "Insert Into Memories",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1380,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "replace-me",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Read this text file from disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read this text file from disk": {
      "main": [
        [
          {
            "node": "Extract Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Text": {
      "main": [
        [
          {
            "node": "Prepare Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Metadata": {
      "main": [
        [
          {
            "node": "Generate Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Embedding": {
      "main": [
        [
          {
            "node": "Insert Into Memories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8ef39a2d-6d8d-42b3-8388-c919f7d6181e",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "insert-embedding-fixed-v3",
  "tags": []
}
