workflows/openbrain-search-by-embedding.json
{
  "name": "openbrain-search-by-embedding",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "openbrain-search-by-embedding",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "b1d9f1a0-3a9a-4c69-a0c1-1f2b6d8f0001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "openbrain-search-by-embedding"
    },
    {
      "parameters": {
        "jsCode": "const payload = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\n\nconst rawQuery = payload.query;\nif (typeof rawQuery !== 'string' || rawQuery.trim() === '') {\n  throw new Error('Request body must include a string field named query.');\n}\n\nlet projectSlug = null;\nif (payload.project_slug !== undefined && payload.project_slug !== null) {\n  if (typeof payload.project_slug !== 'string') {\n    throw new Error('project_slug must be a string when provided');\n  }\n\n  const trimmed = payload.project_slug.trim();\n  projectSlug = trimmed || null;\n}\n\nreturn [{\n  json: {\n    query: rawQuery.trim(),\n    projectSlug\n  }\n}];"
      },
      "id": "b1d9f1a0-3a9a-4c69-a0c1-1f2b6d8f0002",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  CASE\n    WHEN $1::text IS NULL OR btrim($1::text) = '' THEN true\n    WHEN EXISTS (SELECT 1 FROM projects WHERE slug = $1::text) THEN true\n    ELSE false\n  END AS project_slug_valid,\n  CASE\n    WHEN $1::text IS NULL OR btrim($1::text) = '' THEN NULL\n    ELSE (SELECT slug FROM projects WHERE slug = $1::text LIMIT 1)\n  END AS project_slug,\n  CASE\n    WHEN $1::text IS NULL OR btrim($1::text) = '' THEN 'project_slug not provided'\n    WHEN EXISTS (SELECT 1 FROM projects WHERE slug = $1::text) THEN 'project_slug validated'\n    ELSE 'project_slug not found'\n  END AS validation_message;",
        "options": {
          "queryReplacement": "={{ [$json.projectSlug] }}"
        }
      },
      "id": "b1d9f1a0-3a9a-4c69-a0c1-1f2b6d8f0003",
      "name": "Validate Project Slug",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        520,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "__SET_POSTGRES_CREDENTIAL__",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Normalize Input').first().json;\nconst rows = $input.all().map(item => item.json ?? {});\n\nif (!base.projectSlug) {\n  return [{ json: base }];\n}\n\nconst firstRow = rows[0] ?? {};\n\nconst isValid =\n  firstRow.project_slug_valid === true ||\n  firstRow.project_slug === base.projectSlug;\n\nif (!isValid) {\n  throw new Error(`Unknown project_slug: ${base.projectSlug}`);\n}\n\nreturn [{ json: base }];"
      },
      "id": "b1d9f1a0-3a9a-4c69-a0c1-1f2b6d8f0004",
      "name": "Enforce Project Validation Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/embed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"nomic-embed-text\",\n  input: $json.query,\n  truncate: true\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "b1d9f1a0-3a9a-4c69-a0c1-1f2b6d8f0005",
      "name": "Generate Query Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $('Enforce Project Validation Code').first().json;\nconst embeddings = $json.embeddings;\n\nif (!Array.isArray(embeddings) || !Array.isArray(embeddings[0])) {\n  throw new Error('Ollama response did not contain embeddings[0].');\n}\n\nconst vector = embeddings[0];\nconst vectorLiteral = `[${vector.join(',')}]`;\n\nreturn [{\n  json: {\n    query: base.query,\n    projectSlug: base.projectSlug,\n    vector_literal: vectorLiteral\n  }\n}];"
      },
      "id": "b1d9f1a0-3a9a-4c69-a0c1-1f2b6d8f0006",
      "name": "Prepare Vector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  id,\n  title,\n  category,\n  source,\n  content,\n  1 - (embedding <=> $1::vector) AS similarity\nFROM memories\nWHERE embedding IS NOT NULL\n  AND ($2::text IS NULL OR metadata_json->>'project_slug' = $2::text)\nORDER BY embedding <=> $1::vector\nLIMIT 5;",
        "options": {
          "queryReplacement": "={{ [$json.vector_literal, $json.projectSlug] }}"
        }
      },
      "id": "b1d9f1a0-3a9a-4c69-a0c1-1f2b6d8f0007",
      "name": "Search Memories",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1560,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "__SET_POSTGRES_CREDENTIAL__",
          "name": "Postgres account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Validate Project Slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Project Slug": {
      "main": [
        [
          {
            "node": "Enforce Project Validation Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enforce Project Validation Code": {
      "main": [
        [
          {
            "node": "Generate Query Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Query Embedding": {
      "main": [
        [
          {
            "node": "Prepare Vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Vector": {
      "main": [
        [
          {
            "node": "Search Memories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "pinData": {},
  "staticData": null,
  "tags": [],
  "active": false,
  "versionId": "11111111-2222-3333-4444-555555555556",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "openbrain-search-by-embedding"
}