workflows/openbrain-build-context.json
{
  "name": "openbrain-build-context",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "openbrain-build-context",
        "responseMode": "lastNode",
        "responseData": "firstEntryJson",
        "options": {}
      },
      "id": "c1f2a3b4-5d6e-47f8-9012-abcdef123456",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "openbrain-build-context"
    },
    {
      "parameters": {
        "jsCode": "const payload = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\n\nconst rawQuery = payload.query;\nif (typeof rawQuery !== 'string' || rawQuery.trim() === '') {\n  throw new Error('Request body must include a string field named query.');\n}\n\nlet projectSlug = null;\nif (payload.project_slug !== undefined && payload.project_slug !== null) {\n  if (typeof payload.project_slug !== 'string') {\n    throw new Error('project_slug must be a string when provided');\n  }\n\n  const trimmed = payload.project_slug.trim();\n  projectSlug = trimmed || null;\n}\n\nreturn [{\n  json: {\n    query: rawQuery.trim(),\n    projectSlug\n  }\n}];"
      },
      "id": "c1f2a3b4-5d6e-47f8-9012-abcdef123457",
      "name": "Normalize Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  CASE\n    WHEN $1::text IS NULL OR btrim($1::text) = '' THEN true\n    WHEN EXISTS (SELECT 1 FROM projects WHERE slug = $1::text) THEN true\n    ELSE false\n  END AS project_slug_valid,\n  CASE\n    WHEN $1::text IS NULL OR btrim($1::text) = '' THEN NULL\n    ELSE (SELECT slug FROM projects WHERE slug = $1::text LIMIT 1)\n  END AS project_slug,\n  CASE\n    WHEN $1::text IS NULL OR btrim($1::text) = '' THEN 'project_slug not provided'\n    WHEN EXISTS (SELECT 1 FROM projects WHERE slug = $1::text) THEN 'project_slug validated'\n    ELSE 'project_slug not found'\n  END AS validation_message;",
        "options": {
          "queryReplacement": "={{ [$json.projectSlug] }}"
        }
      },
      "id": "c1f2a3b4-5d6e-47f8-9012-abcdef123458",
      "name": "Validate Project Slug",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        520,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "__SET_POSTGRES_CREDENTIAL__",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const base = $('Normalize Input').first().json;\nconst rows = $input.all().map(item => item.json ?? {});\n\nif (!base.projectSlug) {\n  return [{ json: base }];\n}\n\nconst firstRow = rows[0] ?? {};\n\nconst isValid =\n  firstRow.project_slug_valid === true ||\n  firstRow.project_slug === base.projectSlug;\n\nif (!isValid) {\n  throw new Error(`Unknown project_slug: ${base.projectSlug}`);\n}\n\nreturn [{ json: base }];"
      },
      "id": "c1f2a3b4-5d6e-47f8-9012-abcdef123459",
      "name": "Enforce Project Validation Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/embed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: \"nomic-embed-text\",\n  input: $json.query,\n  truncate: true\n}) }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "c1f2a3b4-5d6e-47f8-9012-abcdef123460",
      "name": "Generate Query Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1040,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $('Enforce Project Validation Code').first().json;\nconst embeddings = $json.embeddings;\n\nif (!Array.isArray(embeddings) || !Array.isArray(embeddings[0])) {\n  throw new Error('Ollama response did not contain embeddings[0].');\n}\n\nconst vector = embeddings[0];\nconst vectorLiteral = `[${vector.join(',')}]`;\n\nreturn [{\n  json: {\n    query: base.query,\n    projectSlug: base.projectSlug,\n    vector_literal: vectorLiteral\n  }\n}];"
      },
      "id": "c1f2a3b4-5d6e-47f8-9012-abcdef123461",
      "name": "Prepare Vector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  id,\n  title,\n  category,\n  source,\n  content,\n  metadata_json,\n  1 - (embedding <=> $1::vector) AS similarity\nFROM memories\nWHERE embedding IS NOT NULL\n  AND ($2::text IS NULL OR metadata_json->>'project_slug' = $2::text)\nORDER BY embedding <=> $1::vector\nLIMIT 5;",
        "options": {
          "queryReplacement": "={{ [$json.vector_literal, $json.projectSlug] }}"
        }
      },
      "id": "c1f2a3b4-5d6e-47f8-9012-abcdef123462",
      "name": "Search Memories",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1560,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "__SET_POSTGRES_CREDENTIAL__",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const base = $('Enforce Project Validation Code').first().json;\nconst rows = $input.all().map(item => item.json ?? {});\n\nconst memories = rows.map((row) => {\n  const metadata = row.metadata_json && typeof row.metadata_json === 'object' ? row.metadata_json : {};\n  const memoryProjectSlug = typeof metadata.project_slug === 'string' && metadata.project_slug.trim() !== ''\n    ? metadata.project_slug.trim()\n    : null;\n\n  return {\n    id: row.id,\n    title: row.title ?? '',\n    category: row.category ?? '',\n    source: row.source ?? '',\n    content: row.content ?? '',\n    similarity: row.similarity,\n    projectSlug: memoryProjectSlug,\n    metadata_json: metadata\n  };\n});\n\nconst contextBlock = memories.length\n  ? memories.map((memory, index) => {\n      const lines = [\n        `Memory ${index + 1}`,\n        `Title: ${memory.title}`,\n        `Category: ${memory.category}`,\n        `Source: ${memory.source}`\n      ];\n\n      if (memory.projectSlug) {\n        lines.push(`Project: ${memory.projectSlug}`);\n      }\n\n      lines.push('Content:');\n      lines.push(memory.content);\n\n      return lines.join('\\n');\n    }).join('\\n\\n')\n  : '';\n\nreturn [{\n  json: {\n    query: base.query,\n    projectSlug: base.projectSlug,\n    memoryCount: memories.length,\n    contextBlock,\n    memories\n  }\n}];"
      },
      "id": "d7e8f901-2345-4abc-89de-f0123456789a",
      "name": "Build Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1820,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Normalize Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Input": {
      "main": [
        [
          {
            "node": "Validate Project Slug",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Project Slug": {
      "main": [
        [
          {
            "node": "Enforce Project Validation Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enforce Project Validation Code": {
      "main": [
        [
          {
            "node": "Generate Query Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Query Embedding": {
      "main": [
        [
          {
            "node": "Prepare Vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Vector": {
      "main": [
        [
          {
            "node": "Search Memories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Memories": {
      "main": [
        [
          {
            "node": "Build Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "active": false,
  "versionId": "8a9b0c1d-2e3f-4a5b-8c9d-0e1f2a3b4c5e",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "openbrain-build-context"
}
