workflows/openbrain-smoke-test.json
{
  "name": "openbrain-smoke-test",
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger-openbrain-smoke-test",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0d76a86e-b9a7-415c-b9d6-b1c18c425190",
              "name": "status",
              "value": "ok",
              "type": "string"
            },
            {
              "id": "06834f16-32da-4bd7-b07d-29762138ee0e",
              "name": "source",
              "value": "openbrain-smoke-test",
              "type": "string"
            },
            {
              "id": "5d718736-80ab-4fd2-86ab-59a7cc9c9a0c",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-openbrain-smoke-test-payload",
      "name": "Smoke Test Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all();"
      },
      "id": "return-openbrain-smoke-test-payload",
      "name": "Return Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        760,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Smoke Test Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smoke Test Payload": {
      "main": [
        [
          {
            "node": "Return Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "31f0cb89-9018-4d37-8c05-c7ad9f44ef46",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "openbrain-smoke-test",
  "tags": []
}
