workflows/openbrain-ingest-add-prepare-metadata.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "4261982e-0871-46c6-9fbc-33178326dc31",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "file_path",
              "value": "/home/node/.n8n-files/openbrain/inbox/2026-04-14-openbrain-minimal-test.txt",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "title",
              "value": "2026-04-14-openbrain-minimal-test",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "category",
              "value": "project_note",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "source",
              "value": "file_ingest",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "chunk_size",
              "value": 1200,
              "type": "number"
            },
            {
              "id": "a6",
              "name": "chunk_overlap",
              "value": 200,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "03475807-342a-4bb1-b402-df360aa5c8b1",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.file_path }}",
        "options": {
          "fileExtension": "txt",
          "mimeType": "text/plain"
        }
      },
      "id": "a6d6c907-035d-4eb5-bf52-43394cdcb594",
      "name": "Read File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        448,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const config = $('Set Config').first().json;\nconst filePath = config.file_path;\nconst baseTitle = config.title;\nconst category = config.category;\nconst source = config.source;\nconst chunkSize = Number(config.chunk_size || 1200);\nconst chunkOverlap = Number(config.chunk_overlap || 200);\n\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst text = buffer.toString('utf8').replace(/\\r\\n/g, '\\n').trim();\n\nif (!text) {\n  return [];\n}\n\nconst items = [];\nlet chunkIndex = 1;\nlet start = 0;\n\nwhile (start < text.length) {\n  const end = Math.min(start + chunkSize, text.length);\n  const chunkText = text.slice(start, end).trim();\n\n  if (chunkText) {\n    items.push({\n      json: {\n        source,\n        category,\n        title: `${baseTitle} :: chunk ${String(chunkIndex).padStart(2, '0')}`,\n        content: chunkText,\n        tags: ['openbrain', 'file_ingest'],\n        metadata_json: {\n          file_path: filePath,\n          chunk_index: chunkIndex,\n          chunk_start: start,\n          chunk_end: end,\n          chunk_size: chunkSize,\n          chunk_overlap: chunkOverlap,\n          total_chars: text.length\n        }\n      }\n    });\n  }\n\n  if (end >= text.length) {\n    break;\n  }\n\n  start = end - chunkOverlap;\n  chunkIndex += 1;\n}\n\nreturn items;\n"
      },
      "id": "a33200ea-f5d2-4194-bb89-7d124d6a76e9",
      "name": "Chunk Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const totalChunks = items.length;\nconst ingestedAt = new Date().toISOString();\n\nreturn items.map((item) => {\n  const filePath = item.json?.metadata_json?.file_path || $('Set Config').first().json.file_path || '';\n  const filename = filePath.split('/').pop() || filePath;\n  const chunkIndex = Number(item.json?.metadata_json?.chunk_index || 1);\n\n  return {\n    json: {\n      ...item.json,\n      metadata_json: {\n        filename,\n        chunk_index: chunkIndex,\n        total_chunks: totalChunks,\n        ingested_at: ingestedAt,\n      },\n    },\n  };\n});\n"
      },
      "id": "7c8b25ce-7cb2-4a61-bf41-86f68986d72d",
      "name": "Prepare Metadata",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO memories (source, category, title, content, tags, metadata_json) VALUES ($1, $2, $3, $4, $5::text[], $6::jsonb) RETURNING id, title;",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ [$json.source, $json.category, $json.title, $json.content, $json.tags, JSON.stringify($json.metadata_json)] }}"
        }
      },
      "id": "6a3a1cee-d504-43b2-82bf-bb9eca5b6f3c",
      "name": "Insert Chunk",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1088,
        0
      ],
      "credentials": {}
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Read File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File": {
      "main": [
        [
          {
            "node": "Chunk Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunk Text": {
      "main": [
        [
          {
            "node": "Prepare Metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Metadata": {
      "main": [
        [
          {
            "node": "Insert Chunk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "56b92b9ea61be735ca16935ff625239de8741419435cb59d1644bfb7ca65070f"
  }
}