workflows/openbrain-auto-ingest-watch.json
{
  "name": "openbrain-auto-ingest-watch",
  "nodes": [
    {
      "parameters": {
        "triggerOn": "folder",
        "path": "/home/node/.n8n-files/openbrain/inbox",
        "events": [
          "add"
        ],
        "options": {
          "depth": 2,
          "ignoreInitial": true
        }
      },
      "id": "c4a1a6de-84a7-4db3-a3dd-2d1a8164f101",
      "name": "Local File Trigger",
      "type": "n8n-nodes-base.localFileTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "operation": "read",
        "fileSelector": "={{ $json.path }}",
        "options": {
          "mimeType": "text/plain",
          "fileExtension": "txt",
          "putOutputFileInField": "data"
        }
      },
      "id": "c4a1a6de-84a7-4db3-a3dd-2d1a8164f102",
      "name": "Read File",
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        260,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $json ?? {};\nconst buffer = await this.helpers.getBinaryDataBuffer(0, 'data');\nconst content = buffer.toString('utf8');\n\nconst filepath = typeof input.path === 'string' && input.path.trim() !== '' ? input.path.trim() : '';\n\nif (!filepath) {\n  throw new Error('Missing filepath from local file trigger payload');\n}\n\nconst filename = filepath.split('/').pop() || filepath;\n\nconst modifiedCandidates = [\n  input.modifiedEpoch,\n  input.mtimeMs,\n  input.modified,\n  input.lastModified,\n  input.mtime,\n  input.updatedAt,\n  input.timestamp\n];\n\nlet modifiedEpoch;\nfor (const candidate of modifiedCandidates) {\n  if (candidate === undefined || candidate === null || candidate === '') {\n    continue;\n  }\n\n  const numeric = Number(candidate);\n  if (Number.isFinite(numeric) && numeric > 0) {\n    modifiedEpoch = numeric > 9999999999 ? Math.floor(numeric / 1000) : Math.floor(numeric);\n    break;\n  }\n\n  const parsed = Date.parse(String(candidate));\n  if (Number.isFinite(parsed) && parsed > 0) {\n    modifiedEpoch = Math.floor(parsed / 1000);\n    break;\n  }\n}\n\nconst normalizedPath = filepath.replace(/\\\\/g, '/');\nconst projectMatch = normalizedPath.match(/^\\/home\\/node\\/\\.n8n-files\\/openbrain\\/inbox\\/([^/]+)\\/[^/]+$/);\nconst derivedProjectSlug = projectMatch ? projectMatch[1] : null;\n\nreturn [{\n  json: {\n    filepath,\n    filename,\n    content,\n    ...(modifiedEpoch !== undefined ? { modifiedEpoch } : {}),\n    ...(derivedProjectSlug ? { project_slug: derivedProjectSlug } : {})\n  }\n}];"
      },
      "id": "c4a1a6de-84a7-4db3-a3dd-2d1a8164f103",
      "name": "Normalize File Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        0
      ]
    },
    {
      "parameters": {
        "source": "database",
        "workflowId": {
          "value": "ssU3NaOubEvfb9fc",
          "mode": "list",
          "cachedResultName": "openbrain-ingest"
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "d8b94c86-64d4-4f4a-95d0-f8d5c6489e01",
      "name": "Execute openbrain-ingest",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        780,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const base = $('Normalize File Payload').first().json;\nconst ingestResult = $json ?? {};\n\nreturn [{\n  json: {\n    success: true,\n    filepath: base.filepath,\n    filename: base.filename,\n    derivedProjectSlug: base.project_slug ?? null,\n    ingestResult\n  }\n}];"
      },
      "id": "c4a1a6de-84a7-4db3-a3dd-2d1a8164f105",
      "name": "Return Watch Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ]
    }
  ],
  "connections": {
    "Local File Trigger": {
      "main": [
        [
          {
            "node": "Read File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read File": {
      "main": [
        [
          {
            "node": "Normalize File Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize File Payload": {
      "main": [
        [
          {
            "node": "Execute openbrain-ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute openbrain-ingest": {
      "main": [
        [
          {
            "node": "Return Watch Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "active": false,
  "versionId": "4d47d54b-0f1f-45a6-b3ef-9f12c9a85a05",
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "id": "openbrain-auto-ingest-watch"
}
