workflows/project-memory.json
{
  "name": "project-memory",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "project-memory",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-project-memory",
      "name": "Project Memory Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        300
      ],
      "webhookId": "project-memory"
    },
    {
      "parameters": {
        "jsCode": "const payload = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\nconst projectSlug = typeof payload.project_slug === 'string' ? payload.project_slug.trim() : '';\nconst runId = typeof payload.run_id === 'string' && payload.run_id.trim() !== '' ? payload.run_id.trim() : 'project-memory-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8);\nconst correlationId = typeof payload.correlation_id === 'string' && payload.correlation_id.trim() !== '' ? payload.correlation_id.trim() : runId;\nconst slugPattern = /^[a-z0-9]+(?:[-_][a-z0-9]+)*$/;\nconst withStage = (trace, stage, status, extra = {}) => {\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (trace.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (trace.error_message ?? null);\n  return {\n    ...trace,\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...(Array.isArray(trace.stage_history) ? trace.stage_history : []),\n      { stage, status, timestamp, error_code: errorCode, error_message: errorMessage },\n    ],\n  };\n};\nconst trace = {\n  run_id: runId,\n  correlation_id: correlationId,\n  workflow_name: 'project-memory',\n  project_slug: null,\n  source_type: 'project_memory_request',\n  filename: null,\n  filepath: null,\n  stage: 'received',\n  status: 'received',\n  error_code: null,\n  error_message: null,\n  timestamp: new Date().toISOString(),\n  workflow_chain: ['project-memory'],\n  stage_history: [],\n};\nif (!projectSlug || !slugPattern.test(projectSlug)) {\n  return [{ json: { request_ok: false, error: { code: 'INVALID_PROJECT_SLUG', message: 'Missing or invalid project_slug', classification: 'validation', retryable: false }, trace: withStage(trace, 'validation', 'rejected', { project_slug: projectSlug || null, error_code: 'INVALID_PROJECT_SLUG', error_message: 'Missing or invalid project_slug' }) } }];\n}\nreturn [{ json: { request_ok: true, project_slug: projectSlug, trace: withStage({ ...trace, project_slug: projectSlug }, 'validated', 'accepted', { project_slug: projectSlug }) } }];"
      },
      "id": "code-validate-project-memory-request",
      "name": "Validate Project Memory Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const withStage = (trace, stage, status, extra = {}) => {\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (trace?.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (trace?.error_message ?? null);\n  return {\n    ...(trace || {}),\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...((trace && Array.isArray(trace.stage_history)) ? trace.stage_history : []),\n      { stage, status, timestamp, error_code: errorCode, error_message: errorMessage },\n    ],\n  };\n};\nif ($json.request_ok !== true) {\n  return [{ json: { ok: false, error: $json.error, trace: withStage($json.trace, 'response_ready', 'rejected', { error_code: $json.error?.code ?? 'INVALID_PROJECT_SLUG', error_message: $json.error?.message ?? 'Missing or invalid project_slug' }) } }];\n}\nreturn [{ json: { ok: true, project_slug: $json.project_slug, memory_filter: { project_slug: $json.project_slug }, trace: withStage($json.trace, 'response_ready', 'succeeded') } }];"
      },
      "id": "code-build-project-memory-response",
      "name": "Build Project Memory Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "respond-project-memory",
      "name": "Respond Project Memory Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1160,
        300
      ]
    }
  ],
  "connections": {
    "Project Memory Webhook": {
      "main": [
        [
          {
            "node": "Validate Project Memory Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Project Memory Request": {
      "main": [
        [
          {
            "node": "Build Project Memory Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Project Memory Response": {
      "main": [
        [
          {
            "node": "Respond Project Memory Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "versionId": "9ab6c449-58ec-4ca9-89e4-2d0c57c856d0",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "project-memory"
}
