workflows/search-by-embedding-context.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "search-by-embedding",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "56302300-951e-4e64-a203-50bc347eb7a8",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "webhookId": "search-by-embedding"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/embed",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"nomic-embed-text\",\n  \"input\": $json.body?.query ?? $json.query,\n  \"truncate\": true\n} }}",
        "options": {}
      },
      "id": "a744f4c8-636c-492c-842a-079470839aad",
      "name": "Generate Query Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        272,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const webhookItem = $('Webhook').first().json;\nconst queryText = webhookItem.body?.query ?? webhookItem.query;\n\nif (!queryText || typeof queryText !== 'string') {\n  throw new Error('Request body must include a string field named query.');\n}\n\nconst embeddings = $json.embeddings;\nif (!Array.isArray(embeddings) || !Array.isArray(embeddings[0])) {\n  throw new Error('Ollama response did not contain embeddings[0].');\n}\n\nconst vector = embeddings[0];\nconst vectorLiteral = `[${vector.join(',')}]`;\n\nreturn [{\n  json: {\n    query: queryText,\n    vector_literal: vectorLiteral\n  }\n}];"
      },
      "id": "d2451329-98e0-4f60-b4c9-bb72a2d21ac0",
      "name": "Prepare Vector",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "{{ `SELECT id, title, category, source, content, 1 - (embedding <=> '${$json.vector_literal}'::vector) AS similarity\nFROM memories\nWHERE embedding IS NOT NULL\nORDER BY embedding <=> '${$json.vector_literal}'::vector\nLIMIT 5;` }}",
        "options": {}
      },
      "id": "4ade8405-2728-45a5-bcc4-1f52420c626c",
      "name": "Search Memories",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        784,
        0
      ],
      "credentials": {
        "postgres": {
          "id": "j60Gpt1oeRVTUCH2",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const query = $('Prepare Vector').first().json.query;\nconst items = $input.all();\n\nconst matches = items.map((item) => {\n  const row = item.json || {};\n  return {\n    id: row.id,\n    title: row.title,\n    category: row.category,\n    source: row.source,\n    content: row.content,\n    similarity: typeof row.similarity === 'number'\n      ? Number(row.similarity.toFixed(6))\n      : row.similarity\n  };\n});\n\nconst contextText = matches.length\n  ? matches.map((match, index) => {\n      return [\n        `Memory ${index + 1}`,\n        `Title: ${match.title ?? ''}`,\n        `Category: ${match.category ?? ''}`,\n        `Source: ${match.source ?? ''}`,\n        `Content: ${match.content ?? ''}`\n      ].join('\\n');\n    }).join('\\n\\n')\n  : 'No relevant memories found.';\n\nreturn [{\n  json: {\n    query,\n    match_count: matches.length,\n    matches,\n    context_text: contextText\n  }\n}];"
      },
      "id": "fa8bf8f3-b6ea-4ab8-b920-9c37f2e6725f",
      "name": "Format Retrieval Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate Query Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Query Embedding": {
      "main": [
        [
          {
            "node": "Prepare Vector",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Vector": {
      "main": [
        [
          {
            "node": "Search Memories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Memories": {
      "main": [
        [
          {
            "node": "Format Retrieval Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "56b92b9ea61be735ca16935ff625239de8741419435cb59d1644bfb7ca65070f"
  }
}
