workflows/validation-and-errors.json
{
  "name": "validation-and-errors",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "validation-and-errors",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-validation-and-errors",
      "name": "Validation Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        260,
        300
      ],
      "webhookId": "validation-and-errors"
    },
    {
      "parameters": {
        "jsCode": "const payload = ($json.body && typeof $json.body === 'object') ? $json.body : $json;\nconst rawQuery = payload.query;\nconst rawProjectSlug = payload.project_slug;\nconst runId = typeof payload.run_id === 'string' && payload.run_id.trim() !== '' ? payload.run_id.trim() : 'validation-and-errors-' + Date.now() + '-' + Math.random().toString(36).slice(2, 8);\nconst correlationId = typeof payload.correlation_id === 'string' && payload.correlation_id.trim() !== '' ? payload.correlation_id.trim() : runId;\nconst slugPattern = /^[a-z0-9]+(?:[-_][a-z0-9]+)*$/;\nconst withStage = (trace, stage, status, extra = {}) => {\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (trace.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (trace.error_message ?? null);\n  return {\n    ...trace,\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...(Array.isArray(trace.stage_history) ? trace.stage_history : []),\n      { stage, status, timestamp, error_code: errorCode, error_message: errorMessage },\n    ],\n  };\n};\nconst trace = {\n  run_id: runId,\n  correlation_id: correlationId,\n  workflow_name: 'validation-and-errors',\n  project_slug: null,\n  source_type: 'validation_request',\n  filename: null,\n  filepath: null,\n  stage: 'received',\n  status: 'received',\n  error_code: null,\n  error_message: null,\n  timestamp: new Date().toISOString(),\n  workflow_chain: ['validation-and-errors'],\n  stage_history: [],\n};\nif (typeof rawQuery !== 'string' || rawQuery.trim() === '') {\n  return [{ json: { request_ok: false, error: { code: 'INVALID_QUERY', message: 'Missing or invalid query', classification: 'validation', retryable: false }, trace: withStage(trace, 'validation', 'rejected', { error_code: 'INVALID_QUERY', error_message: 'Missing or invalid query' }) } }];\n}\nif (rawProjectSlug !== undefined && typeof rawProjectSlug !== 'string') {\n  return [{ json: { request_ok: false, error: { code: 'INVALID_PROJECT_SLUG', message: 'Invalid project_slug', classification: 'validation', retryable: false }, trace: withStage(trace, 'validation', 'rejected', { error_code: 'INVALID_PROJECT_SLUG', error_message: 'Invalid project_slug' }) } }];\n}\nconst projectSlug = typeof rawProjectSlug === 'string' ? rawProjectSlug.trim() : '';\nif (projectSlug && !slugPattern.test(projectSlug)) {\n  return [{ json: { request_ok: false, error: { code: 'INVALID_PROJECT_SLUG', message: 'project_slug must use lowercase slug characters only', classification: 'validation', retryable: false }, trace: withStage(trace, 'validation', 'rejected', { project_slug: projectSlug, error_code: 'INVALID_PROJECT_SLUG', error_message: 'project_slug must use lowercase slug characters only' }) } }];\n}\nreturn [{ json: { request_ok: true, query: rawQuery.trim(), project_slug: projectSlug || '', trace: withStage({ ...trace, project_slug: projectSlug || null }, 'validated', 'accepted', { project_slug: projectSlug || null }) } }];"
      },
      "id": "code-validate-validation-request",
      "name": "Validate Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const withStage = (trace, stage, status, extra = {}) => {\n  const timestamp = new Date().toISOString();\n  const errorCode = Object.prototype.hasOwnProperty.call(extra, 'error_code') ? extra.error_code : (trace?.error_code ?? null);\n  const errorMessage = Object.prototype.hasOwnProperty.call(extra, 'error_message') ? extra.error_message : (trace?.error_message ?? null);\n  return {\n    ...(trace || {}),\n    ...extra,\n    stage,\n    status,\n    error_code: errorCode,\n    error_message: errorMessage,\n    timestamp,\n    stage_history: [\n      ...((trace && Array.isArray(trace.stage_history)) ? trace.stage_history : []),\n      { stage, status, timestamp, error_code: errorCode, error_message: errorMessage },\n    ],\n  };\n};\nif ($json.request_ok !== true) {\n  return [{ json: { ok: false, error: $json.error, trace: withStage($json.trace, 'response_ready', 'rejected', { error_code: $json.error?.code ?? 'INVALID_REQUEST', error_message: $json.error?.message ?? 'Request validation failed' }) } }];\n}\nreturn [{ json: { ok: true, message: 'Validation passed', query: $json.query, project_slug: $json.project_slug, trace: withStage($json.trace, 'response_ready', 'succeeded') } }];"
      },
      "id": "code-build-validation-response",
      "name": "Build Validation Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "respond-validation-and-errors",
      "name": "Respond Validation Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1160,
        300
      ]
    }
  ],
  "connections": {
    "Validation Webhook": {
      "main": [
        [
          {
            "node": "Validate Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Request": {
      "main": [
        [
          {
            "node": "Build Validation Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Validation Response": {
      "main": [
        [
          {
            "node": "Respond Validation Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "versionId": "6540836d-11ca-451a-a2d5-6d8ff6ed93df",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "validation-and-errors"
}
